{
	"name"          : "reverse_cowgirl_defeat",
	"base"          : "reverse_cowgirl",
	
	"dialog" : {
		"default" : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"apex"    : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"avian"   : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"fenerox" : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"floran"  : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"glitch"  : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"human"   : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"hylotl"  : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config",
		"novakid" : "/dialog/sexbound/<langcode>/positions/reversecowgirl/defaultcowgirldefeat.config"
	}
}