[{
    "default" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
},{
    "default" : {
       "default" : {
           "male" : {
                "default" : [
				"Must be easy lifting me, with how fast you're fucking!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Must be easy lifting me, with how fast you're fucking!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [
				"I knew you apes were big, but not this strong!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
					"I knew you apes were big, but not this strong!"],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [
				"You're so strong for a bird-brother!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"You're so strong for a bird-sister!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [
				"Kluex yes! Lift me, lift me to the stars!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Kluex yes! Lift me, lift me to the stars!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [
				"Big fearsome kitty! Uh~ so good!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Big fearsome kitty! Uh~ so good!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [
				"How~ are plants so strong?!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"How~ are plants so strong?!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
}]