{
	"base": "/dialog/sexbound/en/position/butterfly/defaultmissionarybutterfly.config",
	"content": {
		"vaginal": {
			"sex": {
				"sex": {
					"argonian": {
						"text": [
							"Yeah, take my cock, you big lizard!"
						]
					},
					"apex": {
						"text": [
							"Yeah, take my cock, you big furry ape!"
						]
					},
					"avali": {
						"text": [
							"Wow, your pussy is freezing cold!",
							"My dick feels like it's freezing!",
							"Yeah, take my cock, you fluffy bird raptor!"
						]
					},
					"avian": {
						"text": [
							"Yeah, take my cock, you big chicken!"
						]
					},
					"braixen": {
						"text": [
							"Is it just me, or is your pussy a little warmer than it should be?",
							"Yeah, take my cock, you big fluffy fox!"
						]
					},
					"bunnykin": {
						"text": [
							"You really do breed like a rabbit, don't you?!",
							"Yeah, take my cock, you big bunny!"
						]
					},
					"deerkin": {
						"text": [
							"Yeah, take my cock, you big deer!"
						]
					},
					"demon": {
						"text": [
							"If you're real, then that means I'm definately going to hell for this. Oh well, worth it.",
							"Yeah, take my cock, you big demon!"
						]
					},
					"draconis": {
						"text": [
							"I'm laying the dragon!",
							"Yeah, take my cock, you big dragon!"
						]
					},
					"everis": {
						"text": [
							"I have to admit, I'm a bit weirded out by this...",
							"Yeah, take my cock, foxy!"
						]
					},
					"eevee": {
						"text": [
							"Yeah, take my cock, you cute little foxy!"
						]
					},
					"familiar": {
						"text": [
							"Yeah, take my cock, you little glow-coon!"
						]
					},
					"felin": {
						"text": [
							"I'm gonna fuck this pussy till it purs!",
							"Yeah, take my cock, kitty!"
						]
					},
					"floran": {
						"text": [
							"Your petals are this soaked for me?",
							"Yeah, take my cock, plant!"
						]
					},
					"fragmentedruin": {
						"text": [
							"So, is this reason enough for you as to why you shouldn't destroy all life? I hope so!",
							"Maybe I should stop before you reconnect with your hivemind. On Second thought... nah.",
							"I can't believe I'm fucking the thing that destroyed Earth!",
							"Yeah, take my cock, you tentacle-thing!"
						]
					},
					"gardevan": {
						"text": [
							"Yeah, take my cock, you big plant... thing?! You are a plant, right?"
						]
					},
					"glitch": {
						"text": [
							"This pussy was designed specifically for my cock!"
						]
					},
					"human": {
						"text": [
							"You're so soft and lovely. I've wanted you all day~!"
						]
					},
					"hylotl": {
						"text": [
							"Your so soft and wet!",
							"Yeah, take my cock, fish!"
						]
					},
					"kemono": {
						"text": [
							"Your fur is tickling me! It's making me even harder!",
							"Yeah, take my cock, bitch!"
						]
					},
					"kitsune": {
						"text": [
							"Yeah, take my cock, you sexy vixen!"
						]
					},
					"lastree": {
						"text": [
							"If demons are real, does this mean I'm going to hell for this? ... Worth it."
						]
					},
					"Lomabx": {
						"text": [
							"Yeah, take my cock, you fox... thing!"
						]
					},
					"mauskin": {
						"text": [
							"Now we're breeding like mice!",
							"Yeah, take my cock, you little mouse!"
						]
					},
					"neko": {
						"text": [
							"Yeah, take my cock, you sexy kitty!"
						]
					},
					"neki": {
						"text": [
							"Yeah, take my cock, you horny fluffball!"
						]
					},
					"ningen": {
						"text": [
							"You're so soft and lovely. I've wanted you all day~!"
						]
					},
					"novakid": {
						"text": [
							"Your pussy is steaming hot!"
						]
					},
					"penguin": {
						"text": [
							"How am I even fitting my cock into you?",
							"Pirate this dick!"
						]
					},
					"renamon": {
						"text": [
							"Your fur is tickling me. It's making me even harder!",
							"Yeah, take my cock, you big fox!"
						]
					},
					"saturn": {
						"text": [
							"I have to admit, feels a bit weird fucking a bug.",
							"Why is bug pussy so damn sexy?!",
							"Yeah, take my cock, bug!"
						]
					},
					"shadow": {
						"text": [
							"Yeah, take my cock, you ... dark... thing!"
						]
					}
				},
				"climax": {
					"familiar": {
						"text": [
							"Wait, your cum glows too?!"
						]
					}
				}
			}
		},
		"r_vaginal": {
			"sex": {
				"sex": {
					"apex": {
						"text": [
							"It's so big and so thick~!",
							"YES! Stuff me full with your hairy cock!",
							"OH! Yes! You're MY Big Ape!"
						]
					},
					"argonian": {
						"text": [
							"Your lizard cock feels so weird... yet so goood! Don't stop!"
						]
					},
					"avali": {
						"text": [
							"Your cock is so cold!",
							"Your floofy feathers are tickling me! It's turning me on so much!"
						]
					},
					"avian": {
						"text": [
							"I am your offering to Kluex!",
							"Your fluffy feathers are tickling me! It's turning me on so much!"
						]
					},
					"braixen": {
						"text": [
							"Your fur is so warm and so ticklish! It's turning me on so hard!",
							"Yes... give me your big doggy dick!"
						]
					},
					"bunnykin": {
						"text": [
							"Yes! Breed me like a rabbit!",
							"What they say about bunnies is true! Don't stop!",
							"It keeps on going and going and going and going...."
						]
					},
					"deerkin": {
						"text": [
							"So gentle, yet so dominating!",
							"Yes! Give me your long deer cock!"
						]
					},
					"demon": {
						"text": [
							"If this is what hell feels like, keep on making me sin!"
						]
					},
					"everis": {
						"text": [
							"I admit this is a bit weird... but don't stop!"
						]
					},
					"eevee": {
						"text": [
							"Your fur is tickling me! It's turning me on so much!",
							"Yes, fuck me, you adorable little foxy!",
							"I can feel your knot slapping against my pussy!"
						]
					},
					"familiar": {
						"text": [
							"Your cock feels amazing! Don't stop you big cute... glowing... furry thing!",
							"Your cock is glowing inside of me!",
							"Your cock feels weird inside of me. It's driving me nuts!"
						]
					},
					"felin": {
						"text": [
							"Your cock is so scratchy... yet it feels so good. Don't stop!",
							"Are those... spines? It hurts, yet it's so good!"
						]
					},
					"floran": {
						"text": [
							"What's... what's in your pollen?",
							"I've never been this wet before, your nectar is driving me wild!",
							"Your petals are this soaked for me?",
							"Ooooh~, your cock tingles",
							"I can feel you wriggling inside me!",
							"Your scent makes me... it makes me want your cock so badly..."
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your petals are so plump and swollen!",
									"This nectar is... so strong! I need more!"
								]
							}
						}
					},
					"fragmentedruin": {
						"text": [
							"This is all sorts of wrong... Don't stop!",
							"Why does this feel so damn good?",
							"I can't believe I'm being fucked by the thing that destroyed the Earth! It's so goood!",
							"Your tentacle is wiggling around inside of me!",
							"I hope my body is enough to convince you not to destroy the universe."
						]
					},
					"gardevan": {
						"text": [
							"What's... what's in your pollen?",
							"I've never been this wet before, your nectar is driving me wild!",
							"Your petals are this soaked for me?",
							"Ooooh~, your cock tingles",
							"I can feel you wriggling inside me!",
							"Your scent makes me... it makes me want your cock so badly..."
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your petals are so plump and swollen!",
									"This nectar is... so strong! I need more!"
								]
							}
						}
					},
					"glitch": {
						"text": [
							"Oooohh~ I didn't know you could do that~~!",
							"You're making my pussy tingle~!",
							"You didn't tell me you could vibrate~!",
							"I... I didn't know it could extend like thiiiiiisss!",
							"It's so big... and greasy!",
							"I can feel it twisting inside me!~~~~",
							"It's... it's getting bigger inside me~!"
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"I can hear the gears in your belly!"
								]
							}
						}
					},
					"human": {
						"text": [
							"Your soft belly turns me on so much!"
						]
					},
					"hylotl": {
						"text": [
							"Oh god, your scales are rubbing just right! Don't stop!"
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your belly is so big! It's got me all wet thinking about it!",
									"I can feel your pregnant belly against me! I didn't know that would make me so wet!~",
									"I can feel your eggs moving around, you're so full!"
								]
							}
						}
					},
					"kemono": {
						"text": [
							"Your fur is tickling me! It turns me on so much!",
							"Upgh! Yes! Pound me like the big dog you are!",
							"I can feel your knot pounding against my pussy! Don't you dare stop!"
						]
					},
					"kitsune": {
						"text": [
							"The ears and tail just make you all the hotter!",
							"I'm so glad you have a canine dick. Can't wait for you to knot me!",
							"Yes! Give it to me, doggie-boy!"
						]
					},
					"mauskin": {
						"text": [
							"So this is what being bred by a mouse feels like! Don't stop!",
							"Breed me like a rat!"
						]
					},
					"neko": {
						"text": [
							"You have spines, yet they're soft. So good!",
							"Me-yow, hun!"
						]
					},
					"neki": {
						"text": [
							"You have spines, yet they're soft. So good!",
							"Your fur is tickling me! It turns me on so much!"
						]
					},
					"ningen": {
						"text": [
							"Your soft belly turns me on so much!"
						]
					},
					"novakid": {
						"Your rod is burning hot inside me~~!",
						"What will... what will happen if you come inside me?",
						"Your cock is making my belly glowwww!"
					},
					"penguin": {
						"text": [
							"Wow, for such a little guy you sure have a big worm!",
							"You are plundering my pussy!"
						]
					},
					"saturn": {
						"text": [
							"Your cock feels odd. Odd, but good!",
							"Never thought a bug could fuck this good! Keep going!"
						]
					}
				},
				"climax": {
					"apex": {
						"text": [
							"OH you're filling me up! Make me carry your little apes!"
						]
					},
					"argonian": {
						"text": [
							"Yess! Fill me full of your swamp eggs!"
						]
					},
					"avali": {
						"text": [
							"Hng yess! I want to have your chicks!",
							"It's freezing!"
						]
					},
					"avian": {
						"text": [
							"Hng Yesss, I want to have your chicks!"
						]
					},
					"braixen": {
						"text": [
							"Yess! Give me your pups!!",
							"Yesss! Give me your knot! Tie me up and fill me!"
						]
					},
					"bunnykin": {
						"text": [
							"Yes! Fill me full of little bunnies!",
							"Ungh, fill me u- wow, ready to go again? Such stamina!"
						]
					},
					"deerkin": {
						"text": [
							"Yes! Give me your fawns!"
						]
					},
					"everis": {
						"text": [
							"Yes! give me your... whatever you call your children!"
						]
					},
					"eevee": {
						"text": [
							"Yes! Fill me full of your pups!",
							"Yes, knot me! Tie me up and fill me!"
						]
					},
					"familiar": {
						"text": [
							"Yes! Fill me full of your glowing cum!",
							"Your cum glows too?!",
							"So about this glowing cum... should I be worried? No? Okay then. Give me more!"
						]
					},
					"felin": {
						"text": [
							"Give me your kittens!"
						]
					},
					"fenerox": {
						"text": [
							"Oh god, your claws are digging into me! It feels so good!"
						]
					},
					"floran": {
						"text": [
							"Your nectar is running everywhere~",
							"Your cum is making me dizzy~!",
							"Your cum tingles! Is it going to make me pregnant?",
							"Plant your seeds inside me!",
							"I want to carry your seedlings~!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Yess! Fill me with- wait, I'm not going to burst open from the inside, am I?"
						]
					},
					"gardevan": {
						"text": [
							"Your nectar is running everywhere~",
							"Your cum is making me dizzy~!",
							"Your cum tingles! Is it going to make me pregnant?",
							"Plant your seeds inside me!",
							"I want to carry your seedlings~!"
						]
					},
					"glitch": {
						"text": [
							"OH~ This oil... this oil feels so good!",
							"You're squirting your oil down my thighs!",
							"Your oil is so thick and warm!",
							"OH~ That's not just oil... is it.",
							"I hope that's more than just oil, I want you to knock me up~!",
							"I'm getting slick with your oil~~!"
						]
					},
					"hylotl": {
						"text": [
							"Yes, give me your milt!"
						]
					},
					"kemono": {
						"text": [
							"Yes! Give me a litter of pups!!",
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"kitsune": {
						"text": [
							"Yes! Give me a litter of pups!!",
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"neko": {
						"text": [
							"Yess! Fill me with a litter!"
						]
					},
					"novakid": {
						"Your cum is steaming hot~!",
						"Your spunk is so hot!",
						"Our juices are glowing together~!",
						"Your cum is lighting up my pussy!",
						"I can see it glowing in my womb~!",
						"Steam is coming out! Ohhh it feels so good~!",
						"I hope you knocked me up! It feels so hot inside me!"
					},
					"saturn": {
						"text": [
							"Yes! Fill me full of your butterfly eggs!"
						]
					},
					"shadow": {
						"text": [
							"I'm leaking dark matter... should I be worried?"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"apex": {
						"text": [
							"Oh yes, your ape cock is making me cum!"
						]
					},
					"avali": {
						"text": [
							"Oh, I'm soaking your feathers!",
							"Your prey is cumming~!",
							"Oooh~! Your cloaca is rubbing on my clit!"
						]
					},
					"novakid": {
						"text": [
							"Your cock is red hot! Don't stop!!!~"
						]
					}
				},
				"climax": {
					"apex": {
						"text": [
							"OH you're filling me up! Make me carry your little apes!"
						]
					},
					"argonian": {
						"text": [
							"Yess! Fill me full of your swamp eggs!"
						]
					},
					"avali": {
						"text": [
							"Hng yess! I want to have your chicks!",
							"It's freezing!"
						]
					},
					"avian": {
						"text": [
							"Hng Yesss, I want to have your chicks!"
						]
					},
					"braixen": {
						"text": [
							"Yess! Give me your pups!!",
							"Yesss! Give me your knot! Tie me up and fill me!"
						]
					},
					"bunnykin": {
						"text": [
							"Yes! Fill me full of little bunnies!",
							"Ungh, fill me u- wow, ready to go again? Such stamina!"
						]
					},
					"deerkin": {
						"text": [
							"Yes! Give me your fawns!"
						]
					},
					"everis": {
						"text": [
							"Yes! give me your... whatever you call your children!"
						]
					},
					"eevee": {
						"text": [
							"Yes! Fill me full of your pups!",
							"Yes, knot me! Tie me up and fill me!"
						]
					},
					"familiar": {
						"text": [
							"Yes! Fill me full of your glowing cum!",
							"Your cum glows too?!",
							"So about this glowing cum... should I be worried? No? Okay then. Give me more!"
						]
					},
					"felin": {
						"text": [
							"Give me your kittens!"
						]
					},
					"fenerox": {
						"text": [
							"Oh god, your claws are digging into me! It feels so good!"
						]
					},
					"floran": {
						"text": [
							"Your nectar is running everywhere~",
							"Your cum is making me dizzy~!",
							"Your cum tingles! Is it going to make me pregnant?",
							"Plant your seeds inside me!",
							"I want to carry your seedlings~!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Yess! Fill me with- wait, I'm not going to burst open from the inside, am I?"
						]
					},
					"gardevan": {
						"text": [
							"Your nectar is running everywhere~",
							"Your cum is making me dizzy~!",
							"Your cum tingles! Is it going to make me pregnant?",
							"Plant your seeds inside me!",
							"I want to carry your seedlings~!"
						]
					},
					"glitch": {
						"text": [
							"OH~ This oil... this oil feels so good!",
							"You're squirting your oil down my thighs!",
							"Your oil is so thick and warm!",
							"OH~ That's not just oil... is it.",
							"I hope that's more than just oil, I want you to knock me up~!",
							"I'm getting slick with your oil~~!"
						]
					},
					"hylotl": {
						"text": [
							"Yes, give me your milt!"
						]
					},
					"kemono": {
						"text": [
							"Yes! Give me a litter of pups!!",
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"kitsune": {
						"text": [
							"Yes! Give me a litter of pups!!",
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"neko": {
						"text": [
							"Yess! Fill me with a litter!"
						]
					},
					"novakid": {
						"Your cum is steaming hot~!",
						"Your spunk is so hot!",
						"Our juices are glowing together~!",
						"Your cum is lighting up my pussy!",
						"I can see it glowing in my womb~!",
						"Steam is coming out! Ohhh it feels so good~!",
						"I hope you knocked me up! It feels so hot inside me!",
						"It's like fucking in a sauna!",
						"Yes let's cum together, it's sizzling!"
					},
					"saturn": {
						"text": [
							"Yes! Fill me full of your butterfly eggs!"
						]
					},
					"shadow": {
						"text": [
							"I'm leaking dark matter... should I be worried?"
						]
					}
				}
			}
		},
		"anal": {
			"sex": {
				"sex": {
					"argonian": {
						"text": [
							"Yeah, take my cock, you big lizard!"
						]
					},
					"apex": {
						"text": [
							"Yeah, take my cock, you big furry ape!"
						]
					},
					"avali": {
						"text": [
							"Wow, your ass is freezing cold!",
							"My dick feels like it's freezing!",
							"Yeah, take my cock, you fluffy bird raptor!"
						]
					},
					"avian": {
						"text": [
							"Yeah, take my cock, you big chicken!"
						]
					},
					"braixen": {
						"text": [
							"Is it just me, or is my cock getting warm in your ass?",
							"Yeah, take my cock, you big fluffy fox!"
						]
					},
					"bunnykin": {
						"text": [
							"You really do breed like a rabbit, don't you?!",
							"Yeah, take my cock, you big bunny!"
						]
					},
					"deerkin": {
						"text": [
							"Yeah, take my cock, you big deer!"
						]
					},
					"demon": {
						"text": [
							"If you're real, then that means I'm definately going to hell for this. Oh well, worth it.",
							"Yeah, take my cock, you big demon!"
						]
					},
					"draconis": {
						"text": [
							"I'm laying the dragon!",
							"Yeah, take my cock, you big dragon!"
						]
					},
					"everis": {
						"text": [
							"Yeah, take my cock, fox-lady!"
						]
					},
					"eevee": {
						"text": [
							"Yeah, take my cock, you cute little foxy!"
						]
					},
					"familiar": {
						"text": [
							"Yeah, take my cock, you little glow-coon!"
						]
					},
					"felin": {
						"text": [
							"I'd make a pussy joke, but that would be just ass.",
							"Yeah, take my cock, kitty!"
						]
					},
					"floran": {
						"text": [
							"Your petals are this soaked for me?",
							"Yeah, take my cock, plant!"
						]
					},
					"fragmentedruin": {
						"text": [
							"So, is this reason enough for you as to why you shouldn't destroy all life? I hope so!",
							"Maybe I should stop before you reconnect with your hivemind. On Second thought... nah.",
							"I can't believe I'm fucking the thing that destroyed Earth!",
							"Yeah, take my cock, you tentacle-thing!"
						]
					},
					"gardevan": {
						"text": [
							"Yeah, take my cock, you big plant... thing?! You are a plant, right?"
						]
					},
					"glitch": {
						"text": [
							"Yeah, take my cock, you machine!"
						]
					},
					"human": {
						"text": [
							"You're so soft and lovely. I've wanted you all day~!"
						]
					},
					"hylotl": {
						"text": [
							"Your so soft and wet!",
							"Yeah, take my cock, fish!"
						]
					},
					"kemono": {
						"text": [
							"Your fur is tickling me! It's making me even harder!",
							"Yeah, take my cock, bitch!"
						]
					},
					"kitsune": {
						"text": [
							"Yeah, take my cock, you sexy fox!"
						]
					},
					"lastree": {
						"text": [
							"If demons are real, does this mean I'm going to hell for this? ... Worth it."
						]
					},
					"Lomabx": {
						"text": [
							"Yeah, take my cock, you fox... thing!"
						]
					},
					"mauskin": {
						"text": [
							"Now we're breeding like mice!",
							"Yeah, take my cock, you little mouse!"
						]
					},
					"neko": {
						"text": [
							"Yeah, take my cock, you sexy kitty!"
						]
					},
					"neki": {
						"text": [
							"Yeah, take my cock, you horny fluffball!"
						]
					},
					"ningen": {
						"text": [
							"You're so soft and lovely. I've wanted you all day~!"
						]
					},
					"novakid": {
						"text": [
							"My cock feels like it's on fire!! ... Keep going."
						]
					},
					"penguin": {
						"text": [
							"How am I even fitting my cock into you?",
							"Pirate this dick!",
							"I be plundering this penguin pussy!"
						]
					},
					"renamon": {
						"text": [
							"Your fur is tickling me. It's making me even harder!",
							"Yeah, take my cock, you big fox!"
						]
					},
					"saturn": {
						"text": [
							"I have to admit, feels a bit weird fucking a bug.",
							"Yeah, take my cock, bug!"
						]
					},
					"shadow": {
						"text": [
							"Yeah, take my cock, you ... dark... thing!"
						]
					}
				},
				"climax": {
					"familiar": {
						"text": [
							"Wait, your cum glows too?!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"apex": {
						"text": [
							"It's so big and so thick~!",
							"YES! Stuff me full with your hairy cock!",
							"OH! Yes! You're MY Big Ape!"
						]
					},
					"argonian": {
						"text": [
							"Your lizard cock feels so weird... yet so goood! Don't stop!"
						]
					},
					"avali": {
						"text": [
							"Your cock is so cold!",
							"Your floofy feathers are tickling me! It's turning me on so much!"
						]
					},
					"avian": {
						"text": [
							"I am your offering to Kluex!",
							"Your fluffy feathers are tickling me! It's turning me on so much!"
						]
					},
					"braixen": {
						"text": [
							"Your fur is so warm and so ticklish! It's turning me on so hard!",
							"Yes... give me your big doggy dick!"
						]
					},
					"bunnykin": {
						"text": [
							"What they say about bunnies is true! Don't stop!",
							"It keeps on going and going and going and going...."
						]
					},
					"deerkin": {
						"text": [
							"So gentle, yet so dominating!",
							"Yes! Give me your long deer cock!"
						]
					},
					"demon": {
						"text": [
							"If this is what hell feels like, keep on making me sin!"
						]
					},
					"everis": {
						"text": [
							"I admit this is a bit weird... but don't stop!"
						]
					},
					"eevee": {
						"text": [
							"Your fur is tickling me! It's turning me on so much!",
							"Yes, fuck me, you adorable little foxy!",
							"I can feel your knot slapping against my ass!"
						]
					},
					"familiar": {
						"text": [
							"Your cock feels amazing! Don't stop you big cute... glowing... furry thing!",
							"Your cock is glowing inside of me!",
							"Your cock feels weird inside of me. It's driving me nuts!"
						]
					},
					"felin": {
						"text": [
							"Your cock is so scratchy... yet it feels so good. Don't stop!",
							"Are those... spines? It hurts, yet it's so good!"
						]
					},
					"floran": {
						"text": [
							"What's... what's in your pollen?",
							"I've never been this horny before, your nectar is driving me wild!",
							"Your petals are this soaked for me?",
							"Ooooh~, your cock tingles",
							"I can feel you wriggling inside me!",
							"Your scent makes me... it makes me want your cock so badly..."
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your petals are so plump and swollen!",
									"This nectar is... so strong! I need more!"
								]
							}
						}
					},
					"fragmentedruin": {
						"text": [
							"This is all sorts of wrong... Don't stop!",
							"Why does this feel so damn good?",
							"I can't believe I'm being fucked by the thing that destroyed the Earth! It's so goood!",
							"Your tentacle is wiggling around inside of me!",
							"I hope my body is enough to convince you not to destroy the universe."
						]
					},
					"gardevan": {
						"text": [
							"What's... what's in your pollen?",
							"I've never been this horny before, your nectar is driving me wild!",
							"Your petals are this soaked for me?",
							"Ooooh~, your cock tingles",
							"I can feel you wriggling inside me!",
							"Your scent makes me... it makes me want your cock so badly..."
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your petals are so plump and swollen!",
									"This nectar is... so strong! I need more!"
								]
							}
						}
					},
					"glitch": {
						"text": [
							"Oooohh~ I didn't know you could do that~~!",
							"You're making my ass tingle~!",
							"You didn't tell me you could vibrate~!",
							"I... I didn't know it could extend like thiiiiiisss!",
							"It's so big... and greasy!",
							"I can feel it twisting inside me!~~~~",
							"It's... it's getting bigger inside me~!"
						]
					},
					"human": {
						"text": [
							"Your soft belly turns me on so much!"
						]
					},
					"hylotl": {
						"text": [
							"Oh god, your scales are rubbing just right! Don't stop!"
						],
						"otherStatus": {
							"pregnant": {
								"text": [
									"I can feel your eggs moving around, you're so full!"
								]
							}
						}
					},
					"kemono": {
						"text": [
							"Your fur is tickling me! It turns me on so much!",
							"Upgh! Yes! Pound me like the big dog you are!",
							"I can feel your knot pounding against my ass! Don't you dare stop!"
						]
					},
					"kitsune": {
						"text": [
							"The ears and tail just make you all the hotter!",
							"I'm so glad you have a canine dick. Can't wait for you to knot me!",
							"Yes! Give it to me, doggie-boy!"
						]
					},
					"mauskin": {
						"text": [
							"So this is what being bred by a mouse feels like! Don't stop!",
							"Breed me like a rat!"
						]
					},
					"neko": {
						"text": [
							"You have spines, yet they're soft. So good!",
							"Me-yow, hun!"
						]
					},
					"neki": {
						"text": [
							"You have spines, yet they're soft. So good!",
							"Your fur is tickling me! It turns me on so much!"
						]
					},
					"ningen": {
						"text": [
							"Your soft belly turns me on so much!"
						]
					},
					"novakid": {
						"Your rod is burning hot inside me~~!",
						"What will... what will happen if you come inside me?",
						"Your cock is making my belly glowwww!"
					},
					"penguin": {
						"text": [
							"Wow, for such a little guy you sure have a big worm!",
							"You are plundering my ass!"
						]
					},
					"saturn": {
						"text": [
							"Your cock feels odd. Odd, but good!",
							"Never thought a bug could fuck this good! Keep going!"
						]
					}
				},
				"climax": {
					"avali": {
						"text": [
							"It's freezing!"
						]
					},
					"avian": {
						"text": [
							"Hng yessss, make me fly!"
						]
					},
					"braixen": {
						"text": [
							"Yesss! Give me your knot! Tie me up and fill me!"
						]
					},
					"bunnykin": {
						"text": [
							"Ungh, fill me u- wow, ready to go again? Such stamina!"
						]
					},
					"eevee": {
						"text": [
							"Yes, knot me! Tie me up and fill me!"
						]
					},
					"familiar": {
						"text": [
							"Yes! Fill me full of your glowing cum!",
							"Your cum glows too?!",
							"So about this glowing cum... should I be worried? No? Okay then. Give me more!"
						]
					},
					"fenerox": {
						"text": [
							"Oh god, your claws are digging into me! It feels so good!"
						]
					},
					"floran": {
						"text": [
							"Your nectar is running everywhere~~",
							"Your cum is making me dizzy~!",
							"Your cum tingles!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Yess! Fill me with- wait, I'm not going to burst open from the inside, am I?"
						]
					},
					"gardevan": {
						"text": [
							"Your nectar is running everywhere~~",
							"Your cum is making me dizzy~!",
							"Your cum tingles!"
						]
					},
					"glitch": {
						"text": [
							"OH~ This oil... this oil feels so good!",
							"You're squirting your oil down my thighs!",
							"Your oil is so thick and warm!",
							"OH~ That's not just oil... is it.",
							"I'm getting slick with your oil~~!"
						]
					},
					"kemono": {
						"text": [
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"kitsune": {
						"text": [
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"novakid": {
						"Your cum is steaming hot~!",
						"Your spunk is so hot!",
						"Our juices are glowing together~!",
						"Your cum is lighting up my ass!",
						"Steam is coming out! Ohhh it feels so good~!"
					},
					"shadow": {
						"text": [
							"I'm leaking dark matter... should I be worried?"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"apex": {
						"text": [
							"Oh yes, your ape cock is making me cum!"
						]
					},
					"avali": {
						"text": [
							"Oh, I'm soaking your feathers!",
							"Your prey is cumming~!"
						]
					},
					"novakid": {
						"text": [
							"Your cock is red hot! Don't stop!!!~"
						]
					}
				},
				"climax": {
					"avali": {
						"text": [
							"It's freezing!"
						]
					},
					"avian": {
						"text": [
							"Hng yessss, make me fly!"
						]
					},
					"braixen": {
						"text": [
							"Yesss! Give me your knot! Tie me up and fill me!"
						]
					},
					"bunnykin": {
						"text": [
							"Ungh, fill me u- wow, ready to go again? Such stamina!"
						]
					},
					"eevee": {
						"text": [
							"Yes, knot me! Tie me up and fill me!"
						]
					},
					"familiar": {
						"text": [
							"Yes! Fill me full of your glowing cum!",
							"Your cum glows too?!",
							"So about this glowing cum... should I be worried? No? Okay then. Give me more!"
						]
					},
					"fenerox": {
						"text": [
							"Oh god, your claws are digging into me! It feels so good!"
						]
					},
					"floran": {
						"text": [
							"Your nectar is running everywhere~~",
							"Your cum is making me dizzy~!",
							"Your cum tingles!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Yess! Fill me with- wait, I'm not going to burst open from the inside, am I?"
						]
					},
					"gardevan": {
						"text": [
							"Your nectar is running everywhere~~",
							"Your cum is making me dizzy~!",
							"Your cum tingles!"
						]
					},
					"glitch": {
						"text": [
							"OH~ This oil... this oil feels so good!",
							"You're squirting your oil down my thighs!",
							"Your oil is so thick and warm!",
							"OH~ That's not just oil... is it.",
							"I'm getting slick with your oil~~!"
						]
					},
					"kemono": {
						"text": [
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"kitsune": {
						"text": [
							"Yes! Knot me! Tie me up and fill me!"
						]
					},
					"novakid": {
						"Your cum is steaming hot~!",
						"Your spunk is so hot!",
						"Our juices are glowing together~!",
						"Your cum is lighting up my ass!",
						"Steam is coming out! Ohhh it feels so good~!",
						"It's like fucking in a sauna!",
						"Yes let's cum together, it's sizzling!"
					},
					"shadow": {
						"text": [
							"I'm leaking dark matter... should I be worried?"
						]
					}
				}
			}
		}
	}
}