[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Lifting mate. Show strength. Lift up. Drop down. Much workout!",
            "Fenerox strong! Show mate!"
          ],
          "climaxing": [
            "Mate cumming!",
            "Proud demeanor. V-very warm. Good mate!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Lifting mate. Show strength. Lift up. Drop down. On cock. Much workout!",
            "Fenerox strong! Show mate!",
            "Love pussy. Drop harder!",
            "Tight pussy. Drop harder!"
          ],
          "climaxing": [
            "Mate cumming!",
            "Proud demeanor. V-very warm. Good mate!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Ape heavy!",
            "Tight ass. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Ape heavy!",
            "Tight pussy. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Lizard heavy!",
            "Big lizard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Lizard heavy!",
            "Big lizard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Cold bird, very light.",
            "Cold bird. Light bird. Fuck hard!",
            "Ass cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cold bird, very light.",
            "Cold bird. Light bird. Fuck hard!",
            "Pussy cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird light. Easy lift. Slow drop. Thrust harder!",
            "Bird ass. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bird light. Easy lift. Slow drop. Thrust harder!",
            "Bird pussy. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Braixen heavy!",
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Braixen heavy!",
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "Bunnykin": {
        "male": {
          "default": [
            "Bunny light!",
            "Big bunny. So soft! Fenerox mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bunny light!",
            "Big bunny. So soft! Fenerox Mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer heavy!",
            "Big deer. Fenerox dominate. Very gently!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Deer heavy!",
            "Deer pussy. So warm. So submissive. Fenerox love. Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Demon Creature. Much heavy!",
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Demon Creature. Much heavy!",
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon heavy!",
            "Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Dragon heavy!",
            "Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fox-Thing. Quite light!",
            "Is female. Yet male? Fenerox confused. ''Not think. Just fuck?'' Good idea!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fox-Thing. Quite light!",
            "Half human. Half Fenerox. But colorful. Is weird. So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Eevee light!",
            "Is Fenerox. Yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox wet. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Eevee light!",
            "Is Fenerox. yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox wet. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Glow-thing light!",
            "Like Fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow-thing light!",
            "Like Fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Kitty furry. Fur tickles. Same with you?",
            "Lift kitty. No scratching. Much yes?",
            "Slam cat. Conquer cat. Dog superior!",
            "Fucking pussy. Very literal. Bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Kitty furry. Fur tickles. Same with you?",
            "Lift kitty. No scratching. Much yes?",
            "Slam cat. Conquer cat. Dog superior!",
            "Fucking pussy. Very literal. Bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox mate. Make pups. So many. So good. Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Plant person. Feels weird. Very heavy. Not sure why."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Feels weird. Very heavy. Not sure why.",
            "Plant pussy. Very strange. Much sap. Yessss?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Metal person. Very heavy. Hard lift. I strong, make it!",
            "Machine ass. Very tight. Very oily. No lube needed!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Metal person. Very heavy. Hard lift. I strong, make it!",
            "Machine pussy. Very tight. Very oily."
          ],
          "climaxing": [
            "Mate cum. Strange feeling. Like tar."
          ],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Smooth skin. Fur tickles?",
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Smooth skin. Fur tickles?",
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish person, very wet. Hard grip, but manage. Hang on!",
            "Fish person. Wet ass. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fish person, very wet. Hard grip, but manage. Hang on!",
            "Fish person. Wet pussy. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Wolf heavy!",
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Wolf heavy!",
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Smooth fox. Surprisingly light!",
            "Smooth skin. Fox ears. Fox tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Smooth fox. Surprisingly light!",
            "Smooth skin. Fox ears. Fox tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "Strange thing. Much heavy!",
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Strange thing. Much heavy!",
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Weird fox. Very light!",
            "Weird person. Like Fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Weird fox. Very light!",
            "Weird person. Like Fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse light! Easy lift!",
            "Mouse person. Fenerox catch! Make mate, no eat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mouse light! Easy lift!",
            "Mouse person. Fenerox catch! Make mate, no eat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Cat-man. Quite light!",
            "Cat-man! Want mate? Fenerox mate! Why not?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat-man. Quite light!",
            "Cat-woman! Want mate? Fenerox mate! Why not? Is cute!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Smooth skin. Fur tickles?",
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Smooth skin. Fur tickles?",
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow person. Very hot. Almost burn! But light.",
            "Ass hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow person. Very hot. Almost burn! But light.",
            "Pussy hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird. Very light!",
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest ass. Clench cock. So good!",
            "Small bird. Very tight! Not hurt? Mate more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Little bird. Very light!",
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest pussy. Clench cock. So good!",
            "Small bird. Very tight! Not hurt? Mate more!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. Bit heavy!",
            "Big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big fox. Bit heavy!",
            "big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug light!",
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bug light!",
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Shadow man, very light. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Shadow man, very light. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Mate strong! Lift Fenerox. Drop Down. So happy!",
            "Love cock! Drop harder!",
            "Love mate! Fuck harder!",
            "So good! Need more!",
            "Love dick! So big! Need more!"
          ],
          "climaxing": [
            "Mate cums! Deep inside! So full, so good!",
            "C-content! Very warm. Insides full. Thank you."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mate strong! Lift Fenerox. Drop Down. So happy!",
            "Love mate! Fuck harder!",
            "So good! Need more!"
          ],
          "climaxing": [
            "Mate cums!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Apex rough. Fenerox love! Fuck harder! Show no mercy!",
            "Ape strong!",
            "Apex big. Take Fenerox. Stretch insides. Oh yes!",
            "Apex rough. Fenerox love! Fuck harder! Show no mercy!"
          ],
          "climaxing": [
            "For science! ... What's 'science?'"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Apex rough. Fenerox love! Fuck harder! Show no mercy!",
            "Ape strong!",
            "Apex big. Take Fenerox. Stretch insides. Oh yes!",
            "Apex rough. Fenerox love! Fuck harder! Show no mercy!"
          ],
          "climaxing": [
            "For science! ... What's 'science?'"
          ],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Lizard man. So big! So dominant! Weird Cock. Fenerox love!"
          ],
          "climaxing": [
            "Lizard cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Cold bird, so strong!",
            "Cock cold. Yet good. Give more!",
            "Cold bird. Cock cold. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [
            "Cum cold! Feel strange. So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cold bird, so strong!",
            "Very cold. Yet good. Give more!",
            "Cold bird. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird thick! Fill pussy. Don't stop!"
          ],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Not-Fenerox. But close. Much warmer. Fenerox love! Mates not-Fenerox!"
          ],
          "climaxing": [
            "It cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Bunny person. Fucks Fenerox! So hard! So fast! Don't stop!"
          ],
          "climaxing": [
            "Cumming again? How often? Lost count.",
            "You cum? Make bunnies? Going again? So soon? Fenerox tired!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer person. So forceful! Yet gentle. So long! Barely fits! Don't stop!"
          ],
          "climaxing": [
            "Mate cums! Make fawns?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Scary person. Fenerox submits! Take body? Fenerox offers! Don't hurt!"
          ],
          "climaxing": [
            "It cums. Is over? Again?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon mate. Very powerful. Very forceful. Fenerox captured. Is possesion. Use roughly!"
          ],
          "climaxing": [
            "Dragon cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fox-human. Is female. And yet... has cock? Is confused. Oh well. Fuck Fenerox!"
          ],
          "climaxing": [
            "Fox cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Like Fenerox. But glows. Fenerox mate? Very much!"
          ],
          "climaxing": [
            "Cum glows! Is worried. Shouldn't be? I hope."
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Cat strong!",
            "Dick scratchy. Yet good. Please more!",
            "Insides scratch. Yet good. Take more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat strong!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [
            "Fenerox mate. Very strong! Drop harder!"
          ],
          "climaxing": [
            "Knot me! Knock up! Big litter!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox mate. Very strong! Drop harder!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Plant strong!",
            "Plant vine. Feels good. Yet strange. Fuck more!",
            "Plant cock. So strange. So good. Need more!",
            "Plant scent. Very strange. Fenerox wild!"
          ],
          "climaxing": [
            "Seed Fenerox!",
            "Plant cums! Very Sticky. Very tingly!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant strong!",
            "Plant scent. Very strange. Fenerox wild!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Tentacle person. Take Fenerox. Much pleasure!"
          ],
          "climaxing": [
            "Tentacle cums. Is worried. But why?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Like floran. Yet gentle. Fenerox like!"
          ],
          "climaxing": [
            "Plant cums! Plant plants?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Machine man. Well built. Much strong! So good!",
            "Metal cock. So big. So smooth. So good!"
          ],
          "climaxing": [
            "Cum! ... Cum weird. So thick. Is... black?",
            "Cum hard! Is... black? Feels weird."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Machine woman. Well built. Much strong! So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Hu-man strong!",
            "Human strong. Is surprised! Please, more!",
            "Man cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Hu-man strong!",
            "Human strong. Is surprised! Please, more!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish strong!",
            "Strong fish. Like shark. Oh yes!",
            "Fish cock. So wet. Is too! Fuck harder!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fish strong!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Big wolf. Fenerox submit. No eat. Make mate. Take body. Love mate!",
            "Wolf forceful. Fucks Fenerox. Dominates Fenerox. Much pleasure!"
          ],
          "climaxing": [
            "Wolf cums! Make pups? Hope so. They strong!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Half man. Half Fox. All good. Don't stop!"
          ],
          "climaxing": [
            "Foxman cums! Make puppies? Hope much!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse person. No eat. Too big. Mate Fenerox? ... why not! Much pleasure."
          ],
          "climaxing": [
            "Cums again? How often. Lost count.",
            "Cums inside. Makes mice? how many?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Man cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Hu-man strong!",
            "Human strong. Is surprised! Please, more!",
            "Man cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Hu-man strong!",
            "Human strong. Is surprised! Please, more!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow Man! So strong! So hot! So good!",
            "Cock hot! Too hot! Aaahh!",
            "Body warm. Make Fenerox hot! Too hot! Aaah!"
          ],
          "climaxing": [
            "It burns! Too much! Almost."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow Woman! So strong! So hot! So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Penguin machine. Very strong. Fuck harder!",
            "Little bird. Uses machine. Very curious.",
            "Little bird. Big cock. Much surprised."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Penguin machine. Very strong. Fuck harder!",
            "Little bird. Uses machine. Very curious."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. So beautiful. Mate Fenerox? Is lucky! So good!"
          ],
          "climaxing": [
            "Fox cums. Make puppies. Much yes!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug person. Mates Fenerox. But how? Not sure. Not care. Too good!"
          ],
          "climaxing": [
            "Bug cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Dark Man! Very Cold. But Strong. Fuck more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Dark Man! Very Cold. But Strong. Fuck more!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "Fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox curious. Want pregnant too? Offer mate."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]