[{
    "default" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
},{
    "default" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [
					"Yes~! Paint my scales white with your precious cum~!",
					"Ahh~! I can feel your sperm swimming deep inside me~!",
					"Ooh~! Fill me with your pools of semen~!",
					"It feels like there's an ocean inside me~!",
					"Oh yes~! Cream my tight hole with your rivers of cum~!",
					"Ahh~! I can feel you tightening!~ Fill me up~!",
					"Ahh~! Yes~! Empty yourself into me~!",
					"Yes~! Fill up my womb with your swimming sperm~!",
					"That's right! Pour your rivers of cum inside my hole!",
					"Dump your sticky load inside of me~!",
					"Unng, tear into my scales, and inseminate my eggs, lover~!"
				],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [
					"Yes~! May our children all have such fur as yours~!",
					"O- Oh~! I feel it~! Release your Apex load inside of me~!"
				],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [
					"Oooh~!... Yes~! May our children be blessed by your Kluex~!"
				],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [
					"Ahh~!... How can it be that such barbarism feels so good?~",
					"Uunh~!... You Florans are insatiable~!..."
                ],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [
					"Ahh~!... How can it be that such barbarism feels so good?~",
					"Uunh~!... You Florans are insatiable~!..."
                ],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [
					"Your member feels so hard against my scales~!...",
					"Ah~! The breeding efficiency of a machine~!..."
                ],
                "climaxing" : [
					"Ahh~! Wh- what is this you're injecting into me~?!",
					"Aaahh~! A- are you cumming~?!"
                ],
				"pregnant" : []
			},"female" : {
				"default" : [
					"Your member feels so hard against my scales~!...",
					"Ah~! The breeding efficiency of a machine~!..."
                ],
                "climaxing" : [
					"Ahh~! Wh- what is this you're injecting into me~?!",
					"Aaahh~! A- are you cumming~?!"
                ],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [
					"Mmnh~... Your soft member feels perfect against my scales~!",
					"Uunf. Yes~!... Show me what mating is like on Earth~!"
					],
                "climaxing" : [
					"Ahh~! Yes~! Use me to carry your Human DNA~!",
					"Aaahh~! D- Do all Humans carry so much semen~?"
                ],
				"pregnant" : []
			},"female" : {
				"default" : [
					"Uunf. Yes~!... Show me what mating is like on Earth~!"
					],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [
					"Ummh~! Let us populate the stars with our noble blood~!",
					"Ah!~ Yes!~ Fill my womb with beautiful Hylotl DNA~!",
					"Yes~! Fill me up with pure Hylotl DNA!~",
					"Mmnh~... I can feel your Hylotl sperm swimming inside of me~!"
                ],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [
					"I- It's so hot~!... Ahn!~ You'll boil me alive~!",
					"You shine so brightly~!"
                ],
                "climaxing" : [
					"Uhhnn~!... Ah~! Launch your shinining emissions into me~!",
					"A- Ahhh~!... Is this what Novakid semen feels like~?... So hot~!..."
                ],
				"pregnant" : []
			},"female" : {
				"default" : [
					"I- It's so hot~!... Ahn!~ You'll boil me alive~!",
					"You shine so brightly~!"
                ],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [
				"Mmmn~... I feel like I could fly~!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Mmmn~... I feel like I could fly~!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [
				"Mmmn~... I feel like I could fly~!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Mmmn~... I feel like I could fly~!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [
					"Do you want him to get you pregnant next?"
                ],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
}]
