{
  "name"         : "facesitting_on_table",
  "base"         : "facesitting",
  "friendlyName" : "Facesitting on Table",

  "animationState" : {
    "states" : {
      "idleState" : {
        "properties" : {
          "frameName"  : "idle_laying",
          "rotateHead" : [ 90, 90 ],
          "stateName"  : "idle_laying"
        }
      }
    }
  }
}