{
  "paneLayout" : "/interface/sexbound/windowconfig/confirmation-givebirth.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Sexbound Pregnancy",
  "subtitle" : "You're beginning to give birth!",
  "message" : "Do you want to give birth to your child now or later?",
  "okCaption" : "Now",
  "cancelCaption" : "Later",
  "images" : {
    "portrait" : [{"image" : "/interface/sexbound/confirmation/sexbound-portrait.png"}]
  }
}
