{
  "paneLayout" : "/interface/sexbound/windowconfig/confirmation-legal.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Sexbound Age Verification",
  "subtitle" : "Please read the below carefully.",
  "message" : "You must be at least 18 years old to continue using Sexbound. Do you agree that you are at least 18 years old?",
  "okCaption" : "Yes, I agree",
  "cancelCaption" : "No",
  "images" : {
    "portrait" : [{"image" : "/interface/sexbound/confirmation/sexbound-portrait.png"}]
  }
}
