{
  "onShowSound" : [
  ],
  "gui": {
	"panefeature" : {
	"type" : "panefeature",
	"anchor" : "center",
	"offset" : [0, 0],
	"positionLocked" : true,
	"keyDismissable" : false
    },
    "background" : {
      "type"       : "background",
      "fileHeader" : "/interface/sexbound/confirmation/header.png",
      "fileBody"   : "/interface/sexbound/confirmation/body.png",
      "fileFooter" : "/interface/sexbound/confirmation/footer.png",
      "offset"     : [ -119, -65 ]
    },
    "bgShine" : {
      "type"     : "image",
      "file"     : "/interface/sexbound/confirmation/shine.png",
      "position" : [ 0, 20 ],
      "zlevel"   : -1
    },
    "windowtitle" : {
      "type"     : "title",
      "title"    : "Sexbound Pregnancy",
      "subtitle" : "Name your new baby!",
      "position" : [ 0, 254 ],
      "icon"     : {
        "type"     : "image",
        "file"     : "/interface/confirmation/confirmationicon.png",
        "position" : [ 0, 0 ],
        "zlevel"   : -1
      }
    },
    "useName" : {
      "type"     : "button",
      "base"     : "/interface/sexbound/confirmation/acceptUp.png",
      "hover"    : "/interface/sexbound/confirmation/acceptOver.png",
      "position" : [ 55, 38 ],
      "caption"  : "Confirm"
    },
    "generateRandom" : {
      "type"     : "button",
      "base"     : "/interface/sexbound/confirmation/acceptUp.png",
      "hover"    : "/interface/sexbound/confirmation/acceptOver.png",
      "position" : [ 135, 38 ],
      "caption"  : "Random"
    },
	"nameInput" : {
	  "type"     : "textbox",
	  "position" : [60, 60],
	  "regex"    : "[a-zA-Z0-9 .-_]{0,30}",
	  "maxWidth" : 30,
	  "focus"    : true,
	  "hint"     : "Name"
	},
    "message" : {
      "type"        : "label",
      "position"    : [ 60, 119 ],
      "hAnchor"     : "left",
      "vAnchor"     : "top",
      "wrapWidth"   : 160,
      "lineSpacing" : 1.0,
      "value"       : "^shadow;...loading...",
      "color"       : "white"
    },
    "portrait" : {
      "type"     : "image",
      "position" : [30, 95],
      "scale"    : 0.4,
      "centered" : true
    },
    "name" : {
      "type"      : "label",
      "position"  : [27, 52],
      "hAnchor"   : "mid",
      "vAnchor"   : "bottom",
      "wrapWidth" : 50,
      "value"     : "",
      "color"     : "white"
    }
  },
  
  "config" : {},
  
  "scriptWidgetCallbacks" : [
    "useName",
    "generateRandom",
	"nameInput"
  ],

  "scripts" : [
    "/interface/sexbound/confirmation/namedbirth.lua"
  ]
}
