{
  "all" : [
    [0, [
      { "item" : { "name" : "sexboundeasteregg", "parameters" : { } } },
      { "item" : { "name" : "sexboundeasterbunnyhead", "parameters" : { } } },
      { "item" : { "name" : "sexboundeasterbunnychest", "parameters" : { } } },
      { "item" : { "name" : "sexboundeasterbunnylegs", "parameters" : { } } }
    ]]
  ]
}