{
  "all" : [
    [0, [
      { "item" : { "name" : "lox_standardstrapon",           "parameters" : { } } },
      { "item" : { "name" : "lox_standardstrapon_strapless", "parameters" : { } } },
      { "item" : { "name" : "lox_horsestrapon",              "parameters" : { } } },
      { "item" : { "name" : "lox_horsestrapon_strapless",    "parameters" : { } } },
      { "item" : { "name" : "lox_gagball",                   "parameters" : { } } },
      { "item" : { "name" : "lox_analjewel",                 "parameters" : { } } },
      { "item" : { "name" : "lox_foxanaltail",               "parameters" : { } } },
      { "item" : { "name" : "lox_horseanaltail",             "parameters" : { } } },
      { "item" : { "name" : "lox_pregnancytest",             "parameters" : { } } },
      { "item" : { "name" : "lox_abortionpill",              "parameters" : { } } }
    ]]
  ]
}