{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Not quite the real deal, but I still can't get enough~!",
							"It's stuffing my pussy just right~!",
							"Such a high quality toy!",
							"Wish I had this thing earlier in my life~!",
							"Mnnnh, it's sliding in so smooth~!"
						],
						"status": {
							"heat": {
								"text": [
									"When in heat, everything works~!",
									"This toy dick will help me get relieve~"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Aaanh, it even has a cum pump~!",
							"Ohgodyes, it's filling me up so much!",
							"The wonders of technology are amazing~!",
							"So full, and I don't even risk getting pregnant! ...right?",
							"This thing is great, it filled me up so much it's dripping out already~!"
						],
						"status": {
							"heat": {
								"text": [
									"Ooohh~ If only it could actually knock me up~"
								]
							}
						}
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Aah... A-aaanh... I'm s-so close...!",
							"Yes, yesyesyes, that's it just a bit more~!",
							"Ok, time for the final sprint~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since a real man made me cum so hard~!",
							"Cumming from a toy... So good~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since a real man made me cum so hard~!",
							"Cumming from a toy... So good~!",
							"The sensation of getting filled while cumming... Unforgetable~!",
							"Aaah, I'm making such a mess down there~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Mmmh~ One more time!",
							"Quick breather... Here I go again!",
							"Too good to stop now~",
							"It's not like this thing can go limp anyway~"
						],
						"status": {
							"heat": {
								"text": [
									"Good warm-up, but I need MORE~!"
								]
							}
						}
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Not quite the real deal, but I still can't get enough~!",
							"It's stuffing my ass just right~!",
							"Such a high quality toy!",
							"Wish I had this thing earlier in my life~!",
							"Mnnnh, it's sliding in so smooth~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Aaanh, it even has a cum pump~!",
							"Ohgodyes, it's filling me up so much!",
							"The wonders of technology are amazing~!",
							"This thing is great, it filled me up so much it's dripping out already~!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Aah... A-aaanh... I'm s-so close...!",
							"Yes, yesyesyes, that's it just a bit more~!",
							"Ok, time for the final sprint~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since a real man made me cum so hard~!",
							"Cumming from a toy... So good~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since a real man made me cum so hard~!",
							"Cumming from a toy... So good~!",
							"The sensation of getting filled while cumming... Unforgetable~!",
							"Aaah, I'm making such a mess down there~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Mmmh~ One more time!",
							"Quick breather... Here I go again!",
							"Too good to stop now~",
							"It's not like this thing can go limp anyway~"
						]
					}
				}
			}
		},
		"toy_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"This feels so good~ Almost real~!",
							"I could fuck this all day long~",
							"Too bad it isn't real~",
							"The wonders of sex toys~",
							"Such a high quality toy!"
						],
						"status": {
							"heat": {
								"text": [
									"When in heat, everything works~!",
									"This toy hole will help me get relieve~"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"It even squirts~?"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Aah... A-aaanh... I'm s-so close...!",
							"Yes, yesyesyes, that's it just a bit more~!",
							"Ok, time for the final sprint~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since I came so hard~!",
							"Cumming from a toy... So good~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mnnnnngh yes, I'm c-cumming~!",
							"Aaaaah, it's been a while since I came so hard~!",
							"Cumming from a toy... So good~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Mmmh~ One more time!",
							"Quick breather... Here I go again!",
							"Too good to stop now~",
							"It's not like this thing can be full anyway~"
						],
						"status": {
							"heat": {
								"text": [
									"Good warm-up, but I need MORE~!"
								]
							}
						}
					}
				}
			}
		}
	}
}