{
	"base": "/dialog/sexbound/en/toys/defaulttoy.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"sexbound_dildo_hemi": {
						"text": [
							"A-ahn~! Having both my holes stuffed like this~!",
							"Double penetration is the best~!",
							"I've never had pleasure this overwhelming before~!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"I can feel the tentacle wriggling around inside me!",
							"It's thrusting so smoothly~",
							"I've never felt anything like this before~!",
							"It's exploring every corner of my pussy~!",
							"Aliens have weird tastes in sextoys... Weird, but soooo good~!"
						]
					}
				},
				"climax": {
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"W-whoa, is this thing shoving eggs into me?!",
							"Not what I was expecting... But not bad either!",
							"These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Both my holes feel sooo full~",
							"I'm already dripping a waterfall~!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"It's filling my womb~!",
							"Oh gosh, it's so deep and filling me up~!",
							"This is safe, right...?"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"I-I can feel the tentacle t-throbbing...!",
							"I can't... cumming...!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Tentacle... hitting all the right spots... Cumming~!",
							"It's... too good~! I'm cumminggg~!"
						]
					}
				},
				"climax": {
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"W-whoa, is this thing shoving eggs into me?!",
							"Not what I was expecting... But not bad either!",
							"These eggs aren't going to hatch... right?",
							"Being filled with eggs... is making me cum~!",
							"Being filled is making my squirt~!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Both my holes feel sooo full~",
							"I'm already dripping a waterfall~!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"It's filling my womb~!",
							"Oh gosh, it's so deep and filling me up~!",
							"This is safe, right...?",
							"Tentacle... hitting all the right spots... Cumming~!",
							"It's... too good~! I'm cumminggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Oooh, here it goes again~!",
							"Again? Insatiable beast~"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"I can feel the tentacle wriggling around inside me!",
							"It's thrusting so smoothly~",
							"I've never felt anything like this before~!",
							"It's exploring every corner of my ass~!",
							"Aliens have weird tastes in sextoys... Weird, but soooo good~!"
						]
					}
				},
				"climax": {
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"W-whoa, is this thing shoving eggs into me?!",
							"Not what I was expecting... But not bad either!",
							"These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"It's filling my stomach~!",
							"Oh gosh, it's so deep and filling me up~!",
							"This is safe, right...?"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"I-I can feel the tentacle t-throbbing...!",
							"I can't... cumming...!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Tentacle... hitting all the right spots... Cumming~!",
							"It's... too good~! I'm cumminggg~!"
						]
					}
				},
				"climax": {
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"W-whoa, is this thing shoving eggs into me?!",
							"Not what I was expecting... But not bad either!",
							"These eggs aren't going to hatch... right?",
							"Being filled with eggs... is making me cum~!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"It's filling my stomach~!",
							"Oh gosh, it's so deep and filling me up~!",
							"This is safe, right...?",
							"Tentacle... hitting all the right spots... Cumming~!",
							"It's... too good~! I'm cumminggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Oooh, here it goes again~!",
							"Again? Insatiable beast~"
						]
					}
				}
			}
		},
		"toy_vagina": {
			"sex": {
				"sex": {
					"sexbound_bodypillow": {
						"text": [
							"This makes me wanna fuck the real deal~!",
							"I wonder who this is... And if they're available~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"sexbound_bodypillow": {
						"text": [
							"This will need a thorough wash afterwards...!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"Ngh~! It's sucking me dry~!",
							"Hope it doesn't overflow~!",
							"W-wow, this really is a milking machine!",
							"Heh, didn't know I'd cum this much!"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"Ngh~! It's sucking me dry~!",
							"Hope it doesn't overflow~!",
							"W-wow, this really is a milking machine!",
							"Heh, didn't know I'd cum this much!"
						]
					}
				},
				"climax": {
					"sexbound_bodypillow": {
						"text": [
							"This will need a thorough wash afterwards...!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"Ngh~! It's sucking me dry~!",
							"Hope it doesn't overflow~!",
							"W-wow, this really is a milking machine!",
							"Heh, didn't know I'd cum this much!"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"Ngh~! It's sucking me dry~!",
							"Hope it doesn't overflow~!",
							"W-wow, this really is a milking machine!",
							"Heh, didn't know I'd cum this much!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"Surely it has room for one more load~?"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"Surely it has room for one more load~?"
						]
					}
				}
			}
		}
	}
}