{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Like dick. Can mate?",
							"Feel wrong. But good! Keep going!",
							"Weird thing. Feel like dick! L-love this!",
							"Breathing hard. Powerful thrusts. Wet bits!",
							"Weird thing. Fuck good! Want more!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Both holes! So good! New feeling!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing. Thrust deep! Not bad.",
							"Feel weird. Mating?",
							"Cannot move. Scary. Yet good!",
							"Wriggling! Tingly! Feel good!",
							"People want this? Weird."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Just cum? So full!",
							"Floating dick, cumming much. So good!",
							"Confused. But happy. Cum more!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggs? Concerned.",
							"Fenerox hatch eggs?",
							"So full. So big. So good!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Both holes! So full! Much joy!",
							"Both holes, dripping. Big mess!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing, big load! So full!",
							"Scary thing cum? Fenerox ok?",
							"So deep! Fenerox loves!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Feel good... So close. Thrust more!",
							"About to cum. So good!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing, make Fenerox cum!",
							"Fenerox cums!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"text": [
							"Scary thing, make Fenerox cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums! Floating dick too!",
							"Weird thing, make Fenerox cum!",
							"Floating dick, cumming much. So good!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggs? Concerned.",
							"Fenerox hatch eggs?",
							"So full. So big. So good!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Both holes! So full! Much joy!",
							"Both holes, dripping. Big mess!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing, big load! So full!",
							"Scary thing cum? Fenerox ok?",
							"So deep! Fenerox loves!",
							"Scary thing, make Fenerox cum!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Want more!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Keep going? Scary beast, still hungry."
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Like dick. Can mate?",
							"Feel wrong. But good! Keep going!",
							"Weird thing. Feel like dick! L-love this!",
							"Breathing hard. Powerful thrusts. Wet bits!",
							"Weird thing. Fuck good! Want more!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing. Thrust deep! Not bad.",
							"Feel weird. Mating?",
							"Cannot move. Scary. Yet good!",
							"Wriggling! Tingly! Feel good!",
							"People want this? Weird."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Just cum? So full!",
							"Floating dick, cumming much. So good!",
							"Confused. But happy. Cum more!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggs? Concerned.",
							"Fenerox hatch eggs?",
							"So full. So big. So good!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing, big load! So full!",
							"Scary thing cum? Fenerox ok?",
							"So deep! Fenerox loves!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Feel good... So close. Thrust more!",
							"About to cum. So good!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing, make Fenerox cum!",
							"Fenerox cums!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"text": [
							"Scary thing, make Fenerox cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums! Floating dick too!",
							"Weird thing, make Fenerox cum!",
							"Floating dick, cumming much. So good!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggs? Concerned.",
							"Fenerox hatch eggs?",
							"So full. So big. So good!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Scary thing, big load! So full!",
							"Scary thing cum? Fenerox ok?",
							"So deep! Fenerox loves!",
							"Scary thing, make Fenerox cum!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Want more!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Keep going? Scary beast, still hungry."
						]
					}
				}
			}
		},
		"toy_pussy": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Hole thing. Kinda good. Smooth.",
							"People like, fuck hole?",
							"Good enough. Fuck hole."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum! Hole good.",
							"Feel good! Still weird."
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Feel good... So close. Thrust more!",
							"About to cum. So good!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing, make Fenerox cum!",
							"Fenerox cums!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"W-wha? Hole suck Fenerox! Drink cum!",
							"Concerned! Hole suck cum?"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"W-wha? Hole suck Fenerox! Drink cum!",
							"Concerned! Hole suck cum?"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums! Floating dick too!",
							"Weird thing, make Fenerox cum!",
							"Floating dick, cumming much. So good!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"W-wha? Hole suck Fenerox! Drink cum!",
							"Concerned! Hole suck cum?"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"W-wha? Hole suck Fenerox! Drink cum!",
							"Concerned! Hole suck cum?"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Want more!"
						]
					}
				}
			}
		}
	}
}