{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss being in control!",
							"Floran likesss prey, but thisssss thing feels good!",
							"Yesssss, Floran needed thisss!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"text": [
							"Tentacle toy isssss like Floran, but better!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Ooooh~! Little toy can ssssspray pollen too!",
							"Oh yesssss, fill Floran up you tasssty toy dick!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggsssss?",
							"Toy place eggsssss in Floran?"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Mmmmh, Floran isssss about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"text": [
							"Eggsssss?",
							"Toy place eggsssss in Floran?"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss new toy. Let'sss go again!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss being in control!",
							"Floran likesss prey, but thisssss thing feels good!",
							"Yesssss, Floran needed thisss!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"text": [
							"Tentacle toy isssss like Floran, but better!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Ooooh~! Little toy can ssssspray pollen too!",
							"Oh yesssss, fill Floran up you tasssty toy dick!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Eggsssss?",
							"Toy place eggsssss in Floran?"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Mmmmh, Floran isssss about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"text": [
							"Eggsssss?",
							"Toy place eggsssss in Floran?"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss new toy. Let'sss go again!"
						]
					}
				}
			}
		},
		"toy_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss being in control!",
							"Floran likesss prey, but thisssss thing feels good!",
							"Yesssss, Floran needed thisss!",
							"Thisss thing isssss for pleasure? Floran prefer live prey!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Ooooh~! Little toy can ssssspray nectar too!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Mmmmh, Floran isssss about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"Even toy can't resissssst Floran pollen~!",
							"Machine sucks Floran pollen?",
							"Ooooh, machine ssssso hungry for Floran pollen!"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"Even toy can't resissssst Floran pollen~!",
							"Machine sucks Floran pollen?",
							"Ooooh, machine ssssso hungry for Floran pollen!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					},
					"sexbound_milkingmachine": {
						"override": true,
						"text": [
							"Even toy can't resissssst Floran pollen~!",
							"Machine sucks Floran pollen?",
							"Ooooh, machine ssssso hungry for Floran pollen!"
						]
					},
					"sexbound_milkingmachine_mk2": {
						"override": true,
						"text": [
							"Even toy can't resissssst Floran pollen~!",
							"Machine sucks Floran pollen?",
							"Ooooh, machine ssssso hungry for Floran pollen!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss new toy. Let'sss go again!"
						]
					}
				}
			}
		}
	}
}