{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my pussy just right!",
							"Proud. Such a high quality toy!",
							"Boastful. Prime Glitch craftsmanship on this toy!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Enticed. Dual-input for double pleasure!",
							"Melting. Double penetration is the best! Sensory overload!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my pussy just right!",
							"Proud. Such a high quality toy!",
							"Concerned. Alien sextoy craftsmanship is questionable!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!",
							"Warning. Unknown organism detected!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!",
							"Proud. The wonders of technology are amazing!",
							"Joyful. So full, and I don't even risk getting pregnant! Worried. Right?",
							"Joyful. This thing is great, it filled me up so much it's dripping out already!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Enticed. So much cum both my holes!",
							"Melting. Both my ports are overflowing!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Warning. Foreign objects detected in vaginal port!",
							"Confused. Whoa, is this thing shoving eggs into me?!",
							"Dismissive. Not what I was expecting... But not bad either!",
							"Concerned. These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Elated. It's filling my womb!",
							"Pleasured. Oh gosh, it's so deep and filling me up!",
							"Concerned. This is safe, right...?",
							"Danger. Unknown matter breaching breeding chamber!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Warning. Pleasure overload imminent!",
							"Gluttonus. That's it just a bit more!",
							"Impatient. Ok, time for the final sprint!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Anticipating. I can feel the tentacle throbbing...!",
							"Edged. I can't... cumming...!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Climaxing. Tentacle... hitting all the right spots... Cumming!",
							"Pleasured. It's... too good~! I'm cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!",
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!"
						]
					},
					"sexbound_dildo_hemi": {
						"text": [
							"Enticed. So much cum both my holes!",
							"Melting. Both my ports are overflowing!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Warning. Foreign objects detected in vaginal port!",
							"Confused. Whoa, is this thing shoving eggs into me?!",
							"Dismissive. Not what I was expecting... But not bad either!",
							"Concerned. These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Elated. It's filling my womb!",
							"Pleasured. Oh gosh, it's so deep and filling me up!",
							"Concerned. This is safe, right...?",
							"Danger. Unknown matter breaching breeding chamber!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Lecherous. Hah... H-hah... Mmmh, one more time!",
							"Greedy. Quick breather... Here I go again!",
							"Demanding. Too good to stop now",
							"Boastful. It's not like this thing can go limp anyway!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Awaiting. Oooh, here it goes again!",
							"Pleased. Again? Insatiable beast!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my pussy just right!",
							"Proud. Such a high quality toy!",
							"Boastful. Prime Glitch craftsmanship on this toy!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my ass just right!",
							"Proud. Such a high quality toy!",
							"Concerned. Alien sextoy craftsmanship is questionable!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!",
							"Warning. Unknown organism detected!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!",
							"Proud. The wonders of technology are amazing!",
							"Joyful. This thing is great, it filled me up so much it's dripping out already!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Warning. Foreign objects detected in anal port!",
							"Confused. Whoa, is this thing shoving eggs into me?!",
							"Dismissive. Not what I was expecting... But not bad either!",
							"Concerned. These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Elated. It's filling my stomach!",
							"Pleasured. Oh gosh, it's so deep and filling me up!",
							"Concerned. This is safe, right...?"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Warning. Pleasure overload imminent!",
							"Gluttonus. That's it just a bit more!",
							"Impatient. Ok, time for the final sprint!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Anticipating. I can feel the tentacle throbbing...!",
							"Edged. I can't... cumming...!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Climaxing. Tentacle... hitting all the right spots... Cumming!",
							"Pleasured. It's... too good~! I'm cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!",
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!"
						]
					},
					"sexbound_dildo_ovipositor": {
						"override": true,
						"text": [
							"Warning. Foreign objects detected in anal port!",
							"Confused. Whoa, is this thing shoving eggs into me?!",
							"Dismissive. Not what I was expecting... But not bad either!",
							"Concerned. These eggs aren't going to hatch... right?"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Elated. It's filling my stomach!",
							"Pleasured. Oh gosh, it's so deep and filling me up!",
							"Concerned. This is safe, right...?"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Lecherous. Hah... H-hah... Mmmh, one more time!",
							"Greedy. Quick breather... Here I go again!",
							"Demanding. Too good to stop now",
							"Boastful. It's not like this thing can go limp anyway!"
						]
					},
					"sexbound_tentacleplant_v2": {
						"override": true,
						"text": [
							"Awaiting. Oooh, here it goes again!",
							"Pleased. Again? Insatiable beast!"
						]
					}
				}
			}
		},
		"toy_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's the perfect fit for my dick!",
							"Proud. Such a high quality toy!",
							"Boastful. Prime Glitch craftsmanship on this toy!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it pleasures me just right!"
						]
					},
					"sexbound_bodypillow": {
						"text": [
							"Observative. Adding the imagery of a partner to this toy can increase pleasure levels."
						]
					},
					"sexbound_milkingmachine": {
						"text": [
							"Intrigued. A perfectly fitting docking port with a pump."
						]
					},
					"sexbound_milkingmachine_mk2": {
						"text": [
							"Intrigued. A perfectly fitting docking port with a pump."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Elated. It even has a squirting module!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Warning. Pleasure overload imminent!",
							"Gluttonus. That's it just a bit more!",
							"Impatient. Ok, time for the final sprint!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!"
						]
					},
					"sexbound_milkingmachine": {
						"text": [
							"Amazed. An efficient machine to harvest bodily fluids!",
							"Note. Liquid transfer started."
						]
					},
					"sexbound_milkingmachine_mk2": {
						"text": [
							"Amazed. An efficient machine to harvest bodily fluids!",
							"Note. Liquid transfer started."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!",
							"Elated. It even has a squirting module!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Lecherous. Hah... H-hah... Mmmh, one more time!",
							"Greedy. Quick breather... Here I go again!",
							"Demanding. Too good to stop now"
						]
					}
				}
			}
		}
	}
}