{
	"base": "/dialog/sexbound/en/toys/defaulttoyfull.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"sexbound_tentacleplant_v2": {
						"text": [
							"So tentacle Hentai has finally become real!",
							"Every Waifu's dream~!"
						]
					}
				},
				"climax": {
					"sexbound_tentacleplant_v2": {
						"text": [
							"Oh god, it's gonna enter my womb!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"climax": {
					"sexbound_tentacleplant_v2": {
						"text": [
							"It's... not gonna go all the way through, right...?"
						]
					}
				}
			}
		}
	}
}