{
	"base": "/dialog/sexbound/en/toys/defaulttoyfull.config",
	"content": {
		"toy_pussy": {
			"climax": {
				"sex": {
					"sexbound_milkingmachine": {
						"text": [
							"Hmm... Maybe next time I'll try the Mooshi harvester!"
						]
					},
					"sexbound_milkingmachine": {
						"text": [
							"Hmm... Maybe next time I'll try the Mooshi harvester!"
						]
					}
				}
			}
		}
	}
}