{
  "base" : "butterfly",
  
  "friendlyName" : "Butterfly with Tentacle Plant",
  
  "name" : "butterfly_tentacleplant",
  
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],
  "possiblePregnancy" : [false, true],
  "possibleImpregnation":[true, false],
  "actorRelation": [2,0],
  "interactionType": ["direct",null],
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [1.5, 1.5],
      "flipHead"  : [false, false],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0],
      "allowMoan" : [false, true],
      "groinMask" : [false, false],
      "allowEmote": [false, true],
      "allowTalk" : [false, true]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position5",
          "stateName" : "position5",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxbutterflymale1",
      "female" : "climaxbutterflyfemale1"
    },
    
    {
      "male"   : "climaxbutterflymale2",
      "female" : "climaxbutterflyfemale2"
    }
  ]
}