{
  "base" : "cowgirl",
  
  "friendlyName" : "Cowgirl with Sextoy Actor 2",
  
  "name" : "cowgirl_sextoy_actor2",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:cowgirl",
  
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],
  "possiblePregnancy" : [false, false],
  "possibleImpregnation":[false, false],
  "actorRelation": [2,0],
  "interactionType": ["direct",null],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/cowgirl/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/cowgirl/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/cowgirl/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/cowgirl/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/cowgirl/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/cowgirl/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/cowgirl/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/cowgirl/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/cowgirl/novakid<gender>.config"
  },
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [0.0, 2.0],
      "flipHead"  : [false, true],
	  "allowMoan" : [false, true],
	  "groinMask" : [false, true],
	  "allowEmote": [false, true],
	  "allowTalk" : [false, true],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position4",
          "stateName" : "position4",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  "climaxConfig" : [
    {
      "male" : {
        "particleName"         : "climaxcowgirlmale1",
        "projectileName"       : "climaxcowgirlmale1",
        "projectileStartAngle" : 0
      },
      "female" : {
        "particleName"         : "climaxcowgirlfemale1",
        "projectileName"       : "climaxcowgirlfemale1",
        "projectileStartAngle" : 0
      }
    },
    
    {
      "male" : {
        "particleName"         : "climaxcowgirlmale2",
        "projectileName"       : "climaxcowgirlmale2",
        "projectileStartAngle" : 180
      },
      "female" : {
        "particleName"         : "climaxcowgirlfemale2",
        "projectileName"       : "climaxcowgirlfemale2",
        "projectileStartAngle" : 270
      }
    },

    {
      "male" : {
        "particleName"         : "climaxdoggymale1",
        "projectileName"       : "climaxdoggymale1",
        "projectileStartAngle" : 0
      },
      "female" : {
        "particleName"         : "climaxdoggyfemale1",
        "projectileName"       : "climaxdoggyfemale1",
        "projectileStartAngle" : 0
      }
    }
  ]
}