{
  "base" : "cowgirl",
  
  "friendlyName" : "Cowgirl with Tentacle Plant",
  
  "name" : "cowgirl_tentacleplant",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:cowgirl",
  
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],
  "possiblePregnancy" : [false, true],
  "possibleImpregnation":[true, false],
  "actorRelation": [2,0],
  "interactionType": ["toy_dick",null],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/toys/defaulttoyfull.config",
    "apex"    : "/dialog/sexbound/<langcode>/toys/apextoy.config",
    "avian"   : "/dialog/sexbound/<langcode>/toys/aviantoy.config",
    "fenerox" : "/dialog/sexbound/<langcode>/toys/feneroxtoy.config",
    "floran"  : "/dialog/sexbound/<langcode>/toys/florantoy.config",
    "glitch"  : "/dialog/sexbound/<langcode>/toys/glitchtoy.config",
    "human"   : "/dialog/sexbound/<langcode>/toys/humantoy.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/toys/hylotltoy.config",
    "novakid" : "/dialog/sexbound/<langcode>/toys/novakidtoy.config"
  },
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [2.0, 2.0],
      "flipHead"  : [false, true],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position4",
          "stateName" : "position4",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxcowgirlmale1",
      "female" : "climaxcowgirlfemale1"
    },
    
    {
      "male"   : "climaxcowgirlmale2",
      "female" : "climaxcowgirlfemale2"
    }
  ]
}