{
  "base" : "doggy",
  
  "friendlyName" : "Doggy with Ovipositor Actor 1",
  
  "name" : "doggy_ovipositor_actor1",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:doggy",
  
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],
  
  "possiblePregnancy" : [false, false],
  "possibleImpregnation":[false, false],
  "actorRelation": [2,0],
  "interactionType": ["toy_dick",null],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/toys/defaulttoyfull.config",
    "apex"    : "/dialog/sexbound/<langcode>/toys/apextoy.config",
    "avian"   : "/dialog/sexbound/<langcode>/toys/aviantoy.config",
    "fenerox" : "/dialog/sexbound/<langcode>/toys/feneroxtoy.config",
    "floran"  : "/dialog/sexbound/<langcode>/toys/florantoy.config",
    "glitch"  : "/dialog/sexbound/<langcode>/toys/glitchtoy.config",
    "human"   : "/dialog/sexbound/<langcode>/toys/humantoy.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/toys/hylotltoy.config",
    "novakid" : "/dialog/sexbound/<langcode>/toys/novakidtoy.config",
  },
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [2.0, 2.0],
      "flipHead"  : [false, true],
	  "allowMoan" : [false, true],
	  "groinMask" : [false, false],
	  "allowEmote": [false, true],
	  "allowTalk" : [false, true],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position2",
          "stateName" : "position2",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxdoggymale1",
      "female" : "climaxdoggyfemale2"
    },
    
    {
      "male"   : "climaxdoggymale2",
      "female" : "climaxdoggyfemale2"
    }
  ]
}