{
  "base" : "doggy",
  
  "friendlyName" : "Doggy with Ovipositor Actor 1",
  
  "name" : "doggy_ovipositor_actor1",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:doggy",
  
  "maxAllowedActors" : 2,
  
  "possiblePregnancy" : [false, false],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/doggy/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/doggy/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/doggy/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/doggy/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/doggy/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/doggy/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/doggy/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/doggy/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/doggy/novakid<gender>.config"
  },
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [2.0, 2.0],
      "flipHead"  : [false, true],
	  "allowMoan" : [false, true],
	  "groinMask" : [false, false],
	  "allowEmote": [false, true],
	  "allowTalk" : [false, true],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position2",
          "stateName" : "position2",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxdoggymale1",
      "female" : "climaxdoggyfemale2"
    },
    
    {
      "male"   : "climaxdoggymale2",
      "female" : "climaxdoggyfemale2"
    }
  ]
}