{
  "base" : "fellatio",
  
  "friendlyName" : "Fellatio with Tentacle Plant",
  
  "name" : "fellatio_tentacleplant",
  
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],
  "possiblePregnancy" : [false, false],
  "possibleImpregnation":[false, false],
  "actorRelation": [2,0],
  "interactionType": ["oral",null],
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [1.5, 1.5],
      "flipHead"  : [false, true],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0],
      "allowMoan" : [false, false],
      "groinMask" : [false, true],
      "allowEmote": [false, false],
      "allowTalk" : [false, false]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position6",
          "stateName" : "position6",
          "minTempo"  : 2,
          "maxTempo"  : 4
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxfellatiomale1",
      "female" : "climaxfellatiofemale1"
    },
    
    {
      "male"   : "climaxfellatiomale2",
      "female" : "climaxfellatiofemale2"
    }
  ]
}