{
  "idle"                     : { "configFile" : "/positions/idle/idle.config" },
  
  "butterfly"                : { "configFile" : "/positions/twoactors/butterfly/butterfly.config" },
  "butterfly_in_bed"         : { "configFile" : "/positions/twoactors/butterfly/butterfly_in_bed.config" },
  "butterfly_on_table"       : { "configFile" : "/positions/twoactors/butterfly/butterfly_on_table.config" },
  "butterfly_big"            : { "configFile" : "/positions/twoactors/butterfly/butterfly_big.config" },
  "butterfly_mini"           : { "configFile" : "/positions/twoactors/butterfly/butterfly_mini.config" },

  "cowgirl"                  : { "configFile" : "/positions/twoactors/cowgirl/cowgirl.config" },
  "cowgirl_in_bed"           : { "configFile" : "/positions/twoactors/cowgirl/cowgirl_in_bed.config" },
  "cowgirl_on_table"         : { "configFile" : "/positions/twoactors/cowgirl/cowgirl_on_table.config" },
  "cowgirl_big"              : { "configFile" : "/positions/twoactors/cowgirl/cowgirl_big.config" },
  "cowgirl_mini"             : { "configFile" : "/positions/twoactors/cowgirl/cowgirl_mini.config" },

  "doggy"                    : { "configFile" : "/positions/twoactors/doggy/doggy.config" },
  "doggy_in_bed"             : { "configFile" : "/positions/twoactors/doggy/doggy_in_bed.config" },
  "doggy_on_table"           : { "configFile" : "/positions/twoactors/doggy/doggy_on_table.config" },
  "doggy_big"                : { "configFile" : "/positions/twoactors/doggy/doggy_big.config" },
  "doggy_mini"               : { "configFile" : "/positions/twoactors/doggy/doggy_mini.config" },
  "double_doggy"             : { "configFile" : "/positions/twoactors/doggy/double_doggy.config" },

  "facesitting"              : { "configFile" : "/positions/twoactors/facesitting/facesitting.config" },
  "facesitting_in_bed"       : { "configFile" : "/positions/twoactors/facesitting/facesitting_in_bed.config" },
  "facesitting_on_table"     : { "configFile" : "/positions/twoactors/facesitting/facesitting_on_table.config" },
  "facesitting_big"          : { "configFile" : "/positions/twoactors/facesitting/facesitting_big.config" },
  "facesitting_mini"         : { "configFile" : "/positions/twoactors/facesitting/facesitting_mini.config" },

  "facesitting2"              : { "configFile" : "/positions/twoactors/facesitting2/facesitting.config" },
  "facesitting2_in_bed"       : { "configFile" : "/positions/twoactors/facesitting2/facesitting_in_bed.config" },
  "facesitting2_on_table"     : { "configFile" : "/positions/twoactors/facesitting2/facesitting_on_table.config" },
  "facesitting2_big"          : { "configFile" : "/positions/twoactors/facesitting2/facesitting_big.config" },
  "facesitting2_mini"         : { "configFile" : "/positions/twoactors/facesitting2/facesitting_mini.config" },

  "fellatio"                 : { "configFile" : "/positions/twoactors/fellatio/fellatio.config" },
  "fellatio_in_bed"          : { "configFile" : "/positions/twoactors/fellatio/fellatio_in_bed.config" },
  "fellatio_on_table"        : { "configFile" : "/positions/twoactors/fellatio/fellatio_on_table.config" },
  "fellatio_big"             : { "configFile" : "/positions/twoactors/fellatio/fellatio_big.config" },
  "fellatio_mini"            : { "configFile" : "/positions/twoactors/fellatio/fellatio_mini.config" },

  "missionary"               : { "configFile" : "/positions/twoactors/missionary/missionary.config" },
  "missionary_in_bed"        : { "configFile" : "/positions/twoactors/missionary/missionary_in_bed.config" },
  "missionary_on_table"      : { "configFile" : "/positions/twoactors/missionary/missionary_on_table.config" },
  "missionary_big"           : { "configFile" : "/positions/twoactors/missionary/missionary_big.config" },
  "missionary_mini"          : { "configFile" : "/positions/twoactors/missionary/missionary_mini.config" },

  "reverse_cowgirl"          : { "configFile" : "/positions/twoactors/reverse_cowgirl/reverse_cowgirl.config" },
  "reverse_cowgirl_in_bed"   : { "configFile" : "/positions/twoactors/reverse_cowgirl/reverse_cowgirl_in_bed.config" },
  "reverse_cowgirl_on_table" : { "configFile" : "/positions/twoactors/reverse_cowgirl/reverse_cowgirl_on_table.config" },
  "reverse_cowgirl_big"      : { "configFile" : "/positions/twoactors/reverse_cowgirl/reverse_cowgirl_big.config" },
  "reverse_cowgirl_mini"     : { "configFile" : "/positions/twoactors/reverse_cowgirl/reverse_cowgirl_mini.config" },
	
  "standing"                 : { "configFile" : "/positions/twoactors/standing/standing.config" },
  "standing_in_bed"          : { "configFile" : "/positions/twoactors/standing/standing_in_bed.config" },
  "standing_on_table"        : { "configFile" : "/positions/twoactors/standing/standing_on_table.config" },
  "standing_big"             : { "configFile" : "/positions/twoactors/standing/standing_big.config" },
  "standing_mini"            : { "configFile" : "/positions/twoactors/standing/standing_mini.config" },

  "birthing"                 : { "configFile" : "/positions/twoactors/birthing/birthing.config" }
}