{
  "base" : "standing",
  
  "friendlyName" : "Standing with Milking Machine Mark II Actor 2",
  
  "name" : "standing_milkingmachine_mk2_actor2",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:standing",
  
  "maxAllowedActors" : 2,
  "requireTraits"     : [["insert"], null, null, null],
  
  "possiblePregnancy" : [false, false],
  "possibleImpregnation":[false, false],
  "actorRelation": [2,0],
  "interactionType": ["toy_vagina",null],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/toys/defaulttoyfull.config",
    "apex"    : "/dialog/sexbound/<langcode>/toys/apextoy.config",
    "avian"   : "/dialog/sexbound/<langcode>/toys/aviantoy.config",
    "fenerox" : "/dialog/sexbound/<langcode>/toys/feneroxtoy.config",
    "floran"  : "/dialog/sexbound/<langcode>/toys/florantoy.config",
    "glitch"  : "/dialog/sexbound/<langcode>/toys/glitchtoy.config",
    "human"   : "/dialog/sexbound/<langcode>/toys/humantoy.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/toys/hylotltoy.config",
    "novakid" : "/dialog/sexbound/<langcode>/toys/novakidtoy.config",
  },
  
  "animationState" : {
    "properties" : {
      "climaxMultiplier" : [3.0, 0.0],
      "flipHead"  : [false, false],
	  "allowMoan" : [true, false],
	  "groinMask" : [false, false],
	  "allowEmote": [true, false],
	  "allowTalk" : [true, false],
      "mouthOffset" : [[0, 1],[0, 0]],
      "rotateHead": [0,0]
    },
  
    "states" : {
      "sexState"    : {
        "properties" : {
          "frameName" : "position1",
          "stateName" : "position1",
          "minTempo"  : 2,
          "maxTempo"  : 5
        }
      }
    }
  },
  
  "climaxParticles" : [
    {
      "male"   : "climaxstandingmale1",
      "female" : "climaxstandingfemale1"
    },
    
    {
      "male"   : "climaxstandingmale2",
      "female" : "climaxstandingfemale2"
    }
  ]
}