/** 
 * SEXTALK PLUGIN CONFIG - { Avian Male }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "Unf, get r-ready for my seed!"
          ]
        },
        "male": {
          "default": [
            "Unf, get r-ready for my seed!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Cum for me, mate.. cum for me!"
          ],
          "default": [
            "Kluex, yes.. your cunt is grand.",
            "Blrr.. damn. You're making me coo!",
            "K-kluex himself couldn't keep me away from this!",
            "K-keep this up and you'll be filled with my 'seed!'",
            "Euugh, yesss. Push back, or I'll peck you!"
          ]
        },
        "male": {
          "climaxing": [
            "Cum for me, mate.. cum for me!"
          ],
          "default": [
            "Kluex, yes.. your rear is grand.",
            "Blrr.. damn. You're making me coo!",
            "K-kluex himself couldn't keep me away from this!",
            "K-keep this up and you'll be filled with my 'seed!'",
            "Euugh, yesss. P-push back, or I'll peck you!"
          ]
        }
      }
    }
  },
  
	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "Awhh! I'm.. I'm f-flying!"
          ]
        },
        "male": {
          "default": [
            "Awhh! I'm.. I'm f-flying!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [],
          "default": [
            "Uungh.. grab onto my tail feathers!",
            "By Kluex, yesssss! Bend me over!",
            "Mmn.. I'm on my knees, but I feel like I'm f-flying!",
            "Ahh-hh.. easy, y-you're ruffling my feathers!",
            "Fu-uuck, yesss. B-beak to dirt!"
          ]
        },
        "male": {
          "climaxing": [
            "By K-klu-kluex, cream meee!"
          ],
          "default": [
            "Uungh.. grab onto my tail feathers!",
            "By Kluex, yesssss! Bend me over!",
            "Mmn.. I'm on my knees, but I feel like I'm f-flying!",
            "Ahh-hh.. easy, y-you're ruffling my feathers!",
            "Fu-uuck, yesss. B-beak to dirt!"
          ]
        }
      }
    }
  }
]