{
	"base": "/dialog/sexbound/en/positions/doggy/defaultdoggyfull.config",
	"add": true,
	"content": {
		"r_vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pull my tail feathers~! Don't let go~!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pull my tail feathers~! Don't let go~!"
						]
					}
				}
			}
		}
	}
}