/** 
 * SEXTALK PLUGIN CONFIG - { Default (ANY) Male }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
    "climaxing": {
      "default": {
        "default": {
          "default" : [ "F-fuucck, take my load!" ],
          "climaxing" : [
            "A-ahh, I'm cumming too! Take it!",
            "Mnnh, cum for me! I'm c-cumming too!"
          ]
        },
        "female" : {
          "default" : [ "F-fuucck, take this entire load in your pussy!" ]
        },
        "male": {
          "default" : [ "F-fuucck, take this entire load in your ass!" ]
        }
      }
    },
    "default": {
      "default": {
        "default": {
          "default": [
            "Bark for me, bitch!",
            "Ung.. my bone is buried deep!",
            "My, you must be in heat!",
            "J-jeez.. rutting in you is great!",
            "We should do this more often!",
            "D-Damn.. I'm getting close.",
            "Fuuuck me.. I mean you! Fuck you.",
            "Mmn.. beg for me, bitch!"
          ]
        },
        "female": {
          "climaxing": [
            "O-oh.. you're tight! Squirt for me!",
            "C-clench my cock! Unnh, yeah! Cum!"
          ]
        },
        "male": {
          "climaxing": [
            "O-oh.. you're tight! Squirt for me!",
            "C-clench my cock! Unnh, yeah! Cum!"
          ],
          "default": [
            "Ahh, that's a tight backdoor.."
          ]
        }
      }
    }
  },

	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "climaxing": {
      "default": {
        "default" : {
          "default"   : [ "I'm cumming, I'm cummin- Aa-ahh!" ],
          "climaxing" : [ "Let's cu-um together! unnff!" ]
        },
        "male": {
          "climaxing" : [ "A-ahh, I'm cumming too! Cream meee!" ]
        }
      }
    },
    "default": {
      "default": {
        "default": {
          "default": [
            "Ooh yeah, make me eat the floor!",
            "Fuuuuck.. Keep going, keep plowing me!",
            "Mmnf, keep it going! I'll push back!",
            "Mmnh.. Make me your bitch!",
            "Awh.. A-am I a good boy?",
            "Mm.. Ruff me up!"
          ],
          "equipped_horsestrapon" : [
            "Mhnh.. Where did you find that monster cock?!",
            "H-how far that big stallion cock go? Keep pushing!",
            "Ugh.. You're ripping my insides apart with that thing!"
          ]
        },
        "male": {
          "climaxing": [
            "O-oh! You're cumming.. Unng, paint my insides with your thick spunk!",
            "Fuuuck, yess! Grab my hips and cream me!",
            "A-ahh, fill up my ass.. Yesss!"
          ],
          "default": [
            "H-how does my ass feel, mmh? T-tight?",
            "Aww-hh, yesss. Your cock feels so good!",
            "Y-yeaaah.. Stuff me with that bone!"
          ]
        }
      }
    },

    "equipped_easteranalcarrot": {
      "default" : {
        "default" : {
          "default" : [
            "Please be careful back there! You're making that ^orange;carrot^reset; jam its way up my tailhole!"
          ]
        }
      }
    },

    "equipped_easterbunny": {
      "default" : {
        "default" : {
          "default" : [
            "Come on sugar! Give that big bunny booty your punishment.",
            "Grab my tail! Show no mercy to that li'l cotton tail!"
          ]
        },

        "male" : {
          "default" : [
            "I'll take this cock over a carrot any day! ^red;«^reset;"
          ],

          "climaxing": [
            "Mmm! Yesss.. Fill bunny's belly with your white marshmallow cream! ^red;«^reset;"
          ]
        }
      }
    }
  }
]