/** 
 * SEXTALK PLUGIN CONFIG - { Default (ANY) Female }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "Mnnh, cum for me! I'm c-cumming too!"
          ],
          "default": []
        },
        "male": {
          "climaxing": [
            "Mnnh, cum for me! I'm c-cumming too!"
          ],
          "default": []
        }
      }
    },

    "default": {
      "default": {
        "default": {
          "default": [
            "We should do this more often!",
            "D-Damn.. I'm getting close.",
            "Fuuuck me.. I mean you! Fuck you."
          ]
        },
        "female": {
          "climaxing": []
        },
        "male": {
          "climaxing": [],
          "default": []
        }
      }
    }
  },

	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "Aw-awhh.. I'm squirting!"
          ]
        },
        "male": {
          "climaxing": [
            "Let's cu-um together! unnff!"
          ],
          "default": [
            "I'm cumming, I'm cummin- Aa-ahh!"
          ]
        }
      }
    },

    "default": {
      "default": {
        "default": {
          "default": [
            "Ooh yeah, make me eat the floor!",
            "Fuuuuck.. keep going, keep plowing me!",
            "Mmnf, keep it going! I'll push back!",
            "Mmnh.. Make me your bitch!",
            "Awh.. A-Am I a good girl?",
            "Mm.. Ruff me up!"
          ],
          "equipped_horsestrapon" : [
            "Ooh yes, shove that huge horse cock deep inside of me!",
            "Mhnh.. Where did you find this monster cock?!",
            "H-how far that big stallion cock go? Keep pushing!",
            "Ugh.. You're ripping my insides apart with that thing!",
            "Fuuuck.. You're stretching out my pussy!"
          ]
        },
        "female": {
          "default": [
            "Ooh yeah, make me eat the floor!",
            "Fuuuuck.. keep going, keep plowing me!",
            "Mmnf, keep it going! I'll push back!",
            "Mmnh.. Make me your bitch!",
            "Awh.. A-Am I a good girl?",
            "Mm.. Ruff me up!"
          ]
        },
        "male": {
          "climaxing": [
            "O-oh! You're cumming.. Unng, paint my insides with your thick spunk!",
            "Fuuuck, yess! Grab my hips and cream me!",
            "A-ahh, fill up my pussy.. Yesss!"
          ],
          "default": [
            "Ooh yeah, make me eat the floor!",
            "Fuuuuck.. keep going, keep plowing me!",
            "Mmnf, keep it going! I'll push back!",
            "Mmnh.. Make me your bitch!",
            "Awh.. A-Am I a good girl?",
            "Mm.. Ruff me up!",
            "H-how does my cunny feel, mmh? T-tight?",
            "Aww-hh, yesss. Your cock feels so good!"
          ]
        }
      }
    },

    "equipped_easteranalcarrot": {
      "default" : {
        "default" : {
          "default" : [
            "Please be careful back there! You're making that ^orange;carrot^reset; jam its way up my tailhole!"
          ]
        }
      }
    },

    "equipped_easterbunny": {
      "default": {
        "default": {
          "default": [
            "Come on sugar! Give that big bunny booty your punishment.",
            "Grab my tail! Show no mercy to that li'l cotton tail!"
          ]
        },

        "male": {
          "default": [
            "I'll take this cock over a carrot any day! ^red;«^reset;"
          ],

          "climaxing": [
            "Mmm! Yesss.. Fill bunny's belly with your white marshmallow cream! ^red;«^reset;"
          ]
        }
      }
    },

    "pregnant": {
      "default": {
        "female": {
          "default": [
            "C-careful back there, I'm pregnant!",
            "A-ahh, I'm so sensitive.. E-easy!"
          ]
        },
        "male": {
          "climaxing": [
            "Mmh.. F-fill me up.. I can't get any more pregnant!",
            "Y-yesss! I feel so much more f-full!"
          ],
          "default": [
            "C-careful back there, I'm pregnant!",
            "A-ahh, I'm so sensitive.. E-easy!"
          ]
        }
      }
    }
  }
]