[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Floran wantsss to hear you beg for it.",
            "You're going to need crutches when Floran isssss done fucking you.",
            "Floran has been craving your assssss!"
          ],
          "climaxing": [
            "C-clench Floran's cock! Unnh, yeah! Cum!",
            "Ooooh~ You're milking Floran!~"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Florans wantsss want to hear you beg for it.",
            "You're going to need crutches when I'm done fucking you.",
            "Floran has been craving your pussssssy!"
          ],
          "climaxing": [
            "O-oh.. you're tight! Sssssquirt for Floran!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Floran dominate ape!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate ape!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Floran dominate lissssard!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate lissssard!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Asssss cold!",
            "Floran dominate ssstinky bird!"
          ],
          "climaxing": [
            "Cum isssss cold!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Pussssssy Cold!",
            "Floran dominate ssstinky bird!"
          ],
          "climaxing": [
            "Cum isssss cold!"
          ],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Floran dominate bird!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate bird!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Floran dominate focksssssss!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate focksssssss!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Floran dominate bunny!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate bunny!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Floran dominate deer-man!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate deer-man!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Floran dominate dragon!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate dragon!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "You female. Yet hasss dick. What?!",
            "Floran dominate fox-woman!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox-woman!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Floran dominate ssstrange glow-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate ssstrange glow-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Floran dominate cat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate cat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Floran conquer mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran conquer mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Floran dominate tentacle-man!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate tentacle-woman!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Floran dominate wimpy plant!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate wimpy plant!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Floran dominate Masshhhiiine!",
            "Machine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate Masshhhiiine!",
            "Machine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fisssssh is in proper place!",
            "Floran dominate Fisssssh!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fisssssh is in proper place!",
            "Floran dominate Fisssssh!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Floran dominate wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Floran dominate man-fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate woman-fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "No! You will be fucked by floran!",
            "Floran dominate demon!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "No! You will be fucked by floran!",
            "Floran dominate demon!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Floran dominate fox-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Floran dominate moussssie!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate moussssie!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Floran dominate man-cat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate woman-cat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow man assss is hot! Too hot!",
            "Floran dominate glow-man!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow man pusssssy is hot! Too hot!",
            "Floran dominate glow-man!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Penguin tight!",
            "Floran dominate little bird!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Penguin tight!",
            "Floran dominate little bird!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Floran dominate bug!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate bug!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Floran dominate darknesssss man!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate darknesssss woman!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Pound floran, you viciousss predator!",
            "Pound floran with you hard sssspear! You viciousss predator!",
            "Yesss! Fuck floran!"
          ],
          "climaxing": [
            "Floran issss gonna take all your pollen!",
            "Yesss~! Ssspray your yummy pollen all up inssside~!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Pound floran, you viciousss predator!",
            "Yesss! Fuck floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Fuck floran, you big furry ape!",
            "Give floran big ape cock!",
            "Ape dominate floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big furry ape!",
            "Ape dominate floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Fuck floran, you big scaley lisssard!",
            "Give floran big lisssard cock!",
            "Lissssard dominate floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big scaley lissssard!",
            "Lissssard dominate floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Fuck floran, sssstinky cold bird!",
            "Give floran big cold bird cock!",
            "Cold bird dominate floran!"
          ],
          "climaxing": [
            "Cum isssss sso cold!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, sssstinky cold bird!",
            "Cold bird dominate floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Fuck floran, you big bird!",
            "Give floran big bird cock!",
            "Bird dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bird!",
            "Bird dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Fuck floran, you big fox!",
            "Give floran big fox cock!",
            "Foxxxx dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big fox!",
            "Fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Fuck floran, you big bunny!",
            "Give floran big bunny cock!",
            "Bunny dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bird!",
            "Bunny dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Fuck floran, you big deer!",
            "Give floran big deer cock!",
            "Deer dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big deer!",
            "Deer dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Fuck floran, you big demon!",
            "Give floran big demon cock!",
            "Demon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big demon!",
            "Demon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Fuck floran, you big dragon!",
            "Give floran big dragon cock!",
            "Dragon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big dragon!",
            "Dragon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fuck floran, you weird fox dick lady!",
            "Give floran big fox girl cock!",
            "Fox-woman-man dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big wierd fox!",
            "Fox-woman dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Fuck floran, you big fox!",
            "Give floran big doggie cock!",
            "Fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bird!",
            "Bird dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Fuck floran, you big glowing fox!",
            "Give floran big glowing cock!",
            "Glowing fox-thing dominatesss floran!"
          ],
          "climaxing": [
            "cum issss glowing insde Floran!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big glowing fox!",
            "Glowing fox-thing dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Fuck floran, you big tentacle-man!",
            "Give floran big silmey tentacle cock!",
            "Tentacle-eye dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big tentacle-man!",
            "Tentacle-eye dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [
            "Yessss! Let'sss make more hunterssss!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Fuck floran, you small flower-man!",
            "Give floran big flower cock!",
            "Weak flower person dominatesss floran! Isss not so weak..."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you small flower-man!",
            "Give floran big flower cock!",
            "Weak flower person dominatesss floran! Isss not so weak..."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Masshhhiiine dominates Floran!",
            "Masshhhiiine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Masshhhiiine dominate Floran!",
            "Masshhhiiine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Fuck floran, you big human!",
            "Give floran big human dick!",
            "Human dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big Human",
            "Human dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish dominates Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fish dominates Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Fuck floran, you big wolf!",
            "Give floran big doggie dick!",
            "Wolf dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big wolf!",
            "Wolf dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Fuck floran, you big man-fox!",
            "Give floran big doggie-man dick!",
            "Man-fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big man-fox!",
            "Man-fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "Fuck floran, you big demon!",
            "Give floran big demon dick!",
            "Demon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big demon",
            "Demon dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Fuck floran, you big fox-thing!",
            "Give floran big foxie dick!",
            "Fox-thing dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big fox-thing!",
            "Fox-thing dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Fuck floran, you big cheese!",
            "Give floran big rat dick!",
            "Mouse dominatesss floran! ... that makessss no sense."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big cheese!",
            "Mouse dominatesss floran! ... that makessss no sense."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Fuck floran, you big man-cat!",
            "Give floran big kitty dick!",
            "man-cat dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big woman-cat!",
            "Woman-cat dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Fuck floran, you big human!",
            "Give floran big human dick!",
            "Human dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big Human",
            "Human dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Ssssstarman sso warm and bright~!",
            "Ssssstarman sso warm inside floran~!"
          ],
          "climaxing": [
            "Ah, you make Floran's sssap boil~!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird dominates Floran! How?!",
            "Little bird hassss big cock!",
            "give floran little bird big cock!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Little bird dominates Floran! How?!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Fuck floran, you big fox!",
            "Give floran big fox dick!",
            "Fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big fox!",
            "Fox dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Fuck floran, you big bug!",
            "Give floran big bug dick!",
            "Bug dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bug!",
            "Bug dominatesss floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Fuck floran, you big dark man!",
            "Give floran big dark cock!",
            "Dark man dominates floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big dark man!",
            "Give floran big dark cock!",
            "Dark man dominates floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Floran issssssss cumming!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran issssssss cumming!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mate strong. Can get you pregnant too, yessss?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]
