{
  "version": "1.2_r1",

  /**
   * A link to a reliable download / update web page for Sexbound.
   */
  "updateLink": "https://github.com/ErinaSugino/Starbound-SBR-Mod",

  /**
   * Require players to verify their age upon joining for the first time?
   */
  "requirePlayerAgeVerification": false,
  
  /**
   * Level of immersion, regarding notifications to certain events.
   * 0 := None. Receive notifications to everything that's happening with debug level detail (like in original Sexbound)
   * 1 := Normal. Receive stripped down notifications to events. E.g. getting pregnant only gives a little hint, and doesn't tell you in bloody detail that you now have a baby boi with Greg.
   * 2 := Max. No notifications, figure it out yourself what's happening to you.
   */
  "immersionLevel": 1,

  /**
   * Adjust the sex configuration.
   */
  "sex": {
    /**
     * Specify if the Player can switch roles during the sex animation.
     * Default value: true
     */
    "allowSwitchRoles": true,

    /**
     * Positions may be filtered based on actor requirements (e.g. only someone with a penis can be in a penetrating position)
     * This increases immersion, but may result in very few to no positions available for some scenarios
     * Set this to TRUE if you want to globally disable these checks and want all positions available at all times, even if they don't make sense
     */
    "forceAllPositions": false,

    /**
     * When no player is present, non-player actors will try to initiate sex on their own (i.e. choosing a random position to start sex without the player)
     */
    "npcStartSex": true,

    /**
     * Specify supported entity base gender; however, Sexbound supports
     * unlimited sexbound specific sub-genders.
     */
    "supportedPlayerGenders": ["male", "female"],

    /**
     * Specify a default gender to use when an entity's gender is not supported.
     * Default value: male
     */
    "defaultPlayerGender": "male",

    /**
     * Specify supported entity species.
     */
    "supportedPlayerSpecies": [
      "apex",
      "avian",
      "fenerox",
      "floran",
      "glitch",
      "human",
      "hylotl",
      "novakid"
    ],

    /**
     * Specify a default species to use when an entity's species is not supported.
     * Default value: human
     */
    "defaultPlayerSpecies": "human",

    /**
     * Specify language support.
     */
    "supportedLanguages": {
      "english": {
        "title": "English",
        "name": "english",
        "languageCode": "en"
      },

      "russian": {
        "title": "Russian",
        "name": "russian",
        "languageCode": "ru"
      }
    },

    /**
     * Specify a default language to use.
     * Default value: english
     */
    "defaultLanguage": "english",

    /**
     * Actor's have head banging physics during the time they are having sex.
     * Default value: false
     */
    "enableHeadBangingPhysics": false,
    
    /**
     * Play custom music during sex (triggering when entering a sexnode, even while idling)
     */
    "useSexMusic": true,
    
    /**
     * List of tracks to use during sex, if enabled
     */
    "sexMusicPool": [
      "/music/sextrack1.ogg"
    ],
    
    /**
     * A list of supported sub-genders and their respective body traits
     */
    "subGenderList": [
      {
        "name": "futanari",
        "canOvulate": true,
        "canProduceSperm": true,
        "hasPenis": true,
        "hasVagina": true
      },
      {
        "name": "cuntboy",
        "canOvulate": true,
        "canProduceSperm": false,
        "hasPenis": false,
        "hasVagina": true
      }
    ],

    /**
     * The rate at which an entity gets horny. Value per second. Can be a range.
     * At a value of 100 NPCs go looking for sex automatically.
     */
    "naturalHorninessRate": [0.017, 0.04],
    
    /**
     * Determines whether or not players get affected by high arousal.
     * true := Players gain increasingly strong effects when their arousal gets too high. Can be reduced by climaxing according to "arousalPenalty" in climax config.
     * false := Players are unaffected by arousal, just like before.
     */
    "playerArousalEffects": true,
    
    /**
     * Determines whether or not compatible species go into heat or use normal arousal debuff mechanics
     * true := Players of heat-based species go into heat every couple days (see "heatCycleLength" setting); a strong, long-lasting arousal state only curable by breeding.
     * false := Players, regardless of their species, use normal progressive arousal debuffs (if enabled) that go away by mere climaxing.
     */
    "enableHeatMechanic": true,
    
    /**
     * For races with enabled "heat" arousal mechanic, the time between each heat wave as [min, max] number of days (based on average 840 second ingame day)
     */
    "heatCycleLength": [10, 30],
    
    /**
     * Chance, in percent, for a new NPC to have a random sub-gender.
     * For pregnancies, this chance is applied 3x - Random sub-gender, inherit mother sub-gender, inherit father sub-gender.
     */
    "subGenderChance": 0.01
  },

  /**
   * Adjust the sex actor configuration.
   */
  "actor": {
    /**
     * Specify body directives to apply to a sex actor.
     */
    "bodyDirectives": "",

    /**
     * Specify head directives to apply to a sex actor.
     */
    "headDirectives": "",

    /**
     * The default artwork file paths can be overridden for all actors.
     */
    "defaultArtwork": {
      "armBack": "/artwork/<entityGroup>/<role>/<species>/arm_back.png",
      "armFront": "/artwork/<entityGroup>/<role>/<species>/arm_front.png",
      "body": "/artwork/<entityGroup>/<role>/<species>/body_<gender>.png",
      "emote": "/<entityGroup>/<species>/emote.png",
      "head": "/artwork/<entityGroup>/<role>/<species>/head_<gender>.png",
      "groinGenital": "/artwork/<entityGroup>/<role>/<species>/groin_genital.png",
      "groinGenitalPregnancy": "/artwork/<entityGroup>/<role>/<species>/groin_genpreg.png",
      "groinPregnancy": "/artwork/<entityGroup>/<role>/<species>/groin_pregnant.png",
      "maskGroinGenital": "/artwork/<entityGroup>/<role>/<species>/groin_genital_mask.png",
      "maskGroinGenitalPregnancy": "/artwork/<entityGroup>/<role>/<species>/groin_genpreg_mask.png",
      "maskGroinPregnancy": "/artwork/<entityGroup>/<role>/<species>/groin_pregnant_mask.png",
      "ears": "/artwork/<entityGroup>/<role>/<species>/ears.png",
      "earsFlipped": "/artwork/<entityGroup>/<role>/<species>/ears_flipped.png",
      "tail": "/artwork/<entityGroup>/<role>/<species>/tail.png"
    },

    /**
     * Override all head artwork added by Sexbound with the original head artwork from other installed mods.
     */
    "forceUseOriginalHeadArtwork" : true,

    /**
     * Configuration for Chestwear 
     */
    "chestwear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for Backwear 
     */
    "backwear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for Groinwear 
     */
    "groinwear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for Headwear 
     */
    "headwear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for Legswear 
     */
    "legswear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for nippleswear 
     */
    "nippleswear": {
      "initIsLockedValue" : false,
      "initIsVisibleValue" : true
    },

    /**
     * Configuration for Nipples.
     * Default value: false
     */
    "nipplesConfig": {
      "visible": true
    },

    /**
     * Specify whether or not to horizontally flip the artwork of the sex actors.
     * Default value: false
     */
    "mirrorArtwork": false,

    /**
     * Specify how often Sexbound will sync an actor's entity in-world storage to with Sexbound storage.
     * Default value: 3.0
     */
    "syncDelta": 3.0,

    /**
     * Each actor loads its own plugins when it meets the plugin's load requirements.
     *
     * NOTE: All load requirements are at least set to an empty array to make patching easier.
     */
    "plugins": {
      /**
       * Load Plugin - Climax
       */
      "climax": {
        "enable": true,
        "name": "Climax",
        "config": [
          "/sxb_plugin.climax.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/climax/climax.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Emote
       */
      "emote": {
        "enable": true,
        "name": "Emote",
        "config": [
          "/sxb_plugin.emote.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/emote/emote.lua"],
        "loadRequirements": {
          "entityType": ["npc", "player", "object"],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Dynamic Subgender
       */
      "subgender": {
        "enable": true,
        "name": "Subgender",
        "config": [
          "/sxb_plugin.subgender.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/subgender/subgender.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Lactate
       */
       "lactate": {
        "enable": true,
        "name": "Lactate",
        "config": [
          "/sxb_plugin.lactate.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/lactate/lactate.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Moan
       */
      "moan": {
        "enable": true,
        "name": "Moan",
        "config": [
          "/sxb_plugin.moan.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/moan/moan.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - PassiveIncome
       */
       "passiveincome": {
        "enable": true,
        "name": "PassiveIncome",
        "config": [
          "/sxb_plugin.passiveincome.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/passiveincome/passiveincome.lua"],
        "loadRequirements": {
          "entityType": [ "player" ],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Pregnant
       */
      "pregnant": {
        "enable": true,
        "name": "Pregnant",
        "config": [
          "/sxb_plugin.pregnant.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/pregnant/pregnant.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - SexTalk
       */
      "sextalk": {
        "enable": true,
        "name": "SexTalk",
        "config": [
          "/sxb_plugin.sextalk.config"
        ],
        "scripts": ["/scripts/sexbound/plugins/sextalk/sextalk.lua"],
        "loadRequirements": {
          "entityType": [],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      },

      /**
       * Load Plugin - Social Distancing
       */
      "socialdistancing": {
        "enable": false,
        "name": "SocialDistancing",
        "config": ["/sxb_plugin.socialdistancing.config"],
        "scripts": [
          "/scripts/sexbound/plugins/socialdistancing/socialdistancing.lua"
        ],
        "loadRequirements": {
          "entityType": ["npc", "player"],
          "gender": [],
          "name": [],
          "species": [],
          "uniqueId": []
        }
      }
    }
  },

  /**
   * Override scripts configuration for entities.
   */
  "override": {
    "actor": {
      "scripts": []
    },
    "monster": {
      "overrideDir": "/scripts/sexbound/override",

      "scripts": [
        "<overrideDir>/<entityGroup>/status.lua",
        "<overrideDir>/<entityGroup>/arousal.lua",
        "<overrideDir>/<entityGroup>/climax.lua",
        "<overrideDir>/<entityGroup>/subgender.lua",
        "<overrideDir>/<entityGroup>/identity.lua",
        "<overrideDir>/<entityGroup>/pregnant.lua",
        "<overrideDir>/<entityGroup>/statistics.lua",
        "<overrideDir>/<entityGroup>/transform.lua"
      ]
    },

    "npc": {
      "overrideDir": "/scripts/sexbound/override",

      "scripts": [
        "<overrideDir>/<entityGroup>/status.lua",
        "<overrideDir>/<entityGroup>/apparel.lua",
        "<overrideDir>/<entityGroup>/arousal.lua",
        "<overrideDir>/<entityGroup>/climax.lua",
        "<overrideDir>/<entityGroup>/subgender.lua",
        "<overrideDir>/<entityGroup>/identity.lua",
        "<overrideDir>/<entityGroup>/pregnant.lua",
        "<overrideDir>/<entityGroup>/statistics.lua",
        "<overrideDir>/<entityGroup>/transform.lua"
      ]
    },

    "player": {
      "overrideDir": "/scripts/sexbound/override",

      "scripts": [
        "<overrideDir>/<entityGroup>/status.lua",
        "<overrideDir>/<entityGroup>/apparel.lua",
        "<overrideDir>/<entityGroup>/arousal.lua",
        "<overrideDir>/<entityGroup>/climax.lua",
        "<overrideDir>/<entityGroup>/subgender.lua",
        "<overrideDir>/<entityGroup>/identity.lua",
        "<overrideDir>/<entityGroup>/legal.lua",
        "<overrideDir>/<entityGroup>/pregnant.lua",
        "<overrideDir>/<entityGroup>/statistics.lua",
        "<overrideDir>/<entityGroup>/transform.lua"
      ]
    }
  },

  /**
   * Logging level. All log data placed into the player's starbound.log file.
   */
  "log": {
    "showBehavior": false,
    "showDebug": false,
    "showInfo": false,
    "showWarn": true,
    "showError": true
  },

  /**
   * Sex position configuration.
   */
  "position": {
    "configFile": "/positions/positions.config"
  },
  
  /**
   * NPC behaviour configuration
   */
  "behaviour": {
    "multiplier": {
      "incest": -1,
      "twoactor": 1,
      "gender": 1,
      "compatible": 1
    },
    
    "allowIncest": true
  },
  
  /**
   * Behaviour of the arousal/heat effects
   * "playMoans" defines if the given effect should play occasional moans
   * "moanChance" defines the chance a moan is played every interval of "moanFrequency" as percent (0-1)
   * "moanFrequency" defines the time between two possible moans in seconds. 0 = off.
   * "speedDebuff" defines a multiplier to how strong a potential speed debuff applied by the effect can be. 0 = off.
   * "strengthDebuff" defines a multiplier to how strong a potential strength debuff applied by the effect can be. 0 = off.
   * "fertilityBonus" defines a bonus given to the player's fertility with this effect, as percent multiplier. 0 = none
   */
  "arousal": {
    "weak": {
      "playMoans": false,
      "moanChance": 0.1,
      "moanFrequency": 10,
      "speedDebuff": 1,
      "strengthDebuff": 1,
      "fertilityBonus": 0
    },
    "strong": {
      "playMoans": false,
      "moanChance": 0.1,
      "moanFrequency": 10,
      "speedDebuff": 1,
      "strengthDebuff": 1,
      "fertilityBonus": 1.1
    },
    "heat": {
      "playMoans": true,
      "moanChance": 0.1,
      "moanFrequency": 10,
      "speedDebuff": 1,
      "strengthDebuff": 1,
      "fertilityBonus": 1.1
    },
    "heatWeak": {
      "playMoans": true,
      "moanChance": 0.1,
      "moanFrequency": 10,
      "speedDebuff": 1,
      "strengthDebuff": 1,
      "fertilityBonus": 0
    }
  }
}
