{
  /*
    Defeated Monster Timeout.
    This can be a positive integer or a range like so [30, 60]. Default = 60 
  */
	"defeatTimeoutMonster" : 60, 

  /*
    Defeated NPC Timeout.
    This can be a positive integer or a range like so [30, 60]. Default = 60 
  */
  "defeatTimeoutNPC"    : 60,
  
  /*
    Defeated Player Timeout.
    This can be a positive integer or a range like so [30, 60]. Default = 30
  */
  "defeatTimeoutPlayer" : 30,
  
  /* 
    Enable pregnant NPCs to be immortal. 
    Valid options are true & false. Default: false
  */
  "enableImmortalPregnantNPCs" : false,
  
  /*
    Enable impregnated enemies to switch damage teams to friendly. 
    Valid options are true & false. Default: false
  */
  "convertPregnantEnemiesToFriends" : false,
  
  /*
    Enable starting dialog for NPCs? 
    Valid options are true & false. Default: true
  */
  "enableStartDialogForNPCs" : true,
  
  /*
    Enable starting dialog for Monsters? 
    Valid options are true & false. Default: false
  */
  "enableStartDialogForMonsters" : false,

  /*
    [Bugged] Setting this to true enables a defeated player to have access to use the Sex UI.
    Valid options are true & false. Default: false
  */
  "defeatedPlayersCanUseSexUI" : false,

  /* Define 'victory' and 'defeated' start dialog for NPCs. the 'default' species is a fallback. */
  "startDialog" : {
    "victory" : {
      "default" : [
        "Stay down and wait for me to give you a real punishment!",
        "I'm not finished with this little bitch yet!",
        "You're going to make such a fine cum dumpster for me."
      ],
      
      "floran" : [
        "Floran is going to have fun playing with prey!",
        "Time to Sssexxxsss with the prey!"
      ]
    },
    
    "defeated" : {
      "default" : [
        "W-what are you going to do with me now?",
        "P-please don't hurt me any more! Let me go!",
        "W-What do you plan to do with me?"
      ],
      
      "floran" : [
        "Floran doesn't like where thisss is going next.."
      ]
    }
  },
  
  "pregnantDialog" : {
    "default" : [
      "Sorry, but I refuse to die while I'm pregnant!"
    ]
  }
}