/**
 * Plugin - Moan
 * Enabled Default? Yes, but can be disabled in the sexbound.config file
 *
 * Controls an actor's moan and orgasm sound effects during sex.
 */
{
  /**
   * Fallback moan sfx configuration.
   */
  "moan": {
    "enabled": true,

    "soundConfig": {
      /**
       * SFX Moan - Default
       */
      "default": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/human/humanmoanfemale01.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale02.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale03.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale04.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale05.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale06.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale07.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale08.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale09.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale10.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale11.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale12.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale13.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale14.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale15.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Apex
       */
      "apex": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/apex/apexmoanmale01.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale02.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale03.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale04.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale05.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale06.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale07.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale08.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale09.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale10.ogg",
            "/sfx/sexbound/moans/apex/apexmoanmale11.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/apex/apexmoanfemale01.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale02.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale03.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale04.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale05.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale06.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale07.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale08.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale09.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale10.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale11.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale12.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale13.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale14.ogg",
            "/sfx/sexbound/moans/apex/apexmoanfemale15.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Avian
       */
      "avian": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/avian/avianmoanmale01.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale02.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale03.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale04.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale05.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale06.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale07.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale08.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale09.ogg",
            "/sfx/sexbound/moans/avian/avianmoanmale10.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/avian/avianmoanfemale01.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale02.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale03.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale04.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale05.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale06.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale07.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale08.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale09.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale10.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale11.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale12.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale13.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale14.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale15.ogg",
            "/sfx/sexbound/moans/avian/avianmoanfemale16.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Floran
       */
      "floran": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/floran/floranmoanmale01.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale02.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale03.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale04.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale05.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale06.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale07.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale08.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale09.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale10.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale11.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale12.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale13.ogg",
            "/sfx/sexbound/moans/floran/floranmoanmale14.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/floran/floranmoanfemale01.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale02.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale03.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale04.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale05.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale06.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale07.ogg",
            "/sfx/sexbound/moans/floran/floranmoanfemale08.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Glitch
       */
      "glitch": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/glitch/glitchmoanfemale01.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale02.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale03.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale04.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale05.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale06.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale07.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale08.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale09.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale10.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale11.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale12.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale13.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale14.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale15.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale16.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale17.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale18.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale19.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale20.ogg",
            "/sfx/sexbound/moans/glitch/glitchmoanfemale21.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Human
       */
      "human": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/human/humanmoanfemale01.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale02.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale03.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale04.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale05.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale06.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale07.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale08.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale09.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale10.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale11.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale12.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale13.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale14.ogg",
            "/sfx/sexbound/moans/human/humanmoanfemale15.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Hylotl
       */
      "hylotl": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale01.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale02.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale03.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale04.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale05.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale06.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale07.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale08.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale09.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale10.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale11.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale12.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale13.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale14.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale15.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale16.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale17.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale18.ogg",
            "/sfx/sexbound/moans/hylotl/hylotlmoanfemale19.ogg"
          ]
        }
      },

      /**
       * SFX Moan - Novakid
       */
      "novakid": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/moans/novakid/novakidmoanfemale01.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale02.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale03.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale04.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale05.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale06.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale07.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale08.ogg",
            "/sfx/sexbound/moans/novakid/novakidmoanfemale09.ogg"
          ]
        }
      },

      /**
       * SFX - Support Tentacle Plant in Lustbound
       */
      "sexbound_tentacleplant_v2": {
        "male": {
          "interval": [1, 3],
          "pitch": [0.8, 1.2],
          "soundEffects": [
            "/sfx/moans/slime1.ogg",
            "/sfx/moans/slime2.ogg",
            "/sfx/moans/slime3.ogg",
            "/sfx/moans/slime4.ogg"
          ]
        },
        "female": {
          "interval": [1, 3],
          "pitch": [0.8, 1.2],
          "soundEffects": [
            "/sfx/moans/slime1.ogg",
            "/sfx/moans/slime2.ogg",
            "/sfx/moans/slime3.ogg",
            "/sfx/moans/slime4.ogg"
          ]
        }
      }
    }
  },

  /**
   * Fallback orgasm sfx configuration.
   */
  "orgasm": {
    "enabled": true,

    "soundConfig": {
      /**
       * SFX Orgasm - Default
       */
      "default": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/human/humanorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/human/humanorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/human/humanorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Apex
       */
      "apex": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/apex/apexorgasmmale01.ogg",
            "/sfx/sexbound/orgasms/apex/apexorgasmmale02.ogg",
            "/sfx/sexbound/orgasms/apex/apexorgasmmale03.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/apex/apexorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/apex/apexorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/apex/apexorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Avian
       */
      "avian": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/avian/avianorgasmmale01.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmmale02.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmmale03.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale03.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale04.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale05.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale06.ogg",
            "/sfx/sexbound/orgasms/avian/avianorgasmfemale07.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Floran
       */
      "floran": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/floran/floranorgasmmale01.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmmale02.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmmale03.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmmale04.ogg"
          ]
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/floran/floranorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmfemale03.ogg",
            "/sfx/sexbound/orgasms/floran/floranorgasmfemale04.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Glitch
       */
      "glitch": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/glitch/glitchorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/glitch/glitchorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/glitch/glitchorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Human
       */
      "human": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/human/humanorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/human/humanorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/human/humanorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Hylotl
       */
      "hylotl": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/hylotl/hylotlorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/hylotl/hylotlorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/hylotl/hylotlorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Novakid
       */
      "novakid": {
        "male": {
          "interval": [2.0, 4.0],
          "pitch": [1.0, 1.0],
          "soundEffects": []
        },

        "female": {
          "interval": [2.0, 3.0],
          "pitch": [1.0, 1.0],
          "soundEffects": [
            "/sfx/sexbound/orgasms/novakid/novakidorgasmfemale01.ogg",
            "/sfx/sexbound/orgasms/novakid/novakidorgasmfemale02.ogg",
            "/sfx/sexbound/orgasms/novakid/novakidorgasmfemale03.ogg"
          ]
        }
      },

      /**
       * SFX Orgasm - Support Tentacle Plant in Lustbound
       */
      "sexbound_tentacleplant_v2": {
        "male": {
          "interval": [1, 3],
          "pitch": [0.8, 1.2],
          "soundEffects": [
            "/sfx/orgasm/slime1.ogg",
            "/sfx/orgasm/slime2.ogg"
          ]
        },
        "female": {
          "interval": [1, 3],
          "pitch": [0.8, 1.2],
          "soundEffects": [
            "/sfx/orgasm/slime1.ogg",
            "/sfx/orgasm/slime2.ogg"
          ]
        }
      }
    }
  }
}
