/**
 * Plugin - Dynamic Subgender
 * Enabled Default? Yes, but it can be disabled in the sexbound.config file.
 *
 * Controls actors and whether or not they have sub-genders by dynamic status effect sources.
 */
{
  /**
   * If applying a specific sub-gender requires a specific main gender
   * "sub-gender": "gender"
   */
  "genderLimitations": {"futanari": "female", "cuntboy": "male"},

  /**
   * A list of status names that dynamically change the sub-gender.
   * "status name": "sub-gender to be set"
   */
  "statuseffects": {
    "equipped_futamode": ["futanari", "cuntboy"]
  }
}
