/**
 * Plugin - SexTalk
 * Enabled Default? Yes, but can be disabled in the sexbound.config file
 *
 * Controls the ability for actors to speak during sex.
 */
{
  /**
   * This number range specifies how often an actor speaks. Default: 10 to 20 seconds.
   */
  "cooldown": [10, 20],
  
  /**
   * When "true", player actors will not trigger dialogue when there are only players in the node.
   * For players that want to roleplay their own dirtytalk in MP situations
   */
  "roleplayMode": true,

  /**
   * true  := Display emoticons as actor emotes.
   * false := Disabled.
   */
  "enableEmoticons": true,

  /**
   * (Emote Plugin Required) The below emoticons can be found in a line of dialog, then a matching emote animation is played.
   */
  "emoticons": {
    "happy": [":)", "^_^", "\\o/", ":-)"],
    "cry": [":'("],
    "neutral": [":|", ":-|", "-_-"],
    "laugh": [":D", "XD", ":-D"],
    "annoyed": [">:|", "<_<", ":(", ":-("],
    "shout": [":o", "o.0", "0.o", ":O", "O.O"],
    "wink": [";)", ";-)"]
  },
  
  /**
   * When "true", any species that does not have a dialog file specified for a position uses the "default" one.
   * When "false", any species that does not have a dialog file specified for a position stays completely silent.
   */
  "useDefaultDialog": true,
  
  /**
   * When "true", dialog will be preceded by the name of the person saying it (if they have a name). Can get weird with long names.
   * When "false", dialog is said normally.
   */
  "useNames": true
}
