/**
 * Plugin - Emote
 * Enabled Default? Yes, but can be disabled in the sexbound.config file
 *
 * Controls an actor's emotes during sex.
 */
{
  /**
   * true  := Disallow other emotes to interrupt the talking emote animation.
   * false := Allow other emotes to interrupt the talking emote animation.
   */
  "talkingIsPriority": true,

  /**
   * This defines the playable emotes.
   */
  "emotePool": {
    "default": {
      "animState": "none",
      "statusName": null,
      "timeout": 0
    },

    "annoyed": {
      "animState": ["annoyed"],
      "statusName": "annoyed",
      "timeout": 2
    },

    "blabber": {
      "animState": ["blabber"],
      "statusName": "talking",
      "timeout": 2
    },

    "climax": {
      "animState": ["blink", "happy", "oh"],
      "statusName": "climaxing",
      "timeout": 3
    },

    "cry": {
      "animState": ["sad"],
      "statusName": "crying",
      "timeout": 3
    },

    "happy": {
      "animState": ["happy"],
      "statusName": "happy",
      "timeout": 2
    },

    "laugh": {
      "animState": ["laugh"],
      "statusName": "laugh",
      "timeout": 2
    },

    "moan": {
      "animState": ["oh"],
      "statusName": "moaning",
      "timeout": 1
    },

    "neutral": {
      "animState": ["neutral"],
      "statusName": "neutral",
      "timeout": 3
    },

    "shout": {
      "animState": ["shout"],
      "statusName": "shouting",
      "timeout": 2
    },

    "wink": {
      "animState": ["wink"],
      "statusName": "winking",
      "timeout": 2
    }
  }
}
