/**
 * Plugin - Climax
 * Enabled Default? Yes, but can be disabled in the sexbound.config file
 *
 * Controls an actor's ability to climax during sex.
 */
{
  /**
   * true  := Enables NPCs to automatically climax when they reach maximum climax points (Default).
   * false := Disables NPCs from automatically climaxing.
   */
  "enableNPCAutoClimax": true,

  /**
   * true  := Enables Monsters to automatically climax when they reach maximum climax points (Default).
   * false := Disables Monsters from automatically climaxing.
   */
  "enableMonsterAutoClimax": true,

  /**
   * true  := Enables climax sound effect (Default).
   * false := Disables climax sound effects.
   */
  "enableClimaxSounds": true,

  /**
   * true  := Enables climax particles (Default).
   * false := Disables climax particles.
   */
  "enableClimaxParticles": true,

  /**
   * true  := Enables liquids to be spawned on every orgasm.
   * false := Disables them (Default).
   */
  "enableSpawnLiquids": true,

  /**
   * This defines the liquid that a climax projectile can spawn.
   */
  "projectileLiquid": {
    "default": {
      "male": "semen",
      "female": "ejaculant"
    }
  },

  /**
   * This number range determines how quickly an actor gains climax points during
   * the 'sexState' state.
   *
   * Default value - [ 0.5, 2.0 ]
   */
  "defaultIncrease": [0.5, 2.0],

  /**
   * This number range determines how quickly an actor loses climax points during
   * the 'idleState' state.
   *
   * Default value - [ 0.5, 2.0 ]
   */
  "defaultDecrease": [0.5, 1.0],

  /**
   * This number sets how many climax points / second an actor consumes while it
   * is having climax.
   *
   * Default value - 10
   */
  "drainMultiplier": 7.5,

  /**
   * Sets a range of percentages where a random percentage within the range will
   * be removed from the actor's arousal points.
   *
   * Default value - [ 0.25, 0.9 ]
   */
  "arousalPenalty": [0.1, 0.25],

  /**
   * This is the starting amount of climax points for an actor.
   *
   * Default value - 0
   */
  "currentPoints": 0,

  /**
   * This number indicates the minimum amount of climax points possible.
   *
   * Default value - 0
   */
  "minPoints": 0,

  /**
   * This number indicates the maximum amount of climax points possible.
   *
   * Default value - 100
   */
  "maxPoints": 100,

  /**
   * A list of sexbound statuses that prevent an actor from becoming pregnant.
   */
  "preventStatuses": ["infertile", "equipped_condom"],
  
  /**
   * A list of sexbound statuses that prevent a male actor from emitting visible climax effects.
   */
  "preventStatusesVisible": ["equipped_condom"],

  /**
   * This number indicates the minimum amount of climax points that are needed to climax.
   *
   * Default value - 50
   */
  "threshold": 90,

  /**
   * This range of numbers will control how often the actor has an orgasm.
   *
   * Default value - [ 0.5, 1.5 ]
   */
  "shotCooldown": [0.3, 1.5],

  /**
   * An array of sounds to audibly indicate when an actor is climaxing.
   */
  "sounds": ["/sfx/sexbound/cum/squish.ogg"],
  
  /**
   * Disable special condom logic (infinite, non-degrading, no break chance, just protection)
   */
  "legacyCondoms": false
}
