/**
 * Plugin - Social Distancing
 * Enabled Default? No, but can be enabled in the sexbound.config file
 *
 * Force NPCs and Players to must wear a surgical mask when having sex.
 */
{
  /**
   * true  := The auto-worn surgical mask will be a random color.
   * false := The auto-worn surgical mask will always be the color black.
   */
  "enableMultipleColors": false,

  /**
   * true  := The players can toggle the headwear item on and off / replace it.
   * false := The players cannot remove or replace the headwear item.
   */
  "enableHeadwearLocking": true
}
