/**
 * Plugin - PassiveIncome
 * Enabled Default? Yes, but can be disabled in the sexbound.config file
 *
 * Rewards players with a passive income of Sexbux while having sex.
 */
{
  /**
   * What amount of curreny should be given after the cooldown time is reached?
   * Valid values are 1) a number 2) a number range e.g. 2 or [2, 3]
   */
  "rewardAmount" : [2, 3],

  /**
   * How long does an entity have to wait while having sex to receive a reward?
   * Valid values are 1) a number 2) a number range e.g. 2 or [2, 3]
   */
  "rewardCooldown" : [10, 15],

  /**
   * What type of currency should the entity receive as a reward?
   * Valid values are 1) a string 2) an array of valid currencies.
   * e.g. "sexbux" or ["sexbux", "money"]
   */
  "rewardCurrency" : ["sexbux"]
}
