/**
 * Plugin - Lactate
 * Enabled Default? No.
 *
 * Controls a pregnant actor's ability to lactate during sex.
 */
{
  /**
   * What species names to exclude from ability to lactate?
   * Expected value as: an array of strings of species names
   */
  "excludedSpecies": [ "penguin" ],

  /**
   * When is the next burst time or time to lactate drops of milk?
   * Expected value as: a number range
   */
  "nextBurstTime": [ 1.0, 10.0 ],

  /**
   * Lactation requires the entity to be pregnant?
   * Expected value as: true or false
   */
  "requiresPregnancy": true
}
