{
  "scripts" : ["/interface/sexbound_runicassembler/sexbound_runicassemblerui.lua"],

  "scriptWidgetCallbacks" : [
    "craft",
    "clear"
  ],
  
  "messageProcessing" : "Keep your pants on, the machine is still working.",
  "messageMissing" : "Nothing happened! Have you tried using the machine to reassemble ^orange;Fetish Keystones^reset; and a ^orange;Runic Cube^reset;?",
  
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/sexbound_runicassembler/header.png",
      "fileBody" : "/interface/sexbound_runicassembler/body.png",
      "fileFooter" : "/interface/sexbound_runicassembler/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/fuel/fuelshine.png",
      "position" : [0, -2],
      "zlevel" : -10
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "FTL Drive Fuel Hatch",
      "subtitle" : "Erchius fuel repository",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/fuel/fuelheadericon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblInstructions" : {
      "type" : "label",
      "position" : [85, 75],
      "hAnchor" : "mid",
      "value" : "Supply Required Items"
    },
    "craft" : {
      "type" : "button",
      "position" : [96, 28],
      "base" : "/interface/sexbound_runicassembler/craftup.png",
      "hover" : "/interface/sexbound_runicassembler/craftdown.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [42, 28],
      "base" : "/interface/sexbound_runicassembler/clearup.png",
      "hover" : "/interface/sexbound_runicassembler/cleardown.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [66, 48],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [155, 100]
    }
  }
}
