{
  "name" : "standing_in_bed",
  
  "base" : "standing",

  "friendlyName" : "Standing in Bed",

  "animationState" : {
    "states" : {
      "idleState"   : {
        "properties" : {
          "frameName" : "idle_laying",
          "rotateHead": [90, 0],
          "stateName" : "idle_laying"
        }
      }
    }
  }
}