{
  "friendlyName" : "Standing",

  "name" : "standing",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:standing",
  
  "minRequiredActors" : 2,
  "maxAllowedActors"  : 3,
  "requireTraits"     : [["insert"], null, null, null],
  
  "possiblePregnancy" : [false, true, true, false],
  "possibleImpregnation":[true, true, false, false],
  "actorRelation": [2,3,0,0],
  "interactionType": ["direct","direct",null,null],
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/standing/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/standing/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/standing/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/standing/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/standing/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/standing/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/standing/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/standing/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/standing/novakid<gender>.config"
  },
	
	"containerOverlay" : [
		{
			"frameName" : "position1",
			"imagePath" : "/artwork/overlays/overlay1.png"
		},
		
		{
			"frameName" : "position1",
			"imagePath" : "/artwork/overlays/overlay2.png"
		},
		
		{
			"frameName" : "position1",
			"imagePath" : "/artwork/overlays/overlay3.png"
		}
	],

  "animationState" : {
    "properties" : {
			"enabled"          : [true, true, true, false],
      "climaxMultiplier" : [1.25, 1.25, 1.5, 0],
      "headBangSpeedMultiplier" : [ 10, 10, 10, 0 ],
      "mouthOffset"      : [[0, 0], [0, 0], [0, 0], [0, 0]],
			"visible"          : [true, true, true, false],
			"sprites"          : {
				"armBack"                   : [null, null, "/artwork/<entityGroup>/actor2/<species>/arm_back.png",            null],
				"armFront"                  : [null, null, "/artwork/<entityGroup>/actor2/<species>/arm_front.png",           null],
				"body"                      : [null, null, "/artwork/<entityGroup>/actor2/<species>/body_<gender>.png",       null],
				"head"                      : [null, null, "/artwork/<entityGroup>/actor2/<species>/head_<gender>.png",       null],
				"groinGenital"              : [null, null, "/artwork/<entityGroup>/actor2/<species>/groin_genital.png",       null],
				"groinGenitalPregnancy"     : [null, null, "/artwork/<entityGroup>/actor2/<species>/groin_genpreg.png",       null],
				"groinPregnancy"            : [null, null, "/artwork/<entityGroup>/actor1/<species>/groin_pregnant.png",      null],
				"maskGroinGenital"          : [null, null, "/artwork/<entityGroup>/actor2/<species>/groin_genital_mask.png",  null],
				"maskGroinGenitalPregnancy" : [null, null, "/artwork/<entityGroup>/actor2/<species>/groin_genpreg_mask.png",  null],
				"maskGroinPregnancy"        : [null, null, "/artwork/<entityGroup>/actor2/<species>/groin_pregnant_mask.png", null]
			}
    },
    
    "states" : {
      "idleState"   : {
        "properties" : {
          "frameName" : "idle",
          "stateName" : "idle"
        }
      },
      
      "sexState"    : {
        "properties" : {
          "frameName" : ["position1", "position1", "position2", "position2"],
          "stateName" : "position1",
          "minTempo"  : 2,
          "maxTempo"  : [3, 5]
        }
      },
      
      "climaxState" : {
        "properties" : {
          "frameName" : ["position1-climax", "position1-climax", "position2-climax", "position2-climax"],
          "stateName" : "position1-climax"
        }
      },

      "postclimaxState" : {
        "properties" : {
          "frameName" : ["position1-postclimax", "position1-postclimax", "position2-postclimax", "position2-postclimax"],
          "stateName" : "position1-postclimax"
        }
      },
      
      "exitState"   : {
        "properties" : {
          "frameName" : ["position1-reset", "position1-reset", "position2-reset", "position2-reset"],
          "stateName" : "position1-reset"
        }
      }
    }
  },
  
  "climaxConfig" : [
    {
      "male" : {
        "particleName" : "climaxstandingmale1",
        "projectileName" : "climaxstandingmale1",
        "projectileStartAngle" : 135
      },
      
      "female" : {
        "particleName" : "climaxstandingfemale1",
        "projectileName" : "climaxstandingfemale1",
        "projectileStartAngle" : 270
      }
    },
    
    {
      "male" : {
        "particleName" : "climaxstandingmale2",
        "projectileName" : "climaxstandingmale2",
        "projectileStartAngle" : 0
      },
      
      "female" : {
        "particleName" : "climaxstandingfemale2",
        "projectileName" : "climaxstandingfemale2",
        "projectileStartAngle" : 270
      }
    },

    {
      "male" : {
        "particleName" : "climaxdoggymale2",
        "projectileName" : "climaxdoggymale2",
        "projectileStartAngle" : 0
      },
      
      "female" : {
        "particleName" : "climaxdoggyfemale2",
        "projectileName" : "climaxdoggyfemale2",
        "projectileStartAngle" : 270
      }
    }
  ]
}
