{
  "default" : {
    "iconImage"   : "/artwork/default.png",
    "iconOffsets" : [ [0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0] ]
  },

  "butterfly" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:butterfly",
    "iconOffsets" : [
      [-4, 4],
      [3, -3],
      [3, 3],
      [-6, -2],
      [8, 0],
      [0, 3],
      [0, -3],
      [6, 2]
    ]
  },
  
  "cowgirl" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:cowgirl",
    "iconOffsets" : [
      [-6, 4],
      [5, -3],
      [0, 8],
      [-5, 3],
      [5, 1],
      [1, 8],
      [-4, -3],
      [6, 4]
    ]
  },
  
  "doggy" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:doggy",
    "iconOffsets" : [
      [-4, 4],
      [3, -3],
      [2, 8],
      [-3, 0],
      [5, 0],
      [0, 8],
      [-2, -4],
      [8, 4]
    ]
  },
  
  "facesitting" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:facesitting",
    "iconOffsets" : [
      [-6, 4],
      [5, -3],
      [0, 8],
      [-3, 1],
      [6, 3],
      [1, 8],
      [-4, -3],
      [6, 4]
    ]
  },

  "fellatio" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:fellatio",
    "iconOffsets" : [
      [-5, 5],
      [5, -3],
      [2, 6],
      [-4, 0],
      [6, 0],
      [2, 6],
      [-2, -3],
      [6, 4]
    ]
  },
  
  "missionary" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:missionary",
    "iconOffsets" : [
      [-4, 4],
      [6, -4],
      [0, 6],
      [-4, 0],
      [7, 2],
      [4, 6],
      [-2, 0],
      [6, 4]
    ]
  },
  
  "reverse_cowgirl" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:reverse_cowgirl",
    "iconOffsets" : [
      [-6, 4],
      [5, -3],
      [0, 8],
      [-5, 3],
      [5, 1],
      [1, 8],
      [-4, -3],
      [6, 4]
    ]
  },
	
  "standing" : {
    "iconImage" : "/interface/sexbound/sexui/submodule/positions/position-icon.png:standing",
    "iconOffsets" : [
      [-6, 2],
      [3, -3],
      [3, 3],
      [-6, -2],
      [6, -2],
      [0, 3],
      [0, -3],
      [6, 2]
    ]
  }
}