{
  "name"         : "butterfly_in_bed",
  "base"         : "butterfly",
  "friendlyName" : "Butterfly in Bed",

  "animationState" : {
    "states" : {
      "idleState" : {
        "properties" : {
          "frameName"  : "idle_laying",
          "rotateHead" : [ 90, 90 ],
          "stateName"  : "idle_laying"
        }
      }
    }
  }
}