{
	"name"          : "butterfly_defeat",
	"base"          : "butterfly",
	
	"dialog" : {
		"default" : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"apex"    : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"avian"   : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"fenerox" : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"floran"  : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"glitch"  : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"human"   : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"hylotl"  : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config",
		"novakid" : "/dialog/sexbound/<langcode>/positions/butterfly/defaultbutterflydefeat.config"
	}
}