{
  "scripts" : ["/interface/sexbound/defeat.lua"],
  
  "scriptDelta" : 2,

  "scriptWidgetCallbacks" : [],

  "canvasClickCallbacks" : {
    "interface" : "canvasClickEvent"
  },

  "canvasKeyCallbacks" : {
    "interface" : "canvasKeyEvent"
  },

  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/sexbound/defeatbody.png",
      "fileFooter": ""
    },
    "interface" : {
      "type" : "canvas",
      "rect" : [0, 0, 10, 10],
      "captureKeyboardEvents" : true,
      "captureMouseEvents" : true,
      "zlevel" : 1
    }
  },

  "config" : {}
}