
{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "offset" : [0, 0],
      "positionLocked" : true
    },

    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody"   : "/interface/sexbound/customizer/background.png",
      "fileFooter" : "",
      "zlevel" : 1
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/sexbound/customizer/close.png",
      "hover" : "/interface/sexbound/customizer/close-hover.png",
      "pressed" : "/interface/sexbound/customizer/close-pressed.png",
      "pressedOffset" : [0, 0],
      "position" : [395, 211]
    },

    "generalTab" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : true,
      "rect" : [0, 0, 426, 209],
      "children" : {
        "test" : {
          "fontSize" : 16,
          "type" : "label",
          "position" : [20, 30],
          "hAnchor" : "left",
          "width" : 120,
          "value" : "^shadow;CURRENCY",
          "color" : [255, 255, 255]
        },
        "sexbuxLabel" : {
          "fontSize" : 8,
          "type" : "label",
          "position" : [20, 20],
          "hAnchor" : "left",
          "width" : 30,
          "value" : "^shadow;Sexbux",
          "color" : [255, 255, 255]
        },
        "sexbuxImage" : {
          "file" : "/interface/sexbound/customizer/icons/sexbux.png",
          "type" : "image",
          "position" : [50, 20]
        },
        "sexbuxValue" : {
          "fontSize" : 8,
          "type" : "label",
          "position" : [60, 20],
          "hAnchor" : "left",
          "width" : 60,
          "value" : "^shadow;0",
          "color" : [255, 255, 255]
        },
		"subGenderTitle" : {
		  "fontSize": 16,
		  "type": "label",
		  "position": [20, 180],
		  "hAnchor": "left",
		  "width": 200,
		  "value": "^shadow;Customize Sub-Gender",
		  "color": [255, 255, 255]
		},
        "subGenderLabel" : {
          "fontSize": 10,
          "type": "label",
		  "position": [124, 178],
		  "hAnchor": "mid",
		  "vAnchor": "top",
		  "width": 180,
		  "value": "^shadow;Unknown",
		  "wrapWidth": 180,
		  "color": [255, 255, 255]
        },
		"subGenderSelector": {
		  "type": "spinner",
		  "position": [20, 170],
		  "upOffset": 200
		},
		"subGenderConfirm": {
		  "type": "button",
		  "base": "/interface/sexbound/customizer/smallbutton.png",
		  "hover": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "pressed": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "disabledImage": "/interface/sexbound/customizer/smallbutton-disabled.png",
		  "pressedOffset": [1,-1],
		  "caption": "Change",
		  "fontColor": [255, 255, 255],
		  "textAlign": "center",
		  "position": [240, 168],
		  "disabled": true,
		  "visible": false
		},
		"subGenderPriceIcon": {
		  "type" : "image",
		  "file" : "/interface/sexbound/customizer/icons/sexbux.png",
          "position" : [300, 170],
		  "visible": false
		},
		"subGenderPrice": {
          "type" : "label",
          "fontSize" : 8,
          "position" : [310, 170],
          "hAnchor" : "left",
          "width" : 50,
          "value" : "^shadow;2500",
          "color" : [255, 255, 255],
		  "visible": false
		},
		"sterilizeLabel" : {
          "fontSize": 10,
          "type": "label",
		  "position": [20, 164],
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "width": 210,
		  "value": "^shadow;You currently ^orange;are not^reset;^shadow; sterilized.",
		  "wrapWidth": 210,
		  "color": [255, 255, 255]
        },
		"sterilizeConfirm": {
		  "type": "button",
		  "base": "/interface/sexbound/customizer/smallbutton.png",
		  "hover": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "pressed": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "disabledImage": "/interface/sexbound/customizer/smallbutton-disabled.png",
		  "pressedOffset": [1,-1],
		  "caption": "Change",
		  "fontColor": [255, 255, 255],
		  "textAlign": "center",
		  "position": [240, 153]
		},
		"sterilizePriceIcon": {
		  "type" : "image",
		  "file" : "/interface/sexbound/customizer/icons/sexbux.png",
          "position" : [300, 155]
		},
		"sterilizePrice": {
          "type" : "label",
          "fontSize" : 8,
          "position" : [310, 155],
          "hAnchor" : "left",
          "width" : 50,
          "value" : "^shadow;1000",
          "color" : [255, 255, 255]
		},
		"infertileLabel" : {
          "fontSize": 10,
          "type": "label",
		  "position": [20, 148],
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "width": 210,
		  "value": "^shadow;You currently ^orange;are not^reset;^shadow; infertile.",
		  "wrapWidth": 210,
		  "color": [255, 255, 255]
        },
		"infertileConfirm": {
		  "type": "button",
		  "base": "/interface/sexbound/customizer/smallbutton.png",
		  "hover": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "pressed": "/interface/sexbound/customizer/smallbutton-hover.png",
		  "disabledImage": "/interface/sexbound/customizer/smallbutton-disabled.png",
		  "pressedOffset": [1,-1],
		  "caption": "Change",
		  "fontColor": [255, 255, 255],
		  "textAlign": "center",
		  "position": [240, 137]
		},
		"infertilePriceIcon": {
		  "type" : "image",
		  "file" : "/interface/sexbound/customizer/icons/sexbux.png",
          "position" : [300, 139]
		},
		"infertilePrice": {
          "type" : "label",
          "fontSize" : 8,
          "position" : [310, 139],
          "hAnchor" : "left",
          "width" : 50,
          "value" : "^shadow;2000",
          "color" : [255, 255, 255]
		}
      }
    },

    "addonModsTab" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : false,
      "rect" : [0, 0, 426, 209],
      "children" : {
        "addonModsList" : {
          "type" : "scrollArea",
          "rect" : [10, 10, 138, 201],
          "children" : {
            "itemList" : {
              "type" : "list",
              "callback" : "addonModItemSelected",
              "schema" : {
                "selectedBG" : "/interface/sexbound/customizer/listitemscrollselected.png",
                "hoverBG" : "/interface/sexbound/customizer/listitemscrollhover.png",
                "unselectedBG" : "/interface/sexbound/customizer/listitemscroll.png",
                "memberSize" : [118, 21],
                "spacing" : [0, 1],
                "listTemplate" : {
                  "background" : {
                    "type"     : "image",
                    "file"     : "/interface/sexbound/customizer/listitemscroll.png",
                    "position" : [0, -1],
                    "zlevel"   : -1
                  },
                  "itemName" : {
                    "type"        : "label",
                    "position"    : [21, 10],
                    "hAnchor"     : "left",
                    "vAnchor"     : "mid",
                    "lineSpacing" : 1.0,
                    "wrapWidth"   : 95
                  },
                  "itemIcon" : {
                    "type"     : "image",
                    "position" : [3, 3]
                  }
                }
              }
            }
          }
        },

        "modName" : {
          "type"     : "label",
          "value"    : "",
          "hAnchor"  : "left",
          "vAnchor"  : "top",
          "fontSize" : 16,
          "position" : [148, 201]
        },

        "authorName" : {
          "type"     : "label",
          "value"    : "",
          "hAnchor"  : "left",
          "vAnchor"  : "top",
          "position" : [148, 181]
        },

        "modDesc" : {
          "type"     : "label",
          "value"    : "",
          "hAnchor"  : "left",
          "vAnchor"  : "top",
          "position" : [148, 161],
          "wrapWidth": 268
        },

        "modLinkLabel" : {
          "type"     : "label",
          "value"    : "^shadow;Click the link, then Press CTRL + C to copy it.",
          "hAnchor"  : "left",
          "vAnchor"  : "bottom",
          "position" : [148, 30]
        },

        "modLink" : {
          "type" : "textbox",
          "maxWidth" : 260,
          "position" : [148, 10],
          "color"    : "green",
          "value"    : "https://loverslab.com/"
        }
      }
    },
  
    "statisticsTab" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : false,
      "rect" : [0, 0, 426, 209],
      "children" : {
        "statisticsList" : {
          "type" : "scrollArea",
          "rect" : [10, 10, 416, 201],
          "children" : {
            "itemList" : {
              "type" : "list",
              "schema" : {
                "memberSize": [416, 21],
                "spacing": [0, 1],
                "listTemplate" : {
                  "itemName" : {
                    "type" : "label",
                    "position"    : [10, 10],
                    "hAnchor"     : "left",
                    "vAnchor"     : "mid",
                    "lineSpacing" : 1.0,
                    "wrapWidth"   : 416
                  }
                }
              }
            }
          }
        }
      }
    },

    "creditsTab" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : false,
      "rect" : [0, 10, 426, 200],
      "children" : {
        "creditsLabel" : {
          "type" : "label",
          "position"  : [213, -20],
          "hAnchor"   : "mid",
          "vAnchor"   : "top",
          "value"     : "",
          "color"     : [255, 255, 255],
          "wrapWidth" : 406
        }
      }
    },

    "selectTab" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [10, 211],
          "baseImage" : "/interface/sexbound/customizer/selectedtab.png",
          "baseImageChecked" : "/interface/sexbound/customizer/selectedtabchecked.png",
          "text" : "^shadow;CUSTOM.",
          "data" : {
            "className"     : "General",
            "targetTabName" : "generalTab"
          }
        },

        {
          "position" : [65, 211],
          "baseImage" : "/interface/sexbound/customizer/selectedtab.png",
          "baseImageChecked" : "/interface/sexbound/customizer/selectedtabchecked.png",
          "text" : "^shadow;MODS",
          "data" : {
            "className"     : "AddonMods",
            "targetTabName" : "addonModsTab"
          }
        },

        {
          "position" : [120, 211],
          "baseImage" : "/interface/sexbound/customizer/selectedtab.png",
          "baseImageChecked" : "/interface/sexbound/customizer/selectedtabchecked.png",
          "text" : "^shadow;STATS",
          "data" : {
            "className"     : "Statistics",
            "targetTabName" : "statisticsTab"
          }
        },

        {
          "position" : [175, 211],
          "baseImage" : "/interface/sexbound/customizer/selectedtab.png",
          "baseImageChecked" : "/interface/sexbound/customizer/selectedtabchecked.png",
          "text" : "^shadow;CREDITS",
          "data" : {
            "className"     : "Credits",
            "targetTabName" : "creditsTab"
          }
        }
      ]
    }
  },

  "config" : {},

  "scriptWidgetCallbacks" : [
    "addonModItemSelected",
    "modLink",
    "selectTab",
	"subGenderSelector.up",
	"subGenderSelector.down",
	"subGenderConfirm",
	"sterilizeConfirm"
  ],

  "scripts" : [
    "/interface/sexbound/customizer/customizer.lua",
    "/interface/sexbound/customizer/customizerui.lua"
  ]
}