{
  "name" : "cowgirl_in_bed",

  "base" : "cowgirl",
  
  "friendlyName" : "Cowgirl in Bed",

  "animationState" : {
    "states" : {
      "idleState"   : {
        "properties" : {
          "flipHead"  : [false, false],
          "frameName" : "idle_laying",
          "rotateHead": [90, 0],
          "stateName" : "idle_laying"
        }
      }
    }
  }
}