{
	"default": {
		"default": {
			"default": {
				"default": [
					"You are my <parentType>!"
				]
			}
		}
	},
	"greeting": {
		"default": {
			"default": {
				"default": [
					"Hello, <parentType>!"
				]
			}
		},
		"mother": {
			"default": {
				"default": [
					"Hi mom!",
					"Mom, you're back!"
				]
			}
		},
		"father": {
			"default": {
				"default": [
					"Hi dad!",
					"Dad, you're back!"
				]
			}
		}
	},
	"converse": {
		"default": {
			"default": {
				"default": [
					"How are you today, <parentType>?"
				]
			}
		},
		"mother": {
			"default": {
				"default": [
					"How are you, mom?",
					"Anything interesting happened lately, mom?",
					"Can you bring me something from your next trip, mom?",
					"Mom, I really wish you'd bring me along one of these days!"
				]
			}
		},
		"father": {
			"default": {
				"default": [
					"How are you, dad?",
					"Anything interesting happened lately, dad?",
					"Can you bring me something from your next trip, dad?",
					"Dad, I really wish you'd bring me along one of these days!"
				]
			}
		}
	},
	"kid": {
		"default": {
			"default": {
				"default": [
					"<parentType>!"
				]
			}
		},
		"mother": {
			"default": {
				"default": [
					"Mommy!",
					"Mooooom!",
					"Hey, mom, mom, mom!",
					"Mom, I love you!",
					"When I'll grow up, I'll become just like you, mom!"
				]
			}
		},
		"father": {
			"default": {
				"default": [
					"Daddy!",
					"Daaaaad!",
					"Hey, dad, dad, dad!",
					"Dad, I love you!",
					"When I'll grow up, I'll become just like you, dad!"
				]
			}
		}
	}
}