{
  "converse": {
    "default" : {
      "default" : [
        "Ready to have a good time?~",
		"Nice shoes, wanna fuck?",
		"Hello? Did someone order a slut?",
        "Hello stranger. Let's get going.~"
      ]
    },
    "apex" : {
      "default" : [
		"Hooker First Class reporting for duty!",
        "Don't worry, Big Ape wont be seeing this.~",
        "Don't joke about horny jail, I've been there and it's not fun.",
		"So you like fur? Yes, you can touch it, please do."
      ]
    },
    "hylotl" : {
      "default" : [
        "I may seem slender, but I know a lot of tricks in bed.~",
		"I'm a marital arts master. No, no, I said mar-it-al arts. That means sex.",
		"Sex has inspired great works of art and poetry... but I prefer to enjoy it directly.",
		"It's an unfair stereotype that we're all perverted... totally true about me though."
      ]
    },
    "avian" : {
      "default" : [
        "Let's make some eggs!~",
        "When I have sex I feel like I'm flying. Let's do it!",
        "Yeah, I can still do that! Maybe it's harder with a beak, but I have lots of practice.",
		"I might be one of the grounded, but I bet you can make me scream ''oh Kluex''."
      ]
    },
    "human" : {
      "default" : [
        "Are you seriously watching porn all by yourself? Here, let me help.~",
		"Hungry? Thirsty? Horny? Well I can help with one of those.",
		"I like to party! And by party, I mean fuck.",
		"If I said you have a wonderful body, would you hold it against me?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran will eat all your sssssssseed!~",
		"Sssex iss fun!",
		"Want to sssee my petalsss?",
		"Floran likess three thingsss. Hunting, eating, and sssexing."
      ]
    },
    "glitch" : {
      "default" : [
        "Flushed. I hope my circuits are to your liking...",
		"Enticing. Would you like to simulate the act of reproduction?",
		"Seductive. Would you care to dally with me?",
		"Humble. I am a simple whore, but I'm good at what I do."
      ]
    },
    "novakid" : {
      "default" : [
        "Yeehaw! Time to buck like in the barn!",
		"I reckon we could have some fun.",
		"We're gonna get on like a house on fire.",
		"Save a horse and ride me instead."
      ]
    }
  }
}
