{
  "converse": {
    "human" : {
      "default" : [
        "Alright big boy, I sure hope your bulge's as big as your wallet.~",
		"Remember that banana earlier? Want me to do it again with you?",
		"We can get wasted too if you prefer doing that.",
		"I don't have much time, let's get on with it baby.~"
      ]
    }
  }
}
