{
	"greeting": {
		"human": {
			"default": [
				"Sorry hun~ Arcade is closed."
			]
		}
	},
	"converse": {
		"human" : {
			"default" : [
				"Been closed for a while. Real shame.",
				"People loved their trading card addiction.",
				"They were even selling phones!",
				"Me and my pals haven't had much work out of town since then...",
				"Something about \"Omnibrowser\" going out of business?",
				"Omnibrowser... I wonder what that is..."
			]
		}
	}
}
