{
  "converse": {
    "human" : {
      "default" : [
        "Hey there! Welcome to Lustia! The metropolis of all things sexy and horny!",
		"You'll meet many enthusiasts of our activites all around this sex paradise.",
		"Don't worry about STDs, we have long discovered technology able to eradicate them.",
		"The building we're standing in is the mighty shaft of the city. There's everything you need to party, even some beds if you find yourself a hooker of your tastes.",
		"To the far left, you will meet our wonderful tailor, which makes all of this place's latest threads.",
		"Right next to her shop, is our builder lass. If you need any kinky furnishing, she's your girl!",
		"Aside the main tower, is our zoologist. Some folks prefer to do it with monsters, and that's okay! She offers tamed pets for freaky fun.",
		"Lastly, all the way to the right, you have our doctor and scientist, which experiments and offers stuff that doesn't quite belong in one of the other three.",
		"How this place came to be is a secret long forgotten, probably because the original documents got ruined by many assortments of bodily fluids.",
		"Since the investigation of this place, the folks have only ever stayed within the forcefield, and it has been enforced over time.",
		"Now, it has been a mighty while since someone has ever left this area. There only remains rumors of what is left outside of this safety bubble.",
		"Anyways, I hope you enjoy your stay!"
      ]
    }
  }
}
