{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"cunnilingus_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Now who's in control~?",
							"Hear that~? That's my ass slapping against your face~!",
							"Uunf, oh yeah~! I can't help myself~!",
							"Yes, keep licking my pussy~! Eat it out!",
							"Your tongue is making me so wet~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"O-oh yeeees, just a little more~",
							"I'm... about to cum~! Try not to drown~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yes, drink it all~",
							"Yesyesyes, c-cumminggggg~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yes, drink it all~",
							"Yesyesyes, c-cumminggggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"H-hah... Now I'm even wetter. Better start licking~",
							"I'm good, just keep going~"
						]
					}
				}
			}
		},
		"cunnilingus_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Now who's in control~?",
							"Hear that~? That's my ass slapping against your face~!",
							"Uunf, oh yeah~! I can't help myself~!",
							"Yes, keep licking my ass~! Eat it out!",
							"Your tongue is making me so horny~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"O-oh yeeees, just a little more~",
							"I'm... about to cum~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yes, keep licking~",
							"Yesyesyes, c-cumminggggg~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yes, keep licking~",
							"Yesyesyes, c-cumminggggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"T-that was great. Let's go again~!"
						]
					}
				}
			}
		}
	}
}