/** 
 * SEXTALK PLUGIN CONFIG - { Default (ANY) Female }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
		"default": {
			"default": {
				"default": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				},

				"female": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				},

				"male": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				}
			}
		}
  },
  
	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "default": {
      "default": {
        "default": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your face~!",
            "Uunf, oh yeah~! I can't help myself~!"
          ],
          "climaxing": [],
          "pregnant":  []
        },
        
        "female": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your face~!",
            "Uunf, oh yeah~! I can't help myself~!"
          ],
          "climaxing": [],
          "pregnant":  []
        },
        
        "male": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your face~!",
            "Uunf, oh yeah~! I can't help myself~!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },

    "pregnant": {
      "default": {
        "default": {
          "default": [
            "Mmh~ Watch me spank my pregnant ass to your face~!"
          ],
          "climaxing": [],
          "pregnant":  []
        },
        
        "female": {
          "default": [
            "Mmh~ Watch me spank my pregnant ass to your face~!"
          ],
          "climaxing": [],
          "pregnant":  []
        },
        
        "male": {
          "default": [
            "Mmh~ Watch me spank my pregnant ass to your face~!"
          ],
          "climaxing": [],
          "pregnant":  []
        }
      }
    }
  }
]