{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"cunnilingus_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Now who isssss in control~?",
							"Hear that~? That's Floran's assssss slapping against your face~!",
							"Uunf, oh yeah~! Floran can't help themselvesssss~!",
							"Yes, keep licking Floran's pussssssy~! Drink Floran nectar!",
							"Your tongue isssss making Floran so wet~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"O-oh yesssss, just a little more~",
							"Floran... isssss about to cum~! Try not to drown~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yesssss, drink it all~",
							"Yesyesyesssss, c-cumminggggg~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yesssss, drink it all~",
							"Yesyesyesssss, c-cumminggggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"H-hah... Now Floran isssss even wetter. Better start licking~",
							"Floran can keep going forever~"
						]
					}
				}
			}
		},
		"cunnilingus_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Now who isssss in control~?",
							"Hear that~? That's Floran's assssss slapping against your face~!",
							"Uunf, oh yeah~! Floran can't help themselvesssss~!",
							"Yes, keep licking Floran's assssss~!",
							"Your tongue isssss making Floran so horny~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"O-oh yesssss, just a little more~",
							"Floran... isssss about to cum~! Try not to drown~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yesssss, keep licking~",
							"Yesyesyesssss, c-cumminggggg~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-aaaaangh yesssss, keep licking~",
							"Yesyesyesssss, c-cumminggggg~!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran can keep going forever~"
						]
					}
				}
			}
		}
	}
}