{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"cunnilingus_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Dominating. Now who's in control?",
							"Taunting. Hear that? That's my ass slapping against your face!",
							"Boasting. Uunf, oh yeah~! I can't help myself!",
							"Longing. Yes, keep licking my pussy! Eat it out!",
							"Lewd. Your tongue is making me so wet!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Greedy. Oh yes, just a little more!",
							"Pleasured. I'm... about to cum! Try not to drown!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Aaaaaangh yes, drink it all!",
							"Climaxing. Yesyesyes, cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Aaaaaangh yes, drink it all!",
							"Climaxing. Yesyesyes, cumming!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Teasing. Hah... Now I'm even wetter. Better start licking!",
							"Greedy. I'm good, just keep going!"
						]
					}
				}
			}
		},
		"cunnilingus_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Dominating. Now who's in control?",
							"Taunting. Hear that? That's my ass slapping against your face!",
							"Boasting. Uunf, oh yeah~! I can't help myself!",
							"Longing. Yes, keep licking my ass! Eat it out!",
							"Lewd. Your tongue is making me so aroused!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Greedy. Oh yes, just a little more!",
							"Pleasured. I'm... about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Aaaaaangh yes, keep licking!",
							"Climaxing. Yesyesyes, cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Aaaaaangh yes, keep licking!",
							"Climaxing. Yesyesyes, cumming!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Greedy. I'm good, just keep going!"
						]
					}
				}
			}
		}
	}
}