{
  "base" : "idle",
  
  "friendlyName" : "Idling",
  
  "name" : "idle_toy2",
  
  "button" : "/interface/sexbound/sexui/submodule/positions/buttons.config:idle",
  
  "minRequiredActors" : 1,
  "maxAllowedActors"  : 4,
  "requireTraits"      : [null, null, null, null],
  
  "possiblePregnancy" : [false, false, false, false],
  "possibleImpregnation":[false, false, false, false],
  "actorRelation": [0,0,0,0],
  "interactionType": [null,null,null,null],
	
  "animationState" : {
    "properties" : {
      "enabled"          : [true, true, false, false],
      "climaxMultiplier" : [0, 0, 0, 0],
      "flipBody"         : [false, false, false, false],
      "flipHead"         : [false, false, false, false],
      "headBangSpeedMultiplier" : [ 10, 0, 0, 0 ],
      "mouthOffset"      : [[0, 0], [0, 0], [0, 0], [0, 0]],
      "rotateHead"       : [0, 0, 0, 0],
			"visible"          : [true, true, false, false],
			"sprites"          : {
				"armBack"                   : [null, null, null, null],
				"armFront"                  : [null, null, null, null],
				"body"                      : [null, null, null, null],
				"head"                      : [null, null, null, null],
				"groinGenital"              : [null, null, null, null],
				"groinGenitalPregnancy"     : [null, null, null, null],
				"groinPregnancy"            : [null, null, null, null],
				"maskGroinGenital"          : [null, null, null, null],
				"maskGroinGenitalPregnancy" : [null, null, null, null],
				"maskGroinPregnancy"        : [null, null, null, null]
			}
    },
  
    "states" : {
      "idleState"   : {
        "properties" : {
          "frameName" : "idle",
          "stateName" : "idle_toy",
          "flipBody"  : [false, false, false, false],
          "flipHead"  : [false, false, false, false],
          "rotateHead": [0,0]
        }
      },
      
      "sexState"    : {
        "properties" : {
          "frameName" : ["idle", "idle", "idle", "idle"],
          "stateName" : "idle_toy",
          "minTempo" : 2,
          "maxTempo" : [3, 5]
        }
      },
      
      "climaxState" : {
        "properties" : {
          "frameName" : ["idle", "idle", "idle", "idle"],
          "stateName" : "idle_toy"
        }
      },

      "postclimaxState" : {
        "properties" : {
          "frameName" : ["idle", "idle", "idle", "idle"],
          "stateName" : "idle_toy"
        }
      },
      
      "exitState"   : {
        "properties" : {
          "frameName" : ["idle", "idle", "idle", "idle"],
          "stateName" : "idle_toy"
        }
      }
    }
  },

  "climaxConfig" : [
    
  ]
}
