{
  "name" : "fellatio_in_bed",
  
  "base" : "fellatio",

  "friendlyName" : "Fellatio in Bed",

  "animationState" : {
    "states" : {
      "idleState"   : {
        "properties" : {
          "frameName" : "idle_laying",
          "stateName" : "idle_laying",
          "flipHead"  : [false, false],
          "rotateHead": [90, 0]
        }
      }
    }
  }
}