{
	"name"          : "fellatio_defeat",
	"base"          : "fellatio",
	
	"dialog" : {
		"default" : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"apex"    : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"avian"   : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"fenerox" : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"floran"  : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"glitch"  : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"human"   : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"hylotl"  : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config",
		"novakid" : "/dialog/sexbound/<langcode>/positions/fellatio/defaultfellatiodefeat.config"
	}
}