{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"I'll fuck you until I feel your pussy clenching around my cock!",
							"You're going to forget your name after I'm done fucking you tonight!",
							"You're a good little slut, aren't you?",
							"Ask for permission before you cum… I want to hear you beg for it~",
							"You're going to need crutches when I'm done fucking you!",
							"I've been craving your pussy!"
						],
						"status": {
							"pregnant": {
								"text": [
									"My belly is shaking so much~"
								]
							},
							"heat": {
								"text": [
									"I've been craving this so much~",
									"Mmh, the heat was getting unbearable~",
									"My desire for your pussy is limitless!",
									"I'll make sure you get pregnant!",
									"I hope your womb is fertile~"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your belly is shaking so much~"
								]
							},
							"heat": {
								"text": [
									"You're in heat, aren't you?",
									"I can feel you're enjoying this almost too much~",
									"Your pussy is insatiable today~",
									"Your pussy is already begging for my cum~"
								]
							}
						},
						"bothStatus": {
							"pregnant": {
								"overrideSoloStatus": true,
								"text": [
									"Look at our bellies swaying in sync~"
								]
							},
							"heat": {
								"overrideSoloStatus": true,
								"text": [
									"You're in heat too? You know what that means~",
									"We'll breed all day and night~",
									"You're being a good mate~",
									"We'll make so many babies~"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"O-oh.. you're tight! Squirt for me!",
							"My dick feeling this good~?",
							"Already done, hun~?",
							"More where that came from~"
						],
						"status": {
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Your pussy is craving my cum~",
									"Yes, I'll fill you up real soon~",
									"Nice and wet, just how I like it!",
									"Turning up the heat some more~?",
									"I hope your womb is fertile~"
								]
							}
						},
						"otherStatus": {
							"heat": {
								"text": [
									"Yes, I'll fill you up real soon~",
									"Your pussy is begging for my cum~",
									"Can't wait a second longer~?"
								]
							}
						},
						"bothStatus": {
							"heat": {
								"override": true,
								"overrideSoloStatus": true,
								"priority": 5,
								"text": [
									"Yes, I'll fill you up real soon~",
									"Mmh yes, try and squeeze out my cum harder~!",
									"Keep this going and you'll be pregnant in no time~!",
									"I know I know, I'm going as fast as I can~!",
									"I'll make you pregnant, don't you worry!"
								]
							}
						}
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Here... we... go!",
							"Just a little longer!",
							"Almost there!",
							"I'm about to cum!"
						],
						"status": {
							"pregnant": {
								"text": [
									"Ready to become a mother too~?"
								]
							},
							"heat": {
								"text": [
									"Finally, time to knock you up!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"Got some room for more~?"
								]
							},
							"heat": {
								"text": [
									"Here it comes~ Make sure to take it all~!",
									"Sorry to have kept you waiting~"
								]
							}
						},
						"bothStatus": {
							"heat": {
								"overrideSoloStatus": true,
								"text": [
									"Yes... yes! I'm cumming!",
									"The moment we have been waiting for...!",
									"I'll make you pregnant!",
									"Go and become a mommy for me!"
								]
							}
						}
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"F-fuuuck, take my load!",
							"Oooh, you feel so good I'm cumming~",
							"Take this, every single drop!"
						],
						"status": {
							"pregnant": {
								"text": [
									"You'll soon be a mother too~"
								]
							},
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Ahhh, this is exactly what I needed~!",
									"Take my cum and become pregnant!",
									"Take this deep and not spill a drop!",
									"I'll make sure you get pregnant!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"You think this'll make twins~?"
								]
							},
							"heat": {
								"text": [
									"This is what you wanted, right~?",
									"One big load, as ordered!",
									"How eagerly your pussy is drinking it all~",
									"This'll surely make you pregnant~"
								]
							}
						},
						"bothStatus": {
							"pregnant": {
								"overrideSoloStatus": true
							},
							"heat": {
								"overrideSoloStatus": true,
								"text": [
									"N-nngh yes, become my breeding bitch!",
									"Don't think I'm done after just this one load~",
									"Oh how many children you'll bear with this~",
									"I'm making sure to push as deep as I can~"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-ahh, I'm cumming too! Take it!",
							"Mnnh, cum for me! I'm c-cumming too!",
							"Oh shit, your pussy clenching made me cum!",
							"Cumming together is always the best~",
							"D-damn... I wish our climax would never end~"
						],
						"status": {
							"pregnant": {
								"text": [
									"You really want to become a mother too~"
								]
							},
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Ahhh yes, milk me dry, every last drop~!",
									"You clenching is making me cum sooo much~",
									"Make sure to not spill a single drop!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"You think this'll make twins~?"
								]
							},
							"heat": {
								"text": [
									"This is all for you~",
									"Yes, take it all, take it deep!"
								]
							}
						},
						"bothStatus": {
							"pregnant": {
								"overrideSoloStatus": true
							}
						}
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... Ready for the next round~?",
							"That was a nice warmup~",
							"Good to go again?"
						],
						"status": {
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Don't think I'm done with you yet!",
									"We keep going until I'm dry!",
									"Good, now to knock you up again~!"
								]
							}
						},
						"otherStatus": {
							"heat": {
								"text": [
									"Don't worry, I'm not done yet~",
									"Plenty more where that came from~"
								]
							}
						},
						"bothStatus": {
							"heat": {
								"override": true,
								"overrideSoloStatus": true,
								"priority": 5,
								"text": [
									"Don't think I'm done with you yet!",
									"We keep going until I'm dry!",
									"Good, now to knock you up again~!",
									"You're not satisfied yet either, are you~?",
									"Your pussy is craving more - Here I go!"
								]
							}
						}
					}
				}
			}
		},
		"r_vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"You've got me from behind, I wonder how long you'll go at it~!",
							"My ass is red from all this pounding~!",
							"Grab my hips and plow me~!",
							"Unng! Finger my asshole while you fill me up!",
							"Ooooh~! You've found the perfect spot~!",
							"I had no idea you were so aggressive~!",
							"Mmmmff~~! Spank me while you do that!~",
							"You know just where to rub me!",
							"So deep... ahn... you're gonna enter my womb!",
							"Oohh~... You're making me so wet~!",
							"Ahh~!... Mmh~... Yes~!...",
							"Ah~... I needed this~!",
							"Ah~! Yes~! More~! More~!",
							"You're in me just right~!",
							"Are you going to finish inside?",
							"Yes! Pound it into me!",
							"I've been so naughty! Punish me harder~!",
							"Ooh, I'm so horny all of the sudden~! Keep going~!",
							"I've wanted this for so long!"
						],
						"status": {
							"pregnant": {
								"text": [
									"I wouldn't mind twins~",
									"Pregnant sex feels sooo goood~",
									"Don't worry, there is plenty more room in me~",
									"I'm ready to burst but I need this so bad~!",
									"Do you like my pregnant pussy?",
									"I get so wet when I'm pregnant... I need you to lap it up!",
									"Fuck! You're stuffing me so full!",
									"I'm already pregnant, but I can't get enough cum~!",
									"Being pregnant makes me crave cock!",
									"E-easy~! Baby-on-board!"
								]
							},
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Harder! Yes, harder! Deeper~!",
									"I need this~ I need thiiis~!",
									"Yes, yes! Nnnngh, yes!",
									"Come on, is this all you got~?",
									"Make me yours! Taint my insides with all the cum you got~!",
									"Come on, give me your cum already~!",
									"Don't worry about me, just fuck me with all you got!",
									"Ahhh, I'm so wet~! I'm a bitch in heat for your dick~!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"Your belly is so big! It's got me all wet thinking about it!",
									"I can feel your pregnant belly against me! I didn't know that would make me so wet!~"
								]
							},
							"heat": {
								"text": [
									"You're going so rough~ I love it~!",
									"You really want to knock me up bad, don't you~?",
									"Rawr~, what incredible stamina~ A beast in heat!"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Yes, pull me closer when you cum!",
							"Cum in meee!",
							"It's dripping onto the floor!",
							"Umph~! Stuff my womb~",
							"Ummh~! I need your cum~!",
							"O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!",
							"Oooh~! You're drenching me down there!",
							"Oh, your cum is so hot and thick inside me~!",
							"So much hot cum... just for me!",
							"Fuck yeah, fill me up!",
							"Oh god yes! Fill me to the brim!",
							"YESSS! Keep cumminnnggggg!",
							"Fill up my womb~~!",
							"It's so thick and warmm!"
						],
						"status": {
							"pregnant": {
								"text": [
									"My belly is so full, it feels like triplets already~",
									"I'm so full, all that lovely cum spilling out...",
									"So much hot cum, keeping the baby nice and warm~",
									"My pregnant womb can't get enough of your sperm~!",
									"Mmh~! Fill me up a second time~! I can't get pregnant again~!",
									"Mmh~! Fill up my pregnant pussy~!",
									"Your cum is running down my thighs~!",
									"Your hot cum is pouring out of me~!",
									"Soon, you'll be able to knock me up~!",
									"Yessss! Please I want to be even more full!",
									"I feel so full, yes~!"
								]
							},
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Thinking about your babies inside me makes my pussy even more wet...",
									"Yes, yes! Fill me, breed me, knock me up~!",
									"Finally, give me every last drop~!",
									"Nnngh, I needed this sooo bad~",
									"Every spurt just makes me crave mooore~",
									"So good~ But still not nearly enough!",
									"Don't you dare say you're done after this!",
									"What a good first load~ Now to atleast ten more!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"O-oh yes, make me a mother too~",
									"Fill me until I'm as round as you~!",
									"Is this how you get to feel all the time~?"
								]
							},
							"heat": {
								"text": [
									"So many thick, full bursts~!",
									"Every inch of my womb is tainted in your seed~",
									"Really going for it, aren't we~?",
									"You weren't kidding about making me a mother~"
								]
							}
						},
						"bothStatus": {
							"pregnant": {
								"overrideSoloStatus": true,
								"text": [
									"My belly is so full, it feels like triplets already~",
									"I'm so full, all that lovely cum spilling out...",
									"So much hot cum, keeping the baby nice and warm~"
								]
							}
						}
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"I feel you getting close~! M-me too~!",
							"Are you about to cum~?",
							"Nnngh, I'm so close~!",
							"L-let's... Aaah... C-cum together~!",
							"I'm about... to... Nnnngh~!"
						],
						"status": {
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Getting close? Finally, hurry up~!",
									"I feel you twitching~! Don't hold back~",
									"C-close? Yes, give it to me! Give it to meee~!",
									"I can't wait for your hot cum to fill me~",
									"Come on, give it to me already!"
								]
							}
						},
						"otherStatus": {
							"heat": {
								"text": [
									"You're twitching so violently~",
									"Reaching your breaking point~?",
									"It's ok, give it to me~",
									"I'm ready~"
								]
							}
						}
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"I'm gushing everywhere~~!",
							"Yesssss~! I'm cumminggg~!",
							"Ohmygodyes don't stop! Don't stooop~!",
							"Nnnngh cummingcummingcumming, I'm cumming~!"
						],
						"status": {
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Ooooh I'm sooo wet, keep going~!",
									"My womb is ready now, fill me~!",
									"The heat and pleasure are melting my mind~",
									"Don't wait for me, just fill me already~!",
									"You made me cum, now it's your turn!"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Aah~! I'm cumming!",
							"Cum in meee!",
							"It's dripping onto the floor!",
							"We're making such a mess~",
							"Umph~! Stuff my womb~",
							"Ummh~! I need your cum~!",
							"Oooh~! I'm getting completely drenched down there!",
							"Oh, your cum is so hot and thick inside me~!",
							"So much hot cum... just for me!",
							"Fuck yeah, fill me up!",
							"Oh god yes! Fill me to the brim!",
							"YESSS! Keep cumminnnggggg!",
							"Fill up my womb~~!",
							"It's so thick and warm!"
						],
						"status": {
							"pregnant": {
								"text": [
									"My belly is so full, it feels like triplets already~",
									"I'm so full, all that lovely cum spilling out...",
									"So much hot cum, keeping the baby nice and warm~"
								]
							},
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Thinking about your babies inside me makes my pussy squirt even more...",
									"Yes, yes! Fill me, breed me, knock me up~!",
									"Finally, give me every last drop~!",
									"Nnngh, I needed this sooo bad~",
									"Every spurt just makes me climax harder~",
									"So good~ But still not nearly enough!",
									"Don't you dare say you're done after this!",
									"What a good first load~ Now to atleast ten more!"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"O-oh yes, make me a mother too~",
									"Fill me until I'm as round as you~!",
									"Is this how you get to feel all the time~?"
								]
							},
							"heat": {
								"text": [
									"So many thick, full bursts~!",
									"Every inch of my womb is tainted in your seed~",
									"Aw shit... You're so hard I'm cumming again!",
									"I can feel you throb so violently it makes me cum harder too~!"
								]
							}
						},
						"bothStatus": {
							"pregnant": {
								"overrideSoloStatus": true,
								"text": [
									"My belly is so full, it feels like triplets already~",
									"I'm so full, all that lovely cum spilling out...",
									"So much hot cum, keeping the baby nice and warm~"
								]
							}
						}
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Phew... Ok, let's go again!",
							"That was pure bliss, I want another go~!",
							"Don't stop now, make me cum nonstop!",
							"I'm only getting started~!"
						],
						"status": {
							"heat": {
								"override": true,
								"priority": 5,
								"text": [
									"Thank's for the appetizer - now on to the main dish~!",
									"I haven't got nearly enough~!",
									"You aren't done until you are all dried up~!",
									"Don't stop until I allow you to~!"
								]
							}
						},
						"otherStatus": {
							"heat": {
								"text": [
									"Already raring to go again? Oh damn~!",
									"Your fiery stamina is impressive~",
									"Still hard? Good~"
								]
							}
						}
					}
				}
			}
		},
		"anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"I'll fuck you until I feel your ass clenching around my cock!",
							"You're going to forget your name after I'm done fucking you tonight!",
							"You're a good little slut, aren't you?",
							"Ask for permission before you cum… I want to hear you beg for it~!",
							"You're going to need crutches when I'm done fucking you.",
							"I've been craving your ass!"
						],
						"status": {
							"heat": {
								"text": [
									"Not the hole I wanted but still good for some relieve~"
								]
							}
						},
						"otherStatus": {
							"pregnant": {
								"text": [
									"Who said we can't fuck just because you're pregnant~?"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"C-clench my cock! Unnh, yeah! Cum!",
							"Ooooh~ You're milking meee~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"About to cum? Me too!",
							"Let's cum together~!",
							"I feel a big load coming~"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"F-fuucck, take my load!",
							"I'll fill you up until you're round as a ball!"
						],
						"status": {
							"heat": {
								"text": [
									"I'm in heat so this is nothing! Prepare your ass!",
									"If I can't knock you up I'll fill you until you look pregnant!"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"A-ahh, I'm cumming too! Take it!",
							"Mnnh, cum for me! I'm c-cumming too!",
							"Nnngh fuuuck, your ass clenching is squeezing me dry~"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Plenty more room to fill down there. Here I go again!",
							"That was actually great. One more round!",
							"We're not done here, your ass is mine now!"
						],
						"status": {
							"heat": {
								"text": [
									"Don't worry, I can keep going day and night!"
								]
							}
						}
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"You've got me from behind, I wonder how long you'll go at it~!",
							"My ass is red from all this pounding~!",
							"Grab my hips and plow me~!",
							"Put it in my ass!",
							"Ooooh~! You've found the perfect spot~!",
							"I had no idea you were so aggressive~!",
							"Mmmmff~~! Spank me while you do that!~",
							"You know just where to rub me!",
							"Oohh~... You're making me so horny~!",
							"Ahh~!... Mmh~... Yes~!...",
							"Ah~... I needed this~!",
							"Ah~! Yes~! More~! More~!",
							"You're in me just right~!",
							"Are you going to finish inside?",
							"Yes! Pound it into me!",
							"I've been so naughty! Punish me harder~!",
							"Ooh, I'm so horny all of the sudden~! Keep going~!",
							"I've wanted this for so long!"
						],
						"status": {
							"pregnant": {
								"text": [
									"How blessed it is to have two holes to fuck~",
									"While my womb is busy you can use my ass all you want~",
									"I'm ready to burst but I need this so bad~!",
									"I'm already pregnant, but I can't get enough cum~!",
									"Being pregnant makes me crave cock!",
									"E-easy~! Baby-on-board!"
								]
							}
						}
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Yes, pull me closer when you cum!",
							"Cum in meee!",
							"It's dripping onto the floor!",
							"Ummh~! I need your cum~!",
							"O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!",
							"Oooh~~! You're drenching me down there!",
							"Oh, your cum is so hot and thick inside me~!",
							"So much hot cum... just for me!",
							"Fuck yeah, fill me up!",
							"Oh god yes! Fill me to the brim!",
							"YESSS! Keep cumminnnggggg!",
							"It's so thick and warmm!",
							"You're soaking my asshole... you'd better lick that up!",
							"Save some for when I'm eating your ass!",
							"You're drenching my thighs!"
						],
						"status": {
							"pregnant": {
								"text": [
									"Yes, fill my other hole too~",
									"Flood my ass until it's as full as my womb!",
									"Your cum is running down my thighs~!",
									"Your hot cum is pouring out of me~!",
									"Yessss! Please I want to be even more full!",
									"I feel so full, yes~!"
								]
							}
						}
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Every time your dick twitches my ass clenches in response~",
							"Are you getting close? Me too~",
							"Let's make a big mess together~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Yessss~! Your cock is so good~~ I'm cominggg~!",
							"I'm gushing everywhere~~!",
							"Yesssss~! I'm Cominggg~!",
							"Ohmygodyes don't stop!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Cum in meee!",
							"It's dripping onto the floor!",
							"Ummh~! I need your cum~!",
							"O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!",
							"Oooh~~! You're drenching me down there!",
							"Oh, your cum is so hot and thick inside me~!",
							"So much hot cum... just for me!",
							"Fuck yeah, fill me up!",
							"Oh god yes! Fill me to the brim!",
							"YESSS! Keep cumminnnggggg!",
							"It's so thick and warmm!",
							"You're soaking my asshole... you'd better lick that up!",
							"Save some for when I'm eating your ass!",
							"You're drenching my thighs!",
							"We're making such a mess~",
							"Cumming from my ass being fucked... Ahhh, so good!"
						],
						"status": {
							"pregnant": {
								"text": [
									"Yes, fill my other hole too~",
									"Flood my ass until it's as full as my womb!"
								]
							}
						}
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"I'm not feeling full yet~",
							"Keep going, I got plenty more room back there!",
							"I hope you didn't think this was over?",
							"Let's go again!"
						]
					}
				}
			}
		}
	}
}