[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "You're going to forget your name after I'm done fucking you tonight!",
            "You're a good little slut, aren't you?",
            "Ask for permission before you cum… I want to hear you beg for it.",
            "You're going to need crutches when I'm done fucking you.",
            "I've been craving your ass!"
          ],
          "climaxing": [
            "O-oh.. Cum all over the floor for me!",
            "C-clench my cock! Unnh, yeah! Cum!",
            "Ooooh~ You're milking meee~"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "You're going to forget your name after I'm done fucking you tonight!",
            "You're a good little slut, aren't you?",
            "Ask for permission before you cum… I want to hear you beg for it.",
            "You're going to need crutches when I'm done fucking you.",
            "I've been craving your pussy!"
          ],
          "climaxing": [
            "O-oh.. you're tight! Squirt for me!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Yeah, take it, you big furry ape!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Yeah, take it, you big furry ape!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Your petals are this soaked for me?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Your petals are this soaked for me?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "You're so soft and lovely. I've wanted you all day~~~~!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "Your pussy is steaming hot!"
          ],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [
            "Mnnh, cum for me! I'm c-cumming too!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "Mnnh, cum for me! I'm c-cumming too!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "You've got me from behind, I wonder how long you'll go at it~!",
            "My ass is red from all this pounding~!",
            "Grab my hips and plow me~!",
            "Put it in my ass!",
            "Unng! Finger my asshole while you fill me up!",
            "Ooooh~! You've found the perfect spot~!",
            "I had no idea you were so aggressive~!",
            "Mmmmff~~! Spank me while you do that!~",
            "You know just where to rub me!",
            "So deep... ahn... your gonna enter my womb!",
            "Oohh~... You're making me so wet~!",
            "Ahh~!... Mmh~... Yes~!...",
            "Ah~... I needed this~!",
            "Ah~! Yes~! More~! More~!",
            "You're in me just right~!",
            "Are you going to finish in me?",
            "Yes! Pound it into me!",
            "I've been so naughty! Punish me harder~!",
            "Ooh, I'm so horny all of the sudden~! Keep going~!",
            "I've wanted this for so long!"
          ],
          "climaxing": [
            "Yes, pull me closer when you cum!",
            "Aah~! I'm cumming!",
            "Cum in meee!",
            "It's dripping onto the floor!",
            "Umph~! Stuff my womb~",
            "Ummh~! I need your cum~!",
            "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!",
            "Oooh~~! You're drenching me down there!",
            "Oh, your cum is so hot and thick inside me~!",
            "Thinking about your babies inside me makes my pussy so wet...",
            "So much hot cum... just for me!",
            "Fuck yeah, fill me up!",
            "Oh god yes! Fill me to the brim!",
            "YESSS! Keep cumminnnggggg!",
            "Fill up my womb~~!",
            "It's so thick and warmm!"
          ],
          "pregnant": [
            "Your belly is so big! It's got me all wet thinking about it!",
            "I can feel your pregnant belly against me! I didn't know that would make me so wet!~~"
          ]
        },
        "female": {
          "default": [
            "You've got me from behind, I wonder how long you'll go at it~!",
            "My ass is red from all this pounding~!",
            "Unng! Finger my asshole while you fill me up!",
            "Ooooh~! You've found the perfect spot~!",
            "I had no idea you were so aggressive~!",
            "Mmmmff~~! Spank me while you do that!~",
            "You know just where to rub me!",
            "So deep... ahn... your gonna enter my womb!",
            "Oohh~... You're making me so wet~!",
            "Ahh~!... Mmh~... Yes~!...",
            "Ah~... I needed this~!",
            "Ah~! Yes~! More~! More~!",
            "You're in me just right~!",
            "Are you going to finish in me?",
            "I've been so naughty! Punish me harder~!",
            "Ooh, I'm so horny all of the sudden~! Keep going~!",
            "I've wanted this for so long!"
          ],
          "climaxing": [
            "Yes, pull me closer when you cum!",
            "It's dripping onto the floor!",
            "You're soaking my asshole... you'd better lick that up!",
            "Save some for when I'm eating your ass!",
            "You're drenching my thighs!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Oh! Your grip on me is so strong!",
            "You're so strong, but so soft~!",
            "I can feel your fat cock splitting my ass!",
            "You know how I like it, be rough with me~~!",
            "It's so big and so thick!!~",
            "Ohmygod! Human cocks aren't this thiiiiiick!",
            "YESS! Stuff me full with your hairy cock!",
            "OH! Yes! You're MY Big Ape!"
          ],
          "climaxing": [
            "OH you're filling me up! Make me carry your little apes!"
          ],
          "pregnant": [
            "Your furry belly is so sexy against me!"
          ]
        },
        "female": {
          "default": [
            "Oh! Your grip on me is so strong!",
            "You're so strong, but so soft~!",
            "I can feel your fat pussy rubbing on my ass!",
            "You know how I like it, be rough with me~~!"
          ],
          "climaxing": [],
          "pregnant": [
            "Your furry belly is so sexy against me!"
          ]
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Your lizard cock feels so weird... yet so goood! Don't stop!"
          ],
          "climaxing": [
            "Yess! Fill me full of your swamp eggs!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Do you always take your prey from behind~~!",
            "Your cock is so cold!",
            "Your floofy feathers are tickling me! It's turning me on so much!"
          ],
          "climaxing": [
            "Hng yess! I want to have your chicks!",
            "It's freezing!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Do you always take your prey from behind~~!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Do you always take your prey from behind?~~!",
            "I am your offering to Kluex!",
            "Your fluffy feathers are tickling me! It's turning me on so much!"
          ],
          "climaxing": [
            "Hng yess! I want to have your chicks!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Do you always take your prey from behind?~~!",
            "I am your offering to Kluex!",
            "Your fluffy feathers are tickling me! It's turning me on so much!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Your fur is so warm and so ticklish! It's turning me on so hard!",
            "Yes... give me your big doggy dick!"
          ],
          "climaxing": [
            "Yess! Give me your pups!!",
            "Yesss! Give me your knot! Tie me up and fill me!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Yess! Breed me like a rabbit!",
            "What they say about bunnies is true! Don't stop!",
            "It keeps on going and going and going and going...."
          ],
          "climaxing": [
            "Yess! Fill me full of little bunnies!",
            "Ungh, fill me u- wow, ready to go again? Such stamina!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "So gentle, yet so dominating!",
            "Yesss! Give me your long deer cock!"
          ],
          "climaxing": [
            "Yess! Give me your fawns!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "If this is what hell feels like, keep on making me sin!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "I admit this is a bit weird... but don't stop!"
          ],
          "climaxing": [
            "Yess! give me your... whatever you call your children!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Your fur is tickling me! It's turning me on so much!",
            "Yes, fuck me, you adorable little foxy!",
            "I can feel your knot slapping against my pussy!"
          ],
          "climaxing": [
            "Yess! Fill me full of your pups!",
            "Yes, knot me! Tie me up and fill me!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Your cock feels amazing! Don't stop you big cute... glowing... furry thing!",
            "Your cock is glowing inside of me!",
            "Your cock feels weird inside of me. It's driving me nuts!"
          ],
          "climaxing": [
            "Yess! Fill me full of your glowing cum!",
            "Your cum glows too?!",
            "So about this glowing cum... should I be worried? No? Okay then. Give me more!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Your cock is so scratchy... yet it feels so good. Don't stop!",
            "Are those... spines? It hurts, yet it's so good!"
          ],
          "climaxing": [
            "Give me your kittens!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [],
          "climaxing": [
            "Oh god, your claws are digging into me! It feels so good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "Oh god, your claws are digging into me! It feels so good!"
          ],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "What's... what's in your pollen?",
            "I've never been this wet before, your nectar is driving me wild!",
            "Your petals are this soaked for me?",
            "Ooooh~, your cock tingles",
            "I can feel you wriggling inside me!",
            "Your scent makes me... it makes me want your cock so badly..."
          ],
          "climaxing": [
            "Your nectar is running everywhere~~",
            "Your cum is making me dizzy~!",
            "Your cum tingles! Is it going to make me pregnant?",
            "Plant your seeds inside me!",
            "I want to carry your seedlings!!~~"
          ],
          "pregnant": [
            "Your petals are so plump and swollen!",
            "This nectar is... so strong! I need more!"
          ]
        },
        "female": {
          "default": [
            "What's... what's in your pollen?",
            "I've never been this wet before, your nectar is driving me wild!",
            "Your petals are this soaked for me?"
          ],
          "climaxing": [
            "Your nectar is running everywhere~~"
          ],
          "pregnant": [
            "Your petals are so plump and swollen!"
          ]
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "This is all sorts of wrong... Don't stop!",
            "Why does this feel so damn good?",
            "I can't believe I'm being fucked by the thing that destroyed the Earth! It's so goood!",
            "Your tentacle is wiggling around inside of me!",
            "I hope my body is enough to convince you not to destroy the universe."
          ],
          "climaxing": [
            "Yess! Fill me with- wait, I'm not going to burst open from the inside, am I?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "What's... what's in your pollen?",
            "I've never been this wet before, your nectar is driving me wild!",
            "Your petals are this soaked for me?",
            "Ooooh~, your cock tingles",
            "I can feel you wriggling inside me!",
            "Your scent makes me... it makes me want your cock so badly..."
          ],
          "climaxing": [
            "Your nectar is running everywhere~~",
            "Your cum is making me dizzy~!",
            "Your cum tingles! Is it going to make me pregnant?",
            "Plant your seeds inside me!",
            "I want to carry your seedlings!!~~"
          ],
          "pregnant": [
            "Your petals are so plump and swollen!",
            "This nectar is... so strong! I need more!"
          ]
        },
        "female": {
          "default": [
            "What's... what's in your pollen?",
            "I've never been this wet before, your nectar is driving me wild!",
            "Your petals are this soaked for me?"
          ],
          "climaxing": [
            "Your nectar is running everywhere~~"
          ],
          "pregnant": [
            "Your petals are so plump and swollen!"
          ]
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Oooohh~ I didn't know you could do that~~!",
            "You're making my pussy tingle~!",
            "You didn't tell me you could vibrate~!",
            "I... I didn't know it could extend like thiiiiiisss!",
            "It's so big... and greasy!",
            "I can feel it twisting inside me!~~~~",
            "It's... it's getting bigger inside me~!"
          ],
          "climaxing": [
            "OH~ This oil... this oil feels so good!",
            "You're squirting your oil down my thighs!",
            "Your oil is so thick and warm!",
            "OH~ That's not just oil... is it.",
            "I hope that's more than just oil, I want you to knock me up~!",
            "I'm getting slick with your oil~~!"
          ],
          "pregnant": [
            "I can hear the gears in your belly!"
          ]
        },
        "female": {
          "default": [
            "Oooohh~ I didn't know you could do that~~!",
            "You're making my pussy tingle~!",
            "You didn't tell me you could vibrate~!"
          ],
          "climaxing": [],
          "pregnant": [
            "I can hear the gears in your belly!"
          ]
        }
      },
      "human": {
        "male": {
          "default": [
            "Your soft belly turns me on so much!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Your soft belly turns me on so much!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Your fin is rubbing... my asshole~~~!",
            "You're so slippery! I want to slide on top of you next~!",
            "Your fin is rubbing me just right!",
            "Your rod is so slippery and thick! Can we try it in my asshole?",
            "Your scales are hitting all the right places~~~~!",
            "Ohgod, your scales are rubbing just right! Don't stop!"
          ],
          "climaxing": [
            "Yesss, give me your milt!"
          ],
          "pregnant": [
            "I can feel your eggs moving around, you're so full!"
          ]
        },
        "female": {
          "default": [
            "Your fin is rubbing... my asshole~~~!",
            "You're so slippery! I want to slide on top of you next~!",
            "Your fin is rubbing me just right!",
            "Your scales are hitting all the right places~~~~!",
            "Ohgod, your scales are rubbing just right! Don't stop!"
          ],
          "climaxing": [],
          "pregnant": [
            "I can feel your eggs moving around, you're so full!"
          ]
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Your fur is tickling me! It turns me on so much!",
            "Upgh! Yes! Pound me like the big dog you are!",
            "I can feel your knot pounding against my pussy! Don't you dare stop!"
          ],
          "climaxing": [
            "Yess! Give me a litter of pups!!",
            "Yesss! Knot me! Tie me up and fill me!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "The ears and tail just make you all the hotter!",
            "I'm so glad you have a canine dick instead of a human one. Can't wait for you to knot me!",
            "Yes! Give it to me, doggie-boy!"
          ],
          "climaxing": [
            "Yes! Knot me! Tie me up and fill me!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "So this is what being bred by a mouse feels like! Don't stop!",
            "Breed me like a rat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "You have spines, yet they're soft. So good!",
            "Me-yow, hun!"
          ],
          "climaxing": [
            "Yess! Fill me with a litter!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Your soft belly turns me on so much!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Your soft belly turns me on so much!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Your belly is so hot on my skin!",
            "Your rod is burning hot inside me~~!",
            "What will... what will happen if you come inside me?",
            "Your cock is making my belly glowwww!"
          ],
          "climaxing": [
            "Your cum is steaming hot~!",
            "Your spunk is so hot!",
            "Our juices are glowing together~~!",
            "Your cum is lighting up my pussy!!",
            "I can see it glowing in my womb~~!",
            "Steam is coming out! ohhh it feels so good!!!~",
            "I hope you knocked me up! It feels so hot inside me!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Your belly is so hot on my skin!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "wow, for such a little guy you sure have a big worm!",
            "You are plundering my pussy!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Your cock feels odd. Odd, but good!",
            "Never thought a bug could fuck this good! Keep going!"
          ],
          "climaxing": [
            "Yess! Fill me full of your butterfly eggs!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [
            "I'm leaking dark matter... should I be worried?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "I'm gushing everywhere~~!",
            "Yesssss~~~~~! I'm Cominggg~!",
            "Ohmygodyes don't stop!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "I'm gushing everywhere~~!",
            "Yesssss~~~~~! I'm Cominggg~!",
            "Ohmygodyes don't stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Your wet ape pussy is gushing!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Oh, I'm soaking your feathers!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Oh, I'm soaking your feathers!",
            "Oooh~~! Your cloaca is rubbing on my clit!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Your cock is red hot! Don't stop!!!~"
          ],
          "climaxing": [
            "Yes let's cum together, it's sizzling!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [
            "Can you feel how full I am?",
            "Does my pregnant belly turn you on?",
            "I'm ready to burst but I need this so bad~!",
            "Do you like my pregnant pussy?",
            "I get so wet when I'm pregnant... I need you to lap it up!",
            "Fuck! You're stuffing me so full!",
            "Unload in my pregnant asshole~~!",
            "I'm already pregnant, but I can't get enough cum~!",
            "Being pregnant makes me crave cock!",
            "E-easy~! Baby-on-board!"
          ],
          "climaxing": [
            "My pregnant womb can't get enough of your sperm~!...",
            "Mmh~! Fill me up a second time~! I can't get pregnant again~!",
            "Mmh~! Fill up my pregnant pussy~!",
            "Your cum is running down my thighs~~~!",
            "Your hot cum is pouring out of me~!",
            "Soon, you'll be able to knock me up~!",
            "Yessss! Please I want to be even more full!",
            "I feel so full, yes~!!"
          ],
          "pregnant": [
            "It's so sexy that we're pregnant together!",
            "We're bigger in all the same places!"
          ]
        },
        "female": {
          "default": [
            "Can you feel how full I am?",
            "Does my pregnant belly turn you on?",
            "My pregnant ass is wet with your juice~!",
            "You know... unnnf~... he could get you pregnant, too, if you wanted..."
          ],
          "climaxing": [
            "My pregnant womb can't get enough of your sperm~!...",
            "Mmh~! Fill me up a second time~! I can't get pregnant again~!"
          ],
          "pregnant": [
            "I can feel your belly against me!",
            "It's so sexy that we're pregnant together!"
          ]
        }
      },
      "apex": {
        "male": {
          "default": [
            "I need a big ape to fill up my swollen pussy!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "We should get pregnant together next time!"
          ],
          "climaxing": [
            "Which of our bellies is bigger?"
          ],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "You can be rough with me, I'm not carrying eggs!",
            "Your feathers! I'm more ticklish now that I'm pregnant!!",
            "I get so horny when I'm pregnant! Does that happen to Avalis?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "I get so horny when I'm pregnant! Does that happen to Avalis?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "You can be rough with me, I'm not carrying eggs!",
            "Your feathers! I'm more ticklish now that I'm pregnant!!",
            "I get so horny when I'm pregnant! Does that happen to Avians?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "I get so horny when I'm pregnant! Does that happen to Avians?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": [
            "I wish I could have... a big litter like yoursss~!"
          ]
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": [
            "I wish I could have... a big litter like yoursss~!"
          ]
        }
      },
      "floran": {
        "male": {
          "default": [
            "... even though I'm pregnant, I can't stop thinking about your nectar!"
          ],
          "climaxing": [
            "Your petals feel so good against my pregnant pussy!"
          ],
          "pregnant": [
            "Since we got pregnant, your scent has become... intoxicating..."
          ]
        },
        "female": {
          "default": [
            "... even though I'm pregnant, I can't stop thinking about your nectar!"
          ],
          "climaxing": [
            "Your petals feel so good against my pregnant pussy!"
          ],
          "pregnant": [
            "Since we got pregnant, your scent has become... intoxicating..."
          ]
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Yes! Spank my pregnant ass raw with your gears!"
          ],
          "climaxing": [
            "Yess! Pump it into my pregnant hole!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Yes! Spank my pregnant ass raw with your gears!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "I want your soft hands all over my pregnant body!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "I want your soft hands all over my pregnant body!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Your scaly cock is just what I need since I got pregnant!"
          ],
          "climaxing": [
            "It's not enough that I'm knocked up, I need your milt!"
          ],
          "pregnant": [
            "We're both carrying big clutches!"
          ]
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": [
            "We're both carrying big clutches!"
          ]
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Your hands are so hot on my belly!",
            "It's almost too hot to touch, but my pregnant pussy needs to be filled~!"
          ],
          "climaxing": [
            "Yes! Shoot me full of your hot gases! I'm already knocked up!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]