/** 
 * SEXTALK PLUGIN CONFIG - { Default (ANY) Female }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
    "default": {
      "default": {
        "default": {
          "default": []
        }
      }
    }
  },

	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "default": {
      "default": {
        "default": {
          "default": [
            "You've got me from behind, I wonder how long you'll go at it~!",
            "Ooh, I'm so horny all of the sudden~! Keep going~!",
            "My rump hurts from all this pounding~!",
            "Grab my hips and plow me~!"
          ]
        },
        
        "female": {
          "default": [
            "You've got me from behind, I wonder how long you'll go at it~!",
            "Ooh, I'm so horny all of the sudden~! Keep going~!",
            "My rump hurts from all this pounding~!",
            "Grab my hips and plow me~!"
          ]
        },
        
        "male": {
          "default": [
            "You've got me from behind, I wonder how long you'll go at it~!",
            "Ooh, I'm so horny all of the sudden~! Keep going~!",
            "My rump hurts from all this pounding~!",
            "Grab my hips and plow me~!"
          ],
          
          "climaxing": [
            "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
          ]
        }
      }
    },
    
    "equipped_easteranalcarrot": {
      "default": {
        "default": {
          "default": [
            "*Wishes for you to push that ^orange;carrot^reset; deeper inside.* ^red;«^reset;"
          ]
        }
      }
    },

    "equipped_easterbunny": {
      "default": {
        "default": {
          "default": [
            "Oh! So this is how you like celebrate Easter? ^_^"
          ]
        },

        "male": {
          "climaxing": [
            "Mmm! Yesss.. Fill bunny's belly with your white marshmallow cream! ^red;«^reset;"
          ]
        }
      }
    },

    "pregnant": {
      "default": {
        "default": {
          "default": [
            "E-easy~! Baby-on-board!"
          ]
        },
        
        "female": {
          "default": [
            "E-easy~! Baby-on-board!"
          ]
        },
        
        "male": {
          "default": [
            "E-easy~! Baby-on-board!"
          ],
          
          "climaxing": [
            "Mmh~! Fill me up a second time~! I can't get pregnant again~!"
          ]
        }
      }
    }
  }
]