{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Heavily thrusting. G-great mating hole. Working up a sweat!",
							"Hungrily mating. L-loving session. Wish for nothing else!",
							"Grinding behind! Working hard! M-mate pleased?"
						]
					},
					"apex": {
						"text": [
							"Tight pussy. Not mate before? I see. No Miniknog. Not here!"
						]
					},
					"argonian": {
						"text": [
							"Big lizard. Much scales. Much tight!"
						]
					},
					"avali": {
						"text": [
							"Pussy cold. Weird feeling. But good! Not stop!"
						]
					},
					"avian": {
						"text": [
							"Bird pussy. Very tight. Very light. Fenerox like!"
						]
					},
					"braixen": {
						"text": [
							"Like Fenerox. Yet not. Close enough. Much warm!"
						]
					},
					"bunnykin": {
						"text": [
							"Big bunny. So soft! Fenerox mate! All day!"
						]
					},
					"deerkin": {
						"text": [
							"Deer pussy. So warm. So submissive. Fenerox love. Long time!"
						]
					},
					"demon": {
						"text": [
							"Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
						]
					},
					"draconis": {
						"text": [
							"Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
						]
					},
					"everis": {
						"text": [
							"Half human. Half Fenerox. But colorful. Is weird. So good!",
							"Is female. Yet male? Fenerox confused. \"Not think, just fuck?\" Good idea!"
						]
					},
					"eevee": {
						"text": [
							"Is fenerox. Yet not? Is confused. Not care. Close enough. Fenerox mate!",
							"Eevee cute. Fenerox hard. Much mate!"
						]
					},
					"familiar": {
						"text": [
							"Like fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
						]
					},
					"felin": {
						"text": [
							"Fucking pussy. Very literal. Make bad joke. Is sorry."
						]
					},
					"fenerox": {
						"text": [
							"Fenerox mate. Make pups. So many. So good. Not stop!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
						]
					},
					"floran": {
						"text": [
							"Plant pussy. Very strange. Much sap. Yessss?"
						]
					},
					"glitch": {
						"text": [
							"Machine pussy. Very tight. Very oily."
						]
					},
					"gardevan": {
						"text": [
							"Plant person. Much beauty. Much attract. Much mate!"
						]
					},
					"human": {
						"text": [
							"So smooth. Brush fur. Turn on? Me too."
						]
					},
					"hylotl": {
						"text": [
							"Fish person. Wet pussy. Very good!"
						]
					},
					"kemono": {
						"text": [
							"Wolf person. Fenerox submit. Want mate? Fenerox mate!"
						]
					},
					"kitsune": {
						"text": [
							"Smooth skin. Ears and tail. Both beautiful. Fenerox love!"
						]
					},
					"lastree": {
						"text": [
							"Strange person. Fenerox mate. Feels wrong. Not know why."
						]
					},
					"lombax": {
						"text": [
							"Weird person. Like fenerox, yet not. No matter. Fenerox mate!"
						]
					},
					"mauskin": {
						"text": [
							"Mouse person. Fenerox catch! Make mate, no eat!"
						]
					},
					"neko": {
						"text": [
							"Cat-woman! Want mate? Fenerox mate! Why not? Is cute!"
						]
					},
					"neki": {
						"text": [
							"Furry cat. Fenerox submit. Want mate? Fenerox mate!"
						]
					},
					"ningen": {
						"text": [
							"So smooth. Brush fur. Turn on? Me too."
						]
					},
					"novakid": {
						"text": [
							"Pussy hot. Almost burn. Fenerox endure."
						]
					},
					"penguin": {
						"text": [
							"Little bird. Take cock. Not break? Fenerox surprised!",
							"Little bird. Tightest pussy. Clench cock. So good!",
							"Small bird. Very tight! Not hurt? Fenerox fuck harder!"
						]
					},
					"renamon": {
						"text": [
							"Big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
						]
					},
					"saturn": {
						"text": [
							"Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
						]
					},
					"shadow": {
						"text": [
							"Dark pussy. Feels strange."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Pussy tightening. Mate cum!",
							"Proud demeanor. V-very warm. Good mate!"
						]
					},
					"floran": {
						"text": [
							"Seeding cock. Very tingly. So good!"
						]
					},
					"glitch": {
						"text": [
							"Mate cum. Strange feeling. Like tar."
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum soon. Big load! Prepare!",
							"Too good. Fenerox cum!",
							"Not long. Fill mate. Can't wait!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cumming! Knotting Pussy!",
							"Fenerox cumming! Knotting pussy, knocking up! Make fat. With pups!",
							"Extremely hard. Tingling bits! Hea-heavy load!"
						]
					},
					"apex": {
						"text": [
							"Breed ape! Make puppies! Or apes?"
						]
					},
					"avali": {
						"text": [
							"Breeding cold bird! Make cold puppies! ... Warm birds?"
						]
					},
					"avian": {
						"text": [
							"Breeding bird! Make puppies! For Kluex!"
						]
					},
					"felin": {
						"text": [
							"Breeding Cat! Make Dogs! Fenerox superior!"
						]
					},
					"floran": {
						"text": [
							"Breed plant! Making seeds! Hatch puppies!"
						]
					},
					"glitch": {
						"text": [
							"Fenerox Cum! Machine breed? Is possible?"
						]
					},
					"human": {
						"text": [
							"Breeding human! Making pups."
						]
					},
					"hylotl": {
						"text": [
							"Breeding fish! Make fish-dogs!"
						]
					},
					"novakid": {
						"text": [
							"Breeding Glowwoman! Make Glow-Puppies!"
						]
					},
					"penguin": {
						"text": [
							"Breeding little bird. Make little puppies!"
						]
					},
					"shadow": {
						"text": [
							"Breed dark. Black puppies?"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cumming! Knotting Pussy!",
							"Fenerox cumming! Knotting pussy, knocking up! Make fat. With pups!",
							"Extremely hard. Tingling bits! Hea-heavy load!",
							"We cum!"
						]
					},
					"apex": {
						"text": [
							"Breed ape! Make puppies! Or apes?"
						]
					},
					"avali": {
						"text": [
							"Breeding cold bird! Make cold puppies! ... Warm birds?"
						]
					},
					"avian": {
						"text": [
							"Breeding bird! Make puppies! For Kluex!"
						]
					},
					"felin": {
						"text": [
							"Breeding Cat! Make Dogs! Fenerox superior!"
						]
					},
					"floran": {
						"text": [
							"Breed plant! Making seeds! Hatch puppies!"
						]
					},
					"glitch": {
						"text": [
							"Fenerox Cum! Machine breed? Is possible?"
						]
					},
					"human": {
						"text": [
							"Breeding human! Making pups."
						]
					},
					"hylotl": {
						"text": [
							"Breeding fish! Make fish-dogs!"
						]
					},
					"novakid": {
						"text": [
							"Breeding Glowwoman! Make Glow-Puppies!"
						]
					},
					"penguin": {
						"text": [
							"Breeding little bird. Make little puppies!"
						]
					},
					"shadow": {
						"text": [
							"Breed dark. Black puppies?"
						]
					}
				}
			}
		},
		"r_vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Love mate! Fuck harder!",
							"So good! Need more!",
							"Love dick! So big! Need more!"
						]
					},
					"apex": {
						"text": [
							"Apex big. Take Fenerox. Stretch insides. Oh yes!",
							"Apex rough. Fenerox love! Fuck harder! Show no mercy!"
						]
					},
					"argonian": {
						"text": [
							"Lizard man. So big! So dominant! Weird Cock. Fenerox love!"
						]
					},
					"avali": {
						"text": [
							"Cock cold. Yet good. Give more!",
							"Cold bird. Cock cold. Chill insides. Feels strange. Very good."
						]
					},
					"avian": {
						"text": [
							"Bird thick! Fill pussy. Don't stop!"
						]
					},
					"braixen": {
						"text": [
							"Not-Fenerox. But close. Much warmer. Fenerox love! Mates not-Fenerox!"
						]
					},
					"bunnykin": {
						"text": [
							"Bunny person. Fucks Fenerox! So hard! So fast! Don't stop!"
						]
					},
					"deerkin": {
						"text": [
							"Deer person. So forceful! Yet gentle. So long! Barely fits! Don't stop!"
						]
					},
					"demon": {
						"text": [
							"Scary person. Fenerox submits! Take body? Fenerox offers! Don't hurt!"
						]
					},
					"draconis": {
						"text": [
							"Dragon mate. Very powerful. Very forceful. Fenerox captured. Is possesion. Use roughly!"
						]
					},
					"everis": {
						"text": [
							"Fox-human. Is female. And yet... has cock? Is confused. Oh well. Fuck Fenerox!"
						]
					},
					"felin": {
						"text": [
							"Dick scratchy. Yet good. Please more!",
							"Insides scratch. Yet good. Take more!"
						]
					},
					"floran": {
						"text": [
							"Plant vine. Feels good. Yet strange. Fuck more!",
							"Plant cock. So strange. So good. Need more!",
							"Plant scent. Very strange. Fenerox wild!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Tentacle person. Take Fenerox. Much pleasure!"
						]
					},
					"gardevan": {
						"text": [
							"Plant person. Like Floran. Yet gentle. Fenerox like!"
						]
					},
					"glitch": {
						"text": [
							"Metal cock. So big. So smooth. So good!"
						]
					},
					"human": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"hylotl": {
						"text": [
							"Fish cock. So wet. Is too! Fuck harder!"
						]
					},
					"kemono": {
						"text": [
							"Big wolf. Fenerox submit. No eat. Make mate. Take body. Love mate!",
							"Wolf forceful. Fucks Fenerox. Dominates Fenerox. Much pleasure!"
						]
					},
					"kitsune": {
						"text": [
							"Half man. Half Fox. All good. Don't stop!"
						]
					},
					"mauskin": {
						"text": [
							"Mouse person. No eat. Too big. Mate Fenerox? ... why not! Much pleasure."
						]
					},
					"neko": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"neki": {
						"text": [
							"Dick scratchy. Yet good. Please more!",
							"Insides scratch. Yet good. Take more!"
						]
					},
					"ningen": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"novakid": {
						"text": [
							"Cock hot! Too hot! Aaahh!",
							"Body warm. Make Fenerox hot! Too hot! Aaah!"
						]
					},
					"penguin": {
						"text": [
							"Little bird. Big cock. Much surprised."
						]
					},
					"renamon": {
						"text": [
							"Big fox. So beautiful. Mate Fenerox? Is lucky! So good!"
						]
					},
					"saturn": {
						"text": [
							"Bug person. Mates Fenerox. But how? Not sure. Not care. Too good!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mate cums! Deep inside! So full, so good!",
							"C-content! Very warm. Insides full. Thank you."
						]
					},
					"apex": {
						"text": [
							"For science! ... What's 'science?'"
						]
					},
					"argonian": {
						"text": [
							"Lizard cums! Make eggs?"
						]
					},
					"avali": {
						"text": [
							"Cum cold! Feel strange. So good!"
						]
					},
					"avian": {
						"text": [
							"For Kluex! ... What's 'Kluex'?"
						]
					},
					"braixen": {
						"text": [
							"It cums! Make pups?"
						]
					},
					"bunnykin": {
						"text": [
							"Cumming again? How often? Lost count.",
							"You cum? Make bunnies? Going again? So soon? Fenerox tired!"
						]
					},
					"deerkin": {
						"text": [
							"Mate cums! Make fawns?"
						]
					},
					"demon": {
						"text": [
							"It cums. Is over? No?"
						]
					},
					"draconis": {
						"text": [
							"Dragon cums! Make eggs?"
						]
					},
					"everis": {
						"text": [
							"Fox cums! Make pups?"
						]
					},
					"felin": {
						"text": [
							"Kitty milk! In Fenerox! So good!"
						]
					},
					"fenerox": {
						"text": [
							"Knot me! Knock up! Big litter!"
						]
					},
					"floran": {
						"text": [
							"Seed Fenerox!",
							"Plant cums! Very Sticky. Very tingly!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Tentacle cums. Is worried. But why?"
						]
					},
					"gardevan": {
						"text": [
							"Plant cums! Plant plants?"
						]
					},
					"glitch": {
						"text": [
							"Cum! ... Cum weird. So thick. Is... black?",
							"Cum hard! Is... black? Feels weird."
						]
					},
					"kemono": {
						"text": [
							"Wolf cums! Make pups? Hope so. They strong!"
						]
					},
					"kitsune": {
						"text": [
							"Foxman cums! Make puppies? Hope much!"
						]
					},
					"mauskin": {
						"text": [
							"Cums again? How often. Lost count.",
							"Cums inside. Makes mice? How many?"
						]
					},
					"novakid": {
						"text": [
							"It burns! Too much! Almost."
						]
					},
					"renamon": {
						"text": [
							"Fox cums. Make puppies. Much yes!"
						]
					},
					"saturn": {
						"text": [
							"Bug cums! Make eggs?"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"So good! Keep going! Feel funny!",
							"Soon! Fenerox cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"We cum!",
							"Fuzzy insides. Very hot! M-m-massive climax!"
						]
					}
				}
			}
		},
		"anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Heavily thrusting. G-great mating hole. Working up a sweat!",
							"Hungrily mating. L-loving session. Wish for nothing else!",
							"Grinding behind! Working hard! M-mate pleased?"
						]
					},
					"apex": {
						"text": [
							"Tight ass. Not mate before? I see. No Miniknog. Not here!"
						]
					},
					"argonian": {
						"text": [
							"Big lizard. Much scales. Much tight!"
						]
					},
					"avali": {
						"text": [
							"Ass cold. Weird feeling. But good! Not stop!"
						]
					},
					"avian": {
						"text": [
							"Bird ass. Very tight. Very light. Fenerox like!"
						]
					},
					"braixen": {
						"text": [
							"Like Fenerox. Yet not. Close enough. Much warm!"
						]
					},
					"bunnykin": {
						"text": [
							"Big bunny. So soft! Fenerox mate! All day!"
						]
					},
					"deerkin": {
						"text": [
							"Big deer. Fenerox dominate. Very gently!"
						]
					},
					"demon": {
						"text": [
							"Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
						]
					},
					"draconis": {
						"text": [
							"Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
						]
					},
					"everis": {
						"text": [
							"Half human. Half Fenerox. But colorful. Is weird. So good!",
							"Is female. Yet male? Fenerox confused. \"Not think, just fuck?\" Good idea!"
						]
					},
					"eevee": {
						"text": [
							"Is fenerox. Yet not? Is confused. Not care. Close enough. Fenerox mate!",
							"Eevee cute. Fenerox hard. Much mate!"
						]
					},
					"familiar": {
						"text": [
							"Like fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
						]
					},
					"felin": {
						"text": [
							"Fucking pussy. But is ass. Make bad joke. Is sorry."
						]
					},
					"fragmentedruin": {
						"text": [
							"Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
						]
					},
					"glitch": {
						"text": [
							"Machine ass. Very tight. Very oily. No lube needed!"
						]
					},
					"gardevan": {
						"text": [
							"Plant person. Much beauty. Much attract. Much mate!"
						]
					},
					"human": {
						"text": [
							"So smooth. Brush fur. Turn on? Me too."
						]
					},
					"hylotl": {
						"text": [
							"Fish person. Wet ass. Very good!"
						]
					},
					"kemono": {
						"text": [
							"Wolf person. Fenerox submit. Want mate? Fenerox mate!"
						]
					},
					"kitsune": {
						"text": [
							"Smooth skin. Ears and tail. Both beautiful. Fenerox love!"
						]
					},
					"lastree": {
						"text": [
							"Strange person. Fenerox mate. Feels wrong. Not know why."
						]
					},
					"lombax": {
						"text": [
							"Weird person. Like fenerox, yet not. No matter. Fenerox mate!"
						]
					},
					"mauskin": {
						"text": [
							"Mouse person. Fenerox catch! Make mate, no eat!"
						]
					},
					"neko": {
						"text": [
							"Cat person! Want mate? Fenerox mate! Why not? Is cute!"
						]
					},
					"neki": {
						"text": [
							"Furry cat. Fenerox submit. Want mate? Fenerox mate!"
						]
					},
					"ningen": {
						"text": [
							"So smooth. Brush fur. Turn on? Me too."
						]
					},
					"novakid": {
						"text": [
							"Ass hot. Almost burn. Fenerox endure."
						]
					},
					"penguin": {
						"text": [
							"Little bird. Take cock. Not break? Fenerox surprised!",
							"Little bird. Tightest ass. Clench cock. So good!",
							"Small bird. Very tight! Not hurt? Fenerox fuck harder!"
						]
					},
					"renamon": {
						"text": [
							"Big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
						]
					},
					"saturn": {
						"text": [
							"Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
						]
					},
					"shadow": {
						"text": [
							"Dark ass. Feels strange."
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mate cumming!",
							"Proud demeanor. V-very warm. Good mate!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum soon. Big load! Prepare!",
							"Too good. Fenerox cum!",
							"Not long. Fill mate. Can't wait!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cumming! Knotting ass!",
							"Fenerox cumming!",
							"Extremely hard. Tingling bits! Hea-heavy load!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cumming! Knotting Pussy!",
							"Fenerox cumming! Knotting pussy, knocking up! Make fat. With pups!",
							"Extremely hard. Tingling bits! Hea-heavy load!",
							"We cum!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Love mate! Fuck harder!",
							"So good! Need more!",
							"Love dick! So big! Need more!"
						]
					},
					"argonian": {
						"text": [
							"Lizard man. So big! So dominant! Weird Cock. Fenerox love!"
						]
					},
					"apex": {
						"text": [
							"Apex big. Take Fenerox. Stretch insides. Oh yes!",
							"Apex rough. Fenerox love! Fuck harder! Show no mercy!"
						]
					},
					"avali": {
						"text": [
							"Cock cold. Yet good. Give more!",
							"Cold bird. Cock cold. Chill insides. Feels strange. Very good."
						]
					},
					"avian": {
						"text": [
							"Bird thick! Fill ass. Don't stop!"
						]
					},
					"braixen": {
						"text": [
							"Not-Fenerox. But close. Much warmer. Fenerox love! Mates not-Fenerox!"
						]
					},
					"bunnykin": {
						"text": [
							"Bunny person. Fucks Fenerox! So hard! So fast! Don't stop!"
						]
					},
					"deerkin": {
						"text": [
							"Deer person. So forceful! Yet gentle. So long! Barely fits! Don't stop!"
						]
					},
					"demon": {
						"text": [
							"Scary person. Fenerox submits! Take body? Fenerox offers! Don't hurt!"
						]
					},
					"draconis": {
						"text": [
							"Dragon mate. Very powerful. Very forceful. Fenerox captured. Is possesion. Use roughly!"
						]
					},
					"everis": {
						"text": [
							"Fox-human. Is female. And yet... has cock? Is confused. Oh well. Fuck Fenerox!"
						]
					},
					"felin": {
						"text": [
							"Dick scratchy. Yet good. Please more!",
							"Insides scratch. Yet good. Take more!"
						]
					},
					"floran": {
						"text": [
							"Plant vine. Feels good. Yet strange. Fuck more!",
							"Plant cock. So strange. So good. Need more!",
							"Plant scent. Very strange. Fenerox wild!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Tentacle person. Take Fenerox. Much pleasure!"
						]
					},
					"gardevan": {
						"text": [
							"Plant person. Like Floran. Yet gentle. Fenerox like!"
						]
					},
					"glitch": {
						"text": [
							"Metal cock. So big. So smooth. So good!"
						]
					},
					"human": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"hylotl": {
						"text": [
							"Fish cock. So wet. Is too! Fuck harder!"
						]
					},
					"kemono": {
						"text": [
							"Big wolf. Fenerox submit. No eat. Make mate. Take body. Love mate!",
							"Wolf forceful. Fucks Fenerox. Dominates Fenerox. Much pleasure!"
						]
					},
					"kitsune": {
						"text": [
							"Half man. Half Fox. All good. Don't stop!"
						]
					},
					"mauskin": {
						"text": [
							"Mouse person. No eat. Too big. Mate Fenerox? ... why not! Much pleasure."
						]
					},
					"neko": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"neki": {
						"text": [
							"Dick scratchy. Yet good. Please more!",
							"Insides scratch. Yet good. Take more!"
						]
					},
					"ningen": {
						"text": [
							"Man cock. Need more! Fuck me!"
						]
					},
					"novakid": {
						"text": [
							"Cock hot! Too hot! Aaahh!",
							"Body warm. Make Fenerox hot! Too hot! Aaah!"
						]
					},
					"penguin": {
						"text": [
							"Little bird. Big cock. Much surprised."
						]
					},
					"renamon": {
						"text": [
							"Big fox. So beautiful. Mate Fenerox? Is lucky! So good!"
						]
					},
					"saturn": {
						"text": [
							"Bug person. Mates Fenerox. But how? Not sure. Not care. Too good!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mate cums!"
						]
					},
					"apex": {
						"text": [
							"For science! ... What's 'science?'"
						]
					},
					"avali": {
						"text": [
							"Cum cold! Feel strange. So good!"
						]
					},
					"avian": {
						"text": [
							"For Kluex! ... What's 'Kluex'?"
						]
					},
					"bunnykin": {
						"text": [
							"Cumming again? How often? Lost count.",
							"You cum? Going again? So soon? Fenerox tired!"
						]
					},
					"demon": {
						"text": [
							"It cums. Is over? No?"
						]
					},
					"floran": {
						"text": [
							"Plant cums! Very Sticky. Very tingly!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Tentacle cums. Is worried. But why?"
						]
					},
					"gardevan": {
						"text": [
							"Plant cums! Plant plants?"
						]
					},
					"glitch": {
						"text": [
							"Cum! ... Cum weird. So thick. Is... black?",
							"Cum hard! Is... black? Feels weird."
						]
					},
					"mauskin": {
						"text": [
							"Cums again? How often. Lost count."
						]
					},
					"novakid": {
						"text": [
							"It burns! Too much! Almost."
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"So good! Keep going! Feel funny!",
							"Soon! Fenerox cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"We cum!",
							"Fuzzy insides. Very hot! M-m-massive climax!"
						]
					}
				}
			}
		}
	}
}