[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Heavily thrusting. G-great mating hole. Working up a sweat!",
            "Hungrily mating. L-loving session. Wish for nothing else!"
          ],
          "climaxing": [
            "Mate cumming!",
            "Proud demeanor. V-very warm. Good mate!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Heavily thrusting. G-great mating hole. Working up a sweat!",
            "Hungrily mating. L-loving session. Wish for nothing else!"
          ],
          "climaxing": [
            "Mate cumming!",
            "Proud demeanor. V-very warm. Good mate!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Tight ass. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Tight pussy. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Big lizard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big lizard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Ass cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Pussy cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird ass. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bird pussy. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "Bunnykin": {
        "male": {
          "default": [
            "Big bunny. So soft! Fenerox mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big bunny. So soft! Fenerox Mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Big deer. Fenerox dominate. Very gently!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Deer pussy. So warm. So submissive. Fenerox love. Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Dragon lizard? Is submissive? Fenerox mate. Lay dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Is female. Yet male? Fenerox confused. ''Not think. Just fuck?'' Good idea!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Half human. Half Fenerox. But colorful. Is weird. So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Is Fenerox. Yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox wet. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Is Fenerox. yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox wet. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Like Fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Like Fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Fucking pussy. Very literal. Bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fucking pussy. Very literal. Bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox mate. Make pups. So many. So good. Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant pussy. Very strange. Much sap. Yessss?"
          ],
          "climaxing": [
            "Seeding cock. Very tingly. So good!"
          ],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Machine ass. Very tight. Very oily. No lube needed!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Machine pussy. Very tight. Very oily."
          ],
          "climaxing": [
            "Mate cum. Strange feeling. Like tar."
          ],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish person. Wet ass. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fish person. Wet pussy. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Smooth skin. Fox ears. Fox tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Smooth skin. Fox ears. Fox tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Weird person. Like Fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Weird person. Like Fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse person. Fenerox catch! Make mate, no eat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mouse person. Fenerox catch! Make mate, no eat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Cat-man! Want mate? Fenerox mate! Why not?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat-woman! Want mate? Fenerox mate! Why not? Is cute!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "So smooth. Brush fur. Turn on? Me too. "
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Ass hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Pussy hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest ass. Clench cock. So good!",
            "Small bird. Very tight! Not hurt? Mate more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest pussy. Clench cock. So good!",
            "Small bird. Very tight! Not hurt? Mate more!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Shadow man. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Shadow woman. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Love mate! Fuck harder!",
            "So good! Need more!",
            "Love dick! So big! Need more!"
          ],
          "climaxing": [
            "Mate cums! Deep inside! So full, so good!",
            "C-content! Very warm. Insides full. Thank you."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Love mate! Fuck harder!",
            "So good! Need more!"
          ],
          "climaxing": [
            "Mate cums!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Apex big. Take Fenerox. Stretch insides. Oh yes!",
            "Apex rough. Fenerox love! Fuck harder! Show no mercy!"
          ],
          "climaxing": [
            "For science! ... What's 'science?'"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "For science! ... What's 'science?'"
          ],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Lizard man. So big! So dominant! Weird Cock. Fenerox love!"
          ],
          "climaxing": [
            "Lizard cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Lizard woman. So big! So dominant! Weird Cock. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Cock cold. Yet good. Give more!",
            "Cold bird. Cock cold. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [
            "Cum cold! Feel strange. So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Very cold. Yet good. Give more!",
            "Cold bird. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird thick! Fill pussy. Don't stop!"
          ],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Not-Fenerox. But close. Much warmer. Fenerox love! Mates not-Fenerox!"
          ],
          "climaxing": [
            "It cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Bunny person. Fucks Fenerox! So hard! So fast! Don't stop!"
          ],
          "climaxing": [
            "Cumming again? How often? Lost count.",
            "You cum? Make bunnies? Going again? So soon? Fenerox tired!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer person. So forceful! Yet gentle. So long! Barely fits! Don't stop!"
          ],
          "climaxing": [
            "Mate cums! Make fawns?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Scary person. Fenerox submits! Take body? Fenerox offers! Don't hurt!"
          ],
          "climaxing": [
            "It cums. Is over? Again?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon mate. Very powerful. Very forceful. Fenerox captured. Is possesion. Use roughly!"
          ],
          "climaxing": [
            "Dragon cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fox-human. Is female. And yet... has cock? Is confused. Oh well. Fuck Fenerox!"
          ],
          "climaxing": [
            "Fox cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Like Fenerox. But glows. Fenerox mate? Very much!"
          ],
          "climaxing": [
            "Cum glows! Is worried. Shouldn't be? I hope."
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Dick scratchy. Yet good. Please more!",
            "Insides scratch. Yet good. Take more!"
          ],
          "climaxing": [
            "Kitty milk! In Fenerox! So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [],
          "climaxing": [
            "Knot me! Knock up! Big litter!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Plant vine. Feels good. Yet strange. Fuck more!",
            "Plant cock. So strange. So good. Need more!",
            "Plant scent. Very strange. Fenerox wild!"
          ],
          "climaxing": [
            "Seed Fenerox!",
            "Plant cums! Very Sticky. Very tingly!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Tentacle person. Take Fenerox. Much pleasure!"
          ],
          "climaxing": [
            "Tentacle cums. Is worried. But why?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Like floran. Yet gentle. Fenerox like!"
          ],
          "climaxing": [
            "Plant cums! Plant plants?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Metal cock. So big. So smooth. So good!"
          ],
          "climaxing": [
            "Cum! ... Cum weird. So thick. Is... black?",
            "Cum hard! Is... black? Feels weird."
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Man cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish cock. So wet. Is too! Fuck harder!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Big wolf. Fenerox submit. No eat. Make mate. Take body. Love mate!",
            "Wolf forceful. Fucks Fenerox. Dominates Fenerox. Much pleasure!"
          ],
          "climaxing": [
            "Wolf cums! Make pups? Hope so. They strong!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Half man. Half Fox. All good. Don't stop!"
          ],
          "climaxing": [
            "Foxman cums! Make puppies? Hope much!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse person. No eat. Too big. Mate Fenerox? ... why not! Much pleasure."
          ],
          "climaxing": [
            "Cums again? How often. Lost count.",
            "Cums inside. Makes mice? how many?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Man cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Lizard man. So big! So dominant! Weird Cock. Fenerox love!"
          ],
          "climaxing": [
            "Lizard cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Cock hot! Too hot! Aaahh!",
            "Body warm. Make Fenerox hot! Too hot! Aaah!"
          ],
          "climaxing": [
            "It burns! Too much! Almost."
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird. Big cock. Much surprised."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. So beautiful. Mate Fenerox? Is lucky! So good!"
          ],
          "climaxing": [
            "Fox cums. Make puppies. Much yes!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug person. Mates Fenerox. But how? Not sure. Not care. Too good!"
          ],
          "climaxing": [
            "Bug cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "Fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox curious. Want pregnant too? Offer mate."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]