{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"You're going to forget your name after Floran isssss done fucking you tonight!",
							"You're a good little ssssslut, aren't you?",
							"Ask for permission before you cum… Floran wantsss to hear you beg for it.",
							"You're going to need crutches when Floran isssss done fucking you.",
							"Floran has been craving your pussssssy!"
						]
					},
					"apex": {
						"text": [
							"Floran dominate ape!!"
						]
					},
					"argonian": {
						"text": [
							"Floran dominate lissssard!!"
						]
					},
					"avali": {
						"text": [
							"Pussssssy Cold!",
							"Floran dominate ssstinky bird!"
						]
					},
					"avian": {
						"text": [
							"Floran dominate bird!"
						]
					},
					"braixen": {
						"text": [
							"Floran dominate focksssssss!!",
							"Focksssssss pussy is so hot! Floran afraid dick catch fire!"
						]
					},
					"bunnykin": {
						"text": [
							"Floran dominate bunny!!"
						]
					},
					"deerkin": {
						"text": [
							"Floran dominate deer-woman!!"
						]
					},
					"demon": {
						"text": [
							"No! You will be fucked by Floran!",
							"Floran dominate demon!"
						]
					},
					"draconis": {
						"text": [
							"Floran dominate dragon!!"
						]
					},
					"everis": {
						"text": [
							"Floran dominate fox-woman!!"
						],
						"otherStatus": {
							"hasDick": {
								"text": [
									"You female. Yet hasss dick. What?!"
								]
							}
						}
					},
					"eevee": {
						"text": [
							"Floran dominates cute focksssssss!!"
						]
					},
					"familiar": {
						"text": [
							"Floran dominate ssstrange glow-thing!"
						]
					},
					"felin": {
						"text": [
							"Floran dominate cat!"
						]
					},
					"Floran": {
						"text": [
							"Floran conquer mate!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Floran dominate tentacle-woman!"
						]
					},
					"gardevan": {
						"text": [
							"Floran dominate wimpy plant!"
						]
					},
					"glitch": {
						"text": [
							"Floran dominate Masshhhiiine!",
							"Machine built for Floran's pleassssure!"
						]
					},
					"human": {
						"text": [
							"Floran dominate human!"
						]
					},
					"hylotl": {
						"text": [
							"Fisssssh is in proper place!",
							"Floran dominate Fisssssh!"
						]
					},
					"kemono": {
						"text": [
							"Floran dominate wolf!"
						]
					},
					"kitsune": {
						"text": [
							"Floran dominate woman-fox!"
						]
					},
					"lastree": {
						"text": [
							"No! You will be fucked by Floran!",
							"Floran dominate demon!"
						]
					},
					"lombax": {
						"text": [
							"Floran dominate fox-thing!"
						]
					},
					"mauskin": {
						"text": [
							"Floran dominate moussssie!"
						]
					},
					"neko": {
						"text": [
							"Floran dominate woman-cat!"
						]
					},
					"neki": {
						"text": [
							"Floran dominate cat!"
						]
					},
					"ningen": {
						"text": [
							"Floran dominate human!"
						]
					},
					"novakid": {
						"text": [
							"Glow man pusssssy is hot! Too hot!",
							"Floran dominate glow-woman!"
						]
					},
					"penguin": {
						"text": [
							"Penguin tight!",
							"Floran dominate little bird!"
						]
					},
					"renamon": {
						"text": [
							"Floran dominate fox!"
						]
					},
					"saturn": {
						"text": [
							"Floran dominate bug!"
						]
					},
					"shadow": {
						"text": [
							"Floran dominate darknesssss woman!"
						]
					}
				},
				"climax": {
					"default": {
							"override": true,
							"text": [
								"O-oh.. you're tight! Sssssquirt for Floran!"
							]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssss about to sprout!",
							"Prepare for Floran's big load!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": []
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran enjoyed that! Floran goesssss again!"
						]
					}
				}
			}
		},
		"r_vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Yesss! Fuck Floran!",
							"Deeper! Plant your rootsssss deeper in Floran!"
						]
					},
					"apex": {
						"text": [
							"Fuck Floran, you big furry ape!",
							"Give Floran big ape cock!",
							"Ape dominate Floran!"
						]
					},
					"argonian": {
						"text": [
							"Fuck Floran, you big scaley lisssard!",
							"Give Floran big lisssard cock!",
							"Lissssard dominate Floran!"
						]
					},
					"avali": {
						"text": [
							"Fuck Floran, sssstinky cold bird!",
							"Give Floran big cold bird cock!",
							"Cold bird dominate Floran!"
						]
					},
					"avian": {
						"text": [
							"Fuck Floran, you big bird!",
							"Give Floran big bird cock!",
							"Bird dominatesss Floran!"
						]
					},
					"braixen": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big fox cock!",
							"Fockssssss dominatesss Floran!"
						]
					},
					"bunnykin": {
						"text": [
							"Fuck Floran, you big bunny!",
							"Give Floran big bunny cock!",
							"Bunny dominatesss Floran!"
						]
					},
					"deerkin": {
						"text": [
							"Fuck Floran, you big deer!",
							"Give Floran big deer cock!",
							"Deer dominatesss Floran!"
						]
					},
					"demon": {
						"text": [
							"Fuck Floran, you big demon!",
							"Give Floran big demon cock!",
							"Demon dominatesss Floran!"
						]
					},
					"draconis": {
						"text": [
							"Fuck Floran, you big dragon!",
							"Give Floran big dragon cock!",
							"Dragon dominatesss Floran!"
						]
					},
					"everis": {
						"text": [
							"Fuck Floran, you weird fox dick lady!",
							"Give Floran big fox girl cock!",
							"Fox-woman-man dominatesss Floran!"
						]
					},
					"eevee": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big doggie cock!",
							"Fox dominatesss Floran!"
						]
					},
					"familiar": {
						"text": [
							"Fuck Floran, you big glowing fox!",
							"Give Floran big glowing cock!",
							"Glowing fox-thing dominatesss Floran!"
						]
					},
					"felin": {
						"text": [
							"Fuck Floran, you big cat!",
							"Give Floran big spiky cock!",
							"Cat dominatesss Floran!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Fuck Floran, you big tentacle-man!",
							"Give Floran big silmey tentacle cock!",
							"Tentacle-eye dominatesss Floran!"
						]
					},
					"gardevan": {
						"text": [
							"Fuck Floran, you small flower-man!",
							"Give Floran big flower cock!",
							"Weak flower person dominatesss Floran! Isss not so weak..."
						]
					},
					"glitch": {
						"text": [
							"Masshhhiiine dominates Floran!",
							"Masshhhiiine built for Floran's pleassssure!"
						]
					},
					"human": {
						"text": [
							"Fuck Floran, you big human!",
							"Give Floran big human dick!",
							"Human dominatesss Floran!"
						]
					},
					"hylotl": {
						"text": [
							"Fish dominates Floran!"
						]
					},
					"kemono": {
						"text": [
							"Fuck Floran, you big wolf!",
							"Give Floran big doggie dick!",
							"Wolf dominatesss Floran!"
						]
					},
					"kitsune": {
						"text": [
							"Fuck Floran, you big man-fox!",
							"Give Floran big doggie-man dick!",
							"Man-fox dominatesss Floran!"
						]
					},
					"lastree": {
						"text": [
							"Fuck Floran, you big demon!",
							"Give Floran big demon dick!",
							"Demon dominatesss Floran!"
						]
					},
					"lombax": {
						"text": [
							"Fuck Floran, you big fox-thing!",
							"Give Floran big foxie dick!",
							"Fox-thing dominatesss Floran!"
						]
					},
					"mauskin": {
						"text": [
							"Fuck Floran, you big cheese!",
							"Give Floran big rat dick!",
							"Mouse dominatesss Floran! ...that makessss no sense."
						]
					},
					"neko": {
						"text": [
							"Fuck Floran, you big man-cat!",
							"Give Floran big kitty dick!",
							"Man-cat dominatesss Floran!"
						]
					},
					"neki": {
						"text": [
							"Fuck Floran, you big cat!",
							"Give Floran big spiky cock!",
							"Cat dominatesss Floran!"
						]
					},
					"ningen": {
						"text": [
							"Fuck Floran, you big human!",
							"Give Floran big human dick!",
							"Human dominatesss Floran!"
						]
					},
					"novakid": {
						"text": [
							"Ssssstarman sso warm and bright~!",
							"Ssssstarman sso warm inside Floran~!"
						]
					},
					"penguin": {
						"text": [
							"Little bird dominates Floran! How?!",
							"Little bird hassss big cock!",
							"Give Floran little bird big cock!"
						]
					},
					"renamon": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big fox dick!",
							"Fox dominatesss Floran!"
						]
					},
					"saturn": {
						"text": [
							"Fuck Floran, you big bug!",
							"Give Floran big bug dick!",
							"Bug dominatesss Floran!"
						]
					},
					"shadow": {
						"text": [
							"Fuck Floran, you big dark man!",
							"Give Floran big dark cock!",
							"Dark man dominates Floran!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran issss gonna take all your pollen!",
							"Yesss~! Ssspray your yummy pollen all up inssside~!"
						]
					},
					"avali": {
						"text": [
							"Cum isssss so cold!"
						]
					},
					"familiar": {
						"text": [
							"Cum issss glowing insde Floran!"
						]
					},
					"floran": {
						"text": [
							"Yessss! Let'sss make more hunterssss!"
						]
					},
					"novakid": {
						"text": [
							"Ah, you make Floran's sssap boil~!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Can't handle Floran's pussssssy?",
							"Floran about to make you ssspray your pollen?"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran issssssss cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran issssssss cumming!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran not satisfied yet! Need more pollen!",
							"Floran wantsssss more! Keep going!"
						]
					}
				}
			}
		},
		"anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"You're going to forget your name after Floran isssss done fucking you tonight!",
							"You're a good little ssssslut, aren't you?",
							"Ask for permission before you cum… Floran wantsss to hear you beg for it.",
							"You're going to need crutches when Floran isssss done fucking you.",
							"Floran has been craving your assssss!"
						]
					},
					"apex": {
						"text": [
							"Floran dominate ape!!"
						]
					},
					"argonian": {
						"text": [
							"Floran dominate lissssard!!"
						]
					},
					"avali": {
						"text": [
							"Asssss cold!",
							"Floran dominate ssstinky bird!"
						]
					},
					"avian": {
						"text": [
							"Floran dominate bird!"
						]
					},
					"braixen": {
						"text": [
							"Floran dominate focksssssss!!",
							"Focksssssss ass is so hot! Floran afraid dick catch fire!"
						]
					},
					"bunnykin": {
						"text": [
							"Floran dominate bunny!!"
						]
					},
					"deerkin": {
						"text": [
							"Floran dominate deer-man!!"
						]
					},
					"demon": {
						"text": [
							"No! You will be fucked by Floran!",
							"Floran dominate demon!"
						]
					},
					"draconis": {
						"text": [
							"Floran dominate dragon!!"
						]
					},
					"everis": {
						"text": [
							"Floran dominate fox-woman!!"
						],
						"otherStatus": {
							"hasDick": {
								"text": [
									"You female. Yet hasss dick. What?!"
								]
							}
						}
					},
					"eevee": {
						"text": [
							"Floran dominates cute focksssssss!!"
						]
					},
					"familiar": {
						"text": [
							"Floran dominate ssstrange glow-thing!"
						]
					},
					"felin": {
						"text": [
							"Floran dominate cat!"
						]
					},
					"Floran": {
						"text": [
							"Floran conquer mate!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Floran dominate tentacle-man!"
						]
					},
					"gardevan": {
						"text": [
							"Floran dominate wimpy plant!"
						]
					},
					"glitch": {
						"text": [
							"Floran dominate Masshhhiiine!",
							"Machine built for Floran's pleassssure!"
						]
					},
					"human": {
						"text": [
							"Floran dominate human!"
						]
					},
					"hylotl": {
						"text": [
							"Fisssssh is in proper place!",
							"Floran dominate Fisssssh!"
						]
					},
					"kemono": {
						"text": [
							"Floran dominate wolf!"
						]
					},
					"kitsune": {
						"text": [
							"Floran dominate man-fox!"
						]
					},
					"lastree": {
						"text": [
							"No! You will be fucked by Floran!",
							"Floran dominate demon!"
						]
					},
					"lombax": {
						"text": [
							"Floran dominate fox-thing!"
						]
					},
					"mauskin": {
						"text": [
							"Floran dominate moussssie!"
						]
					},
					"neko": {
						"text": [
							"Floran dominate man-cat!"
						]
					},
					"neki": {
						"text": [
							"Floran dominate cat!"
						]
					},
					"ningen": {
						"text": [
							"Floran dominate human!"
						]
					},
					"novakid": {
						"text": [
							"Glow man assss is hot! Too hot!",
							"Floran dominate glow-man!"
						]
					},
					"penguin": {
						"text": [
							"Penguin tight!",
							"Floran dominate little bird!"
						]
					},
					"renamon": {
						"text": [
							"Floran dominate fox!"
						]
					},
					"saturn": {
						"text": [
							"Floran dominate bug!"
						]
					},
					"shadow": {
						"text": [
							"Floran dominate darknesssss man!"
						]
					}
				},
				"climax": {
					"default": {
							"override": true,
							"text": [
								"C-clench Floran's cock! Unnh, yeah! Cum!",
								"Ooooh~ You're milking Floran!~"
							]
					}
				}
			}"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssss about to sprout!",
							"Prepare for Floran's big load!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": []
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran enjoyed that! Floran goesssss again!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Yesss! Fuck Floran!",
							"Deeper! Plant your rootsssss deeper in Floran!"
						]
					},
					"apex": {
						"text": [
							"Fuck Floran, you big furry ape!",
							"Give Floran big ape cock!",
							"Ape dominate Floran!"
						]
					},
					"argonian": {
						"text": [
							"Fuck Floran, you big scaley lisssard!",
							"Give Floran big lisssard cock!",
							"Lissssard dominate Floran!"
						]
					},
					"avali": {
						"text": [
							"Fuck Floran, sssstinky cold bird!",
							"Give Floran big cold bird cock!",
							"Cold bird dominate Floran!"
						]
					},
					"avian": {
						"text": [
							"Fuck Floran, you big bird!",
							"Give Floran big bird cock!",
							"Bird dominatesss Floran!"
						]
					},
					"braixen": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big fox cock!",
							"Fockssssss dominatesss Floran!"
						]
					},
					"bunnykin": {
						"text": [
							"Fuck Floran, you big bunny!",
							"Give Floran big bunny cock!",
							"Bunny dominatesss Floran!"
						]
					},
					"deerkin": {
						"text": [
							"Fuck Floran, you big deer!",
							"Give Floran big deer cock!",
							"Deer dominatesss Floran!"
						]
					},
					"demon": {
						"text": [
							"Fuck Floran, you big demon!",
							"Give Floran big demon cock!",
							"Demon dominatesss Floran!"
						]
					},
					"draconis": {
						"text": [
							"Fuck Floran, you big dragon!",
							"Give Floran big dragon cock!",
							"Dragon dominatesss Floran!"
						]
					},
					"everis": {
						"text": [
							"Fuck Floran, you weird fox dick lady!",
							"Give Floran big fox girl cock!",
							"Fox-woman-man dominatesss Floran!"
						]
					},
					"eevee": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big doggie cock!",
							"Fox dominatesss Floran!"
						]
					},
					"familiar": {
						"text": [
							"Fuck Floran, you big glowing fox!",
							"Give Floran big glowing cock!",
							"Glowing fox-thing dominatesss Floran!"
						]
					},
					"felin": {
						"text": [
							"Fuck Floran, you big cat!",
							"Give Floran big spiky cock!",
							"Cat dominatesss Floran!"
						]
					},
					"fragmentedruin": {
						"text": [
							"Fuck Floran, you big tentacle-man!",
							"Give Floran big silmey tentacle cock!",
							"Tentacle-eye dominatesss Floran!"
						]
					},
					"gardevan": {
						"text": [
							"Fuck Floran, you small flower-man!",
							"Give Floran big flower cock!",
							"Weak flower person dominatesss Floran! Isss not so weak..."
						]
					},
					"glitch": {
						"text": [
							"Masshhhiiine dominates Floran!",
							"Masshhhiiine built for Floran's pleassssure!"
						]
					},
					"human": {
						"text": [
							"Fuck Floran, you big human!",
							"Give Floran big human dick!",
							"Human dominatesss Floran!"
						]
					},
					"hylotl": {
						"text": [
							"Fish dominates Floran!"
						]
					},
					"kemono": {
						"text": [
							"Fuck Floran, you big wolf!",
							"Give Floran big doggie dick!",
							"Wolf dominatesss Floran!"
						]
					},
					"kitsune": {
						"text": [
							"Fuck Floran, you big man-fox!",
							"Give Floran big doggie-man dick!",
							"Man-fox dominatesss Floran!"
						]
					},
					"lastree": {
						"text": [
							"Fuck Floran, you big demon!",
							"Give Floran big demon dick!",
							"Demon dominatesss Floran!"
						]
					},
					"lombax": {
						"text": [
							"Fuck Floran, you big fox-thing!",
							"Give Floran big foxie dick!",
							"Fox-thing dominatesss Floran!"
						]
					},
					"mauskin": {
						"text": [
							"Fuck Floran, you big cheese!",
							"Give Floran big rat dick!",
							"Mouse dominatesss Floran! ...that makessss no sense."
						]
					},
					"neko": {
						"text": [
							"Fuck Floran, you big man-cat!",
							"Give Floran big kitty dick!",
							"Man-cat dominatesss Floran!"
						]
					},
					"neki": {
						"text": [
							"Fuck Floran, you big cat!",
							"Give Floran big spiky cock!",
							"Cat dominatesss Floran!"
						]
					},
					"ningen": {
						"text": [
							"Fuck Floran, you big human!",
							"Give Floran big human dick!",
							"Human dominatesss Floran!"
						]
					},
					"novakid": {
						"text": [
							"Ssssstarman sso warm and bright~!",
							"Ssssstarman sso warm inside Floran~!"
						]
					},
					"penguin": {
						"text": [
							"Little bird dominates Floran! How?!",
							"Little bird hassss big cock!",
							"Give Floran little bird big cock!"
						]
					},
					"renamon": {
						"text": [
							"Fuck Floran, you big fox!",
							"Give Floran big fox dick!",
							"Fox dominatesss Floran!"
						]
					},
					"saturn": {
						"text": [
							"Fuck Floran, you big bug!",
							"Give Floran big bug dick!",
							"Bug dominatesss Floran!"
						]
					},
					"shadow": {
						"text": [
							"Fuck Floran, you big dark man!",
							"Give Floran big dark cock!",
							"Dark man dominates Floran!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran issss gonna take all your pollen!",
							"Yesss~! Ssspray your yummy pollen all up inssside~!"
						]
					},
					"avali": {
						"text": [
							"Cum isssss so cold!"
						]
					},
					"familiar": {
						"text": [
							"Cum issss glowing insde Floran!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Can't handle Floran's assssss?",
							"Floran about to make you ssspray your pollen?"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran issssssss cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran issssssss cumming!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran not satisfied yet! Need more pollen!",
							"Floran wantsssss more! Keep going!"
						]
					}
				}
			}
		}
	}
}