{
	"base": "/dialog/sexbound/en/positions/standing/defaultstandingfull.config",
	"content": {
		"r_vaginal": {
			"sex": {
				"sex": {
					"glitch": {
						"text": [
							"Your member feels so hard against my scales~!",
							"Ah~! The breeding efficiency of a machine~!"
						]
					},
					"human": {
						"text": [
							"Mmnh~... Your soft member feels perfect against my scales~!",
							"Uunf. Yes~!... Show me what mating is like on Earth~!"
						]
					},
					"novakid": {
						"text": [
							"I-it's so hot~!... Ahn!~ You'll boil me alive~!",
							"You shine so brightly~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Yes~! Paint my scales white with your precious cum~!",
							"Ahh~! I can feel your sperm swimming deep inside me~!",
							"Ooh~! Fill me with your pools of semen~!",
							"It feels like there's an ocean inside me~!",
							"Oh yes~! Cream my tight hole with your rivers of cum~!",
							"Ahh~! I can feel you tightening!~ Fill me up~!",
							"Ahh~! Yes~! Empty yourself into me~!",
							"Yes~! Fill up my womb with your swimming sperm~!",
							"That's right! Pour your rivers of cum inside my hole!",
							"Dump your sticky load inside of me~!",
							"Unng, tear into my scales, and inseminate my eggs, lover~!"
						]
					},
					"apex": {
						"text": [
							"Yes~! May our children all have such fur as yours~!",
							"O-oh~! I feel it~! Release your Apex load inside of me~!"
						]
					},
					"avian": {
						"text": [
							"Oooh~!... Yes~! May our children be blessed by your Kluex~!"
						]
					},
					"floran": {
						"text": [
							"Ahh~!... How can it be that such barbarism feels so good?~",
							"Uunh~!... You Florans are insatiable~!"
						]
					},
					"glitch": {
						"text": [
							"Ahh~! Wh-what is this you're injecting into me~?!",
							"Aaahh~! A-are you cumming~?!"
						]
					},
					"human": {
						"text": [
							"Ahh~! Yes~! Use me to carry your Human DNA~!",
							"Aaahh~! D-do all Humans carry so much semen~?"
						]
					},
					"hylotl": {
						"text": [
							"Ummh~! Let us populate the stars with our noble blood~!",
							"Ah!~ Yes!~ Fill my womb with beautiful Hylotl DNA~!",
							"Yes~! Fill me up with pure Hylotl DNA!~",
							"Mmnh~... I can feel your Hylotl sperm swimming inside of me~!"
						]
					},
					"novakid": {
						"text": [
							"Uhhnn~!... Ah~! Launch your shinining emissions into me~!",
							"A-ahhh~!... Is this what Novakid semen feels like~?... So hot~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"avali": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					},
					"avian": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					}
				},
				"climax": {
					"avali": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					},
					"avian": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"glitch": {
						"text": [
							"Your member feels so hard against my scales~!",
							"Ah~! The mating efficiency of a machine~!"
						]
					},
					"human": {
						"text": [
							"Mmnh~... Your soft member feels perfect against my scales~!",
							"Uunf. Yes~!... Show me what mating is like on Earth~!"
						]
					},
					"novakid": {
						"text": [
							"I-it's so hot~!... Ahn!~ You'll boil me alive~!",
							"You shine so brightly~!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Yes~! Paint my scales white with your precious cum~!",
							"Ahh~! I can feel your sperm swimming deep inside me~!",
							"Ooh~! Fill me with your pools of semen~!",
							"It feels like there's an ocean inside me~!",
							"Oh yes~! Cream my tight hole with your rivers of cum~!",
							"Ahh~! I can feel you tightening!~ Fill me up~!",
							"Ahh~! Yes~! Empty yourself into me~!",
							"That's right! Pour your rivers of cum inside my hole!",
							"Dump your sticky load inside of me~!"
						]
					},
					"apex": {
						"text": [
							"O-oh~! I feel it~! Release your Apex load inside of me~!"
						]
					},
					"floran": {
						"text": [
							"Ahh~!... How can it be that such barbarism feels so good?~",
							"Uunh~!... You Florans are insatiable~!"
						]
					},
					"glitch": {
						"text": [
							"Ahh~! Wh-what is this you're injecting into me~?!",
							"Aaahh~! A-are you cumming~?!"
						]
					},
					"human": {
						"text": [
							"Aaahh~! D-do all Humans carry so much semen~?"
						]
					},
					"hylotl": {
						"text": [
							"Yes~! Fill me up with pure Hylotl DNA!~",
							"Mmnh~... I can feel your Hylotl sperm swimming inside of me~!"
						]
					},
					"novakid": {
						"text": [
							"Uhhnn~!... Ah~! Launch your shinining emissions into me~!",
							"A-ahhh~!... Is this what Novakid semen feels like~?... So hot~!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"avali": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					},
					"avian": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					}
				},
				"climax": {
					"avali": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					},
					"avian": {
						"text": [
							"Mmmn~... I feel like I could fly~!"
						]
					}
				}
			}
		}
	}
}