[{
    "default" : {
       "default" : {
           "male" : {
                "default" : [
					"We're not called Apex for nothing!",
					"As you can see.. I'M Big Ape!",
					"Rrr.. y-you feel so good..",
					"I-I'm going APE! .. sorry.",
					"I'm built to last for days! I hope you're ready for that."
				],
                "climaxing" : [
				],
				"pregnant" : []
			},"female" : {
				"default" : [
					"We're not called Apex for nothing!",
					"As you can see.. I'M Big Ape!",
					"Rrr.. y-you feel so good..",
					"I-I'm going APE! .. sorry.",
					"I'm built to last for days! I hope you're ready for that."
				],
                "climaxing" : [
				"A-ah, cover my rod in your cream, my sweet."
				],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [
				"You're so fleshy.. I like it!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"You're so fleshy.. I like it!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
},{
    "default" : {
       "default" : {
           "male" : {
                "default" : [
				"Big Ape probably doesn't want to watch this~!",
				"You're brutal~! Look at my hole fidget~!",
				"Mmh.. now this is my kinda banana!",
				"Big Ape probably shouldn't watch this..",
				"Oooh~! I think I much prefer this over bananas~!",
				"Don't tantalize me with bananas! Shove yours inside me! Faster~!",
				"Do you like my fur? Would you like it more if your cum coated it~?",
				"Sit back and let me do all the work~! You won't fret over Apex endurance~!",
				"I can't help but swivel my tail, your cock is too good~!"
				],
                "climaxing" : [
				"Mmh~! Fill my needy primate hole with your worthy seed~!",
				"I s-scientifically endorse this seminal deposit!"				
				],
				"pregnant" : []
			},"female" : {
				"default" : [
				"Big Ape probably shouldn't watch this.."
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : [
				"Do you want him to get you pregnant next?"
				]
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"climaxing" : {
       "default" : {
           "male" : {
                "default" : [
				"I'm.. I'm cumming! T-tear my fur o-out!"
				],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [
				"I'm.. I'm cumming! T-tear my fur o-out!"
				],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	},
	"pregnant" : {
       "default" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"apex" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avali" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"avian" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"felin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"floran" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"glitch" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"human" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"hylotl" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"novakid" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"penguin" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		},"shadow" : {
           "male" : {
                "default" : [],
                "climaxing" : [],
				"pregnant" : []
			},"female" : {
				"default" : [],
                "climaxing" : [],
				"pregnant" : []
			}
		}
	}
}]
