/** 
 * SEXTALK PLUGIN CONFIG - { Default (ANY) Male }
 * 
 * DATA IS ORGANIZED IN THE FOLLOWING WAY:
 * 
 * 1. [ THIS ACTOR'S STATUS]
 * 2. ==> [ OTHER ACTOR'S SPECIES ]
 * 3. ====> [ OTHER ACTOR'S GENDER ]
 * 4. ======> [ OTHER ACTOR'S STATUS ] = Array of Dialog
 *
 * EXAMPLE #1: default.default.default.default = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF ANYTHING AND THE OTHER ACTOR IS A SPECIES OF ANY & ANY GENDER WITH A STATUS OF ANYTHING
 *
 * EXAMPLE #2: pregnant.human.female.climaxing = [""]
 * ^ THIS ACTOR IS HAS A STATUS OF PREGNANT AND THE OTHER ACTOR IS A HUMAN FEMALE WITH A STATUS OF CLIMAXING
 */
 [
	/** 
	 * [0] WHEN THIS ACTOR -> IS HUMPING <- ANOTHER ACTOR IT CAN USE THIS DIALOG.
	 */
  {
		"default": {
			"default": {
				"default": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				},

				"female": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				},

				"male": {
					"default":   [],
					"climaxing": [],
					"pregnant":  []
				}
			}
		}
  },

	/** 
	 * [1] WHEN THIS ACTOR IS -> BEING HUMPED <- BY ANOTHER ACTOR IT CAN USE THIS DIALOG:
	 */
  {
    "default": {
      "default": {
        "default": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your thighs~!",
            "Uunf, oh yeah~! I can't help myself~!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        
        "female": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your thighs~!",
            "Uunf, oh yeah~! I can't help myself~!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        
        "male": {
          "default": [
            "Now who's in control~?",
            "Hear that~? That's my ass slapping against your thighs~!",
            "Uunf, oh yeah~! I can't help myself~!",
            "I can fit so much more in sitting on you like this~!"
          ],
          "climaxing": [
            "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
          ],
          "pregnant": []
        }
      }
    },

    "equipped_easterbunny": {
      "default": {
        "default": {
          "default": [
            "You want ol' Easter Bunny to show ya what he's got? Just lay back and relax!"
          ],
          "climaxing": [],
          "pregnant":  []
        },

        "male": {
          "default": [
            "Those Easter Eggs aren't going to hide themselves, but first I've got to hide this bone!"
          ],
          "climaxing": [
            "Mmm! Yesss.. Fill bunny's belly with your white marshmallow cream! ^red;«^reset;"
          ],
          "pregnant": []
        }
      }
    },

    "equipped_peacekeeper": {
      "default": {
        "default": {
          "default": [
            "Don't try to run away or I'll call for back up..",
            "I'll get off ya, but first you produce some identification.",
            "You're under arrest! Stop resisting! Stay down and take your punishment!"
          ]
        },

        "male" : {
          "default": [
            "Mmh~ Jab your night stick deep inside me - you scoundrel!"
          ],

          "climaxing": [
            "I hope you didn't just attempt to impregnate an officer of the law.."
          ]
        }
      }
    }
  }
]