{
	"base": "/dialog/sexbound/en/positions/cowgirl/defaultcowgirlfull.config",
	"add": true,
	"content": {
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"status": {
							"hasDick": {
								"text": [
									"I hope my prick isn't whipping you too hard~ love!"
								]
							}
						}
					}
				}
			}
		}
	}
}