[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "Fenerox lie. Is submissive. Watch mate."
          ],
          "climaxing": [
            "Cum hard! On cock! So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox lie. Is submissive. Watch mate."
          ],
          "climaxing": [
            "Pussy tightening. Mate cum!",
            "Cum hard! On cock! So good!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Ape beautiful. Keep going!",
            "Tight ass. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Ape beautiful. Keep going. Bounce breasts!",
            "Furry breasts. Much bounce. Very mesmerizing.",
            "Tight pussy. Not mate before? I see. No Miniknog. Not here!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Big lizard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big lzard. Much scales. Much tight!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Cold bird. Yet pretty. Show body. Much beauty!",
            "Ass cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cold bird. Yet pretty. Show body. Much beauty!",
            "Pussy cold. Weird feeling. But good! Not stop!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Avian feathers. So pretty!",
            "Fenerox lie. Play pretend. Is sacrifice. You priest. Of Kluex? Much yes?",
            "Bird ass. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Avian feathers. So pretty!",
            "Fenerox lie. Play pretend. Is sacrifice. You priest. Of Kluex? Much yes?",
            "Bird pussy. Very tight. Very light. Fenerox like!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Big fox. Dominate Fenerox. Much love!",
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big fox. Dominate Fenerox. Much love!",
            "Like Fenerox. Yet not. Close enough. Much warm!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Bunny person. Dominates Fenerox. Milk dry!",
            "Big bunny. So soft! Fenerox mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bunny person. Dominates Fenerox. Milk dry!",
            "Big bunny. So soft! Fenerox Mate! All day!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer dominate.",
            "Big deer. Fenerox dominate. Very gently!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Deer dominate.",
            "Deer pussy. So warm. So submissive. Fenerox love. Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Demon dominate. Fenerox scared!",
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Demon dominate. Fenerox scared!",
            "Demon creature. Scares Fenerox. Wants mating. Not disappoint. Live, yes?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon lizard. Dominates Fenerox."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Dragon lizard. Dominates Fenerox."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fox person. Dominates Fenerox. Is mesmerized.",
            "Is female. Yet male? Fenerox confused. ''Not think, just fuck?'' Good idea!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fox person. Dominates Fenerox. Is mesmerized.",
            "Half human. Half Fenerox. But colorful. Is weird. So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Eeevee Dominate. Fenerox submit! Much love.",
            "Is fenerox. Yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox hard. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Eeevee Dominate. Fenerox submit! Much love.",
            "Is fenerox. yet not? Is confused. Not care. Close enough. Fenerox mate!",
            "Eevee cute. Fenerox hard. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Glow Fox. Dominates Fenerox. Much like.",
            "Like fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow Fox. Dominates Fenerox. Much like.",
            "Like fenerox. Yet glows. Very odd. Yet pretty. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Cat person. Likes dog? Is weird. Fenerox like!",
            "Cat dominate. Dog smut? Is weird.",
            "Fucking pussy. Very literal. Make bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat person. Likes dog? Is weird. Fenerox like!",
            "Cat dominate. Dog smut? Is weird.",
            "Tail wag. Breasts bounce. Pretty belly. Need more!",
            "Fucking pussy. Very literal. Make bad joke. Is sorry."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [
            "Beautiful mate! Dominate me!",
            "Mate beautiful. As always. Much love!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Beautiful mate! Dominate me!",
            "Mate beautiful. As always. Much love!"
          ],
          "climaxing": [
            "Fenerox mate. Make pups. So many. So good. Not stop!"
          ],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Tentacle monster. Rides Fenerox. Is scared.",
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Tentacle monster. Rides Fenerox. Is scared.",
            "Strange creature. Needs sex? Fenerox obeys. Impress tentacles!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Plant person. Very strange. Yet colorful. Turns on. So good.",
            "Plant pretty. Fenerox prey! Is fetish."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Very strange. Yet colorful. Turns on. Leaves bounce. So good.",
            "Plant pretty. Fenerox prey! Is fetish.",
            "Plant pussy. Very strange. Much sap. Yessss?"
          ],
          "climaxing": [
            "Seeding cock. Very tingly. So good!"
          ],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Metal person. Is fetish, for Fenerox. Oh yes, bounce hard!",
            "Machine ass. Very tight. Very oily. No lube needed!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Metal person. Is fetish, for Fenerox. Oh yes, bounce hard!",
            "Machine pussy. Very tight. Very oily."
          ],
          "climaxing": [
            "Mate cum. Strange feeling. Like tar."
          ],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Much beauty. Much attract. Much mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Skin smooth. Very beautiful. Same say? Fenerox happy!",
            "No fur. Yet pretty. So hot. need more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Skin smooth. Breasts bounce. Very beautiful. Same say? Fenerox happy!",
            "No fur. Yet pretty. So hot. need more!",
            "Smooth breasts. Much bounce! Keep going!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish person. Very colorful. Surprisingly dominant. Fenerox like!",
            "Fish person. Wet ass. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fish person. Very colorful. Surprisingly dominant. Fenerox like!",
            "Fish person. Wet pussy. Very good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Wolf person. Dominate fenerox. Don't eat. Please?",
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Wolf person. Dominate fenerox. Don't eat. Please?",
            "Wolf person. Fenerox submit. Want mate? Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Beautiful fox. Dominates Fenerox. Not mind!",
            "Smooth skin. Ears and tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Beautiful fox. Dominates Fenerox. Not mind!",
            "Smooth skin. Ears and tail. Both beautiful. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "Strange person. Dominate fenerox. I submit!",
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Strange person. Dominate fenerox. I submit!",
            "Strange person. Fenerox mate. Feels wrong. Not know why."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Weird fox. Dominates fenerox.",
            "Weird person. Like fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Weird fox. Dominates fenerox.",
            "Weird person. Like fenerox, yet not. No matter. Fenerox mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse dominates. Not right? No matter. Feels good."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mouse person. Dominates fenerox. Much breeding. Very yes?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Cat-man. Dominates fenerox.",
            "cat-man! Want mate? Fenerox mate! Why not?"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat-man. Dominates fenerox.",
            "Cat-woman! Want mate? Fenerox mate! Why not? Is cute!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Skin smooth. Very beautiful. Same say? Fenerox happy!",
            "No fur. Yet pretty. So hot. need more!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Skin smooth. Breasts bounce. Very beautiful. Same say? Fenerox happy!",
            "No fur. Yet pretty. So hot. need more!",
            "Smooth breasts. Much bounce! Keep going!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow person. Ride Fenerox! Like horse! Yee-Haw!",
            "Ass hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow person. Ride Fenerox! Like horse! Yee-Haw!",
            "Pussy hot. Almost burn. Fenerox endure."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird. Give control. Might break. Slightly worried.",
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest ass. Clench cock. So good!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Little bird. Give control. Might break. Slightly worried.",
            "Little bird. Take cock. Not break? Fenerox surprised!",
            "Little bird. Tightest pussy. Clench cock. So good!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "big fox. So beautiful. Fenerox love! Is lucky. Want mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bug person. Very strange. Yet beautuful. Fenerox mate! Long time!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Shadow man. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Shadow woman. Feels strange."
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!",
            "Is cumming! Down legs. So wet. So good!",
            "Extremely hard. Tingling bits! Hea-heavy load!"
          ],
          "climaxing": [
            "We cum!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "I dominate. You lie.",
            "I bounce. You watch. So good!",
            "Fenerox bounce. You watch. Like see? Hope so!",
            "Too tired? No worry! Mate lie. I work!",
            "Love mate! Fuck harder!",
            "So good! Need more!",
            "Love dick! So big! Need more!"
          ],
          "climaxing": [
            "Mate cums! Deep inside! So full, so good!",
            "C-content! Very warm. Insides full. Thank you."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "I dominate. You lie.",
            "I bounce. You watch. So good!",
            "Fenerox bounce. You watch. Like see? Hope so!",
            "Love mate! Fuck harder!",
            "So good! Need more!"
          ],
          "climaxing": [
            "Mate cums!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Ape lazy. Fenerox fuck, no mercy!",
            "I dominate! Take cock, I bounce!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Ape lazy. Fenerox fuck, no mercy!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Lizard man. So big! Weird Cock. Fenerox love!"
          ],
          "climaxing": [
            "Lizard cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Lizard woman. So big! Weird Cock. Fenerox love!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Cold bird. I ride.  Being dominant!",
            "Cock cold. Yet good. Give more!",
            "Cold bird. Cock cold. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [
            "Cum cold! Feel strange. So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cold bird. I ride.  Being dominant!",
            "Very cold. Yet good. Give more!",
            "Cold bird. Chill insides. Feels strange. Very good."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird person. Is sacrifice! To Fenerox. Fenerox mate! No mercy!",
            "Bird thick! Fill pussy. Not stop!"
          ],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bird person. Is sacrifice! To Fenerox. Fenerox mate! No mercy!"
          ],
          "climaxing": [
            "For Kluex! ... What's 'Kluex'?"
          ],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Much beautiful. Fenerox ride. No escape!",
            "Not-Fenerox. But close. Much warmer. Fenerox love! Mates not-Fenerox!"
          ],
          "climaxing": [
            "It cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Much beautiful. Fenerox ride. No escape!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Bunny person. Fenerox fucks! Mates lots!",
            "Fenerox dominate bunny!"
          ],
          "climaxing": [
            "Cumming again? How often? Lost count.",
            "You cum? Make bunnies? Going again? So soon? Fenerox tired!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox dominate bunny!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer person. Fenerox catch. Mates much, very forceful!",
            "Deer person. So forceful! Yet gentle. So long! Barely fits!"
          ],
          "climaxing": [
            "Mate cums! Make fawns?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Scary person. Fenerox dominates. Is scared."
          ],
          "climaxing": [
            "It cums. Is over? Again?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon mate. Fenerox ride!"
          ],
          "climaxing": [
            "Dragon cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Fox-human. Is female. And yet... has cock? Is confused. Oh well. Fenerox fuck!",
            "Fenerox dominate fox-human!"
          ],
          "climaxing": [
            "Fox cums! Make pups?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox dominate fox-human!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Glow-Fox. Fenerox Claim. Make mate!",
            "Like Fenerox. But glows. Fenerox mate? Very much!"
          ],
          "climaxing": [
            "Cum glows! Is worried. Shouldn't be? I hope."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow-Fox. Fenerox Claim. Make mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Cat lie. Fenerox dominate! Much woof!",
            "Dick scratchy. Yet good. Please more!",
            "Insides scratch. Yet good. Take more!"
          ],
          "climaxing": [
            "Kitty milk! In Fenerox! So good!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Cat lie. Fenerox dominate! Much woof!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fenerox": {
        "male": {
          "default": [
            "I dominate!"
          ],
          "climaxing": [
            "Knot me! Knock up! Big litter!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Plant person. Is prey. Role reversal!",
            "Plant vine. Feels good. Yet strange. Fuck more!",
            "Plant cock. So strange. So good. Need more!",
            "Plant scent. Very strange. Fenerox wild!"
          ],
          "climaxing": [
            "Seed Fenerox!",
            "Plant cums! Very Sticky. Very tingly!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Plant person. Is prey. Role reversal!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Tentacle person. Fenerox take. Much pleasure!"
          ],
          "climaxing": [
            "Tentacle cums. Is worried. But why?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Tentacle person. Fenerox take. Much pleasure!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Plant person. Like floran. Yet gentle. Fenerox like!"
          ],
          "climaxing": [
            "Plant cums! Plant plants?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Metal rod. Like toy. That's right. You toy!",
            "Metal cock. So big. So smooth. So good!"
          ],
          "climaxing": [
            "Cum! ... Cum weird. So thick. Is... black?",
            "Cum hard! Is... black? Feels weird."
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Metal person. Is toy. That's right. You toy!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Hu-man. Like Fenerox? Cock hard, says yes!",
            "Smooth man. Pleasure Fenerox! Please master!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fish cock. So wet. Is too! Fuck harder!",
            "Fish stick. So slippery. In pussy. Fuck harder!",
            "Fish submit. Passive fish. Fenerox dominate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Big wolf. Fenerox dominate! Conquer predator. Make mate. Take body. Love mate!",
            "Wolf big. Fucks Fenerox. Fenerox dominates. Much knot!"
          ],
          "climaxing": [
            "Wolf cums! Make pups? Hope so. They strong!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Big wolf. Fenerox dominate! Conquer predator. Make mate. Take body. Love mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Kitsune man. Fenerox take. Ride long!",
            "Half man. Half Fox. All good. Not stop!"
          ],
          "climaxing": [
            "Foxman cums! Make puppies? Hope much!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Kitsune woman. Fenerox take. Ride long!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mouse person. Fenerox catch. Make mate, pleasure fenerox!"
          ],
          "climaxing": [
            "Cums again? How often. Lost count.",
            "Cums inside. Makes mice? how many?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mouse person. Fenerox catch. Make mate, pleasure fenerox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Cat-man. Fenerox dominates!",
            "Cat cock. Need more! Fuck me!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Hu-man. Like Fenerox? Cock hard, says yes!",
            "Smooth man. Pleasure Fenerox! Please master!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow cock. Much hot. Almost burn! Fenerox continue! Need more!",
            "Cow-boy. Ride horse? Not here! Fenerox ride!"
          ],
          "climaxing": [
            "It burns! Too much! Almost."
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Tiny bird. Lie down! Fenerox Dominate!",
            "Little bird. Big cock. Much surprised."
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Big fox. Fenerox dominate! Never release! Too beautiful!",
            "Big fox. So beautiful. Mate Fenerox! Is lucky! So good!"
          ],
          "climaxing": [
            "Fox cums. Make puppies. Much yes!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug person. Mates Fenerox. But how? Not sure. Not care. Too good!"
          ],
          "climaxing": [
            "Bug cums! Make eggs?"
          ],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox cums!"
          ],
          "climaxing": [
            "We cum!",
            "Fuzzy insides. Very hot! M-m-massive climax!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "Fenerox": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fenerox curious. Want pregnant too? Offer mate."
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]