[
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Floran wantsss to hear you beg for it.",
            "You're going to need crutches when Floran isssss done fucking you.",
            "Floran has been craving your assssss!"
          ],
          "climaxing": [
            "C-clench Floran's cock! Unnh, yeah! Cum!",
            "Ooooh~ You're milking Floran!~"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Florans wantsss want to hear you beg for it.",
            "You're going to need crutches when I'm done fucking you.",
            "Floran has been craving your pussssssy!"
          ],
          "climaxing": [
            "O-oh.. you're tight! Sssssquirt for Floran!"
          ],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Ape dominate floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Ape dominate floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Lissssard dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Lissssard dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Asssss cold!",
            "Sssstinky bird dominate Floran!"
          ],
          "climaxing": [
            "Cum isssss cold!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Pussssssy Cold!",
            "Sssstinky bird dominate Floran!"
          ],
          "climaxing": [
            "Cum isssss cold!"
          ],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Bird dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bird dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Focksssss dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Focksssss dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Bunny dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bunny dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Deer-man dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Deer-man dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Dragon dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Dragon dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "You female. Yet hasss dick. What?!",
            "Fox-woman dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fox-woman dominate Floran!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Glow-focksss dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow-focksss dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            " dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            " dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Floran conquer mate!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran conquer mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Tentacle-man dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Tentacle-woman dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Wimpy plant dominate Floran! How?!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Wimpy plant dominate Floran! How?!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Masshhhiiine dominate Floran!",
            "Machine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Masshhhiiine dominate Floran!",
            "Machine built for Floran's pleassssure!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Human dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Human dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fissssh dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fissssh dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            " dominate Floran wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            " dominate Floran wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Man-fox dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Woman-fox dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "Demon dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Demon dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Fox-thing dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fox-thing dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Mousssse dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mousssse dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Man-cat dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Woman-cat dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Human dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Human dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Glow man assss is hot! Too hot!",
            "Glow-man dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Glow woman pusssssy is hot! Too hot!",
            "Glow-woman dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Penguin tight!",
            "Little bird dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Penguin tight!",
            "Little bird dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Fox dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fox dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Bug dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Bug dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Darknesssss man dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Darknesssss man dominate Floran!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  },
  {
    "default": {
      "default": {
        "male": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Floran wantsss to hear you beg for it.",
            "You're going to need crutches when Floran isssss done fucking you.",
            "Floran has been craving your cock!"
          ],
          "climaxing": [
            "Floran issss gonna take all your pollen!",
            "Yesss~! Ssspray your yummy pollen all up inssside~!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "You're going to forget your name after Floran isssss done fucking you tonight!",
            "You're a good little ssssslut, aren't you?",
            "Ask for permission before you cum… Floran wantsss to hear you beg for it.",
            "You're going to need crutches when Floran isssss done fucking you.",
            "Floran has been craving you!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [
            "Give floran big ape cock!",
            "Floran dominate ape!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate ape!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "argonian": {
        "male": {
          "default": [
            "Give floran big lisssard cock!",
            "Floran dominate lissssard!!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate lissssard!!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [
            "Give floran big cold bird cock!",
            "Floran dominate ssstinky bird!"
          ],
          "climaxing": [
            "Cum isssss sso cold!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate ssstinky bird!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [
            "Give floran big bird cock!",
            "Floran dominate bird!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bird!",
            "Floran dominate bird!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "braixen": {
        "male": {
          "default": [
            "Give floran big fox cock!",
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "bunnykin": {
        "male": {
          "default": [
            "Give floran big bunny cock!",
            "Floran dominate bunny!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate bunny!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "deerkin": {
        "male": {
          "default": [
            "Give floran big deer cock!",
            "Floran dominate deer!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate deer!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "demon": {
        "male": {
          "default": [
            "Give floran big demon cock!",
            "Floran dominate deer!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate deer!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "draconis": {
        "male": {
          "default": [
            "Give floran big dragon cock!",
            "Floran dominate dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate dragon!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "everis": {
        "male": {
          "default": [
            "Give floran big fox girl cock!",
            "Floran dominate weird fox-girl!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox-girl!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "eevee": {
        "male": {
          "default": [
            "Give floran big doggie cock!",
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "familiar": {
        "male": {
          "default": [
            "Give floran big glowing cock!",
            "Floran dominate glow-fox!"
          ],
          "climaxing": [
            "cum issss glowing insde Floran!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate glow-fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [
            "Floran dominate cat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate cat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "fragmentedruin": {
        "male": {
          "default": [
            "Give floran big silmey tentacle cock!",
            "Floran dominate tentacle!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate tentacle!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [
            "Floran dominate mate!"
          ],
          "climaxing": [
            "Yessss! Let'sss make more hunterssss!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate mate!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "gardevan": {
        "male": {
          "default": [
            "Give floran big flower cock!",
            "Floran dominate weak flower person!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate weak flower person!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [
            "Massshiine built for Floran's pleassssure!",
            "Floran dominate Massshiine!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Massshiine built for Floran's pleassssure!",
            "Floran dominate Massshiine!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [
            "Give floran big human dick!",
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [
            "Fisssssh is in proper place!",
            "Floran dominate Fisssssh!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fisssssh is in proper place!",
            "Floran dominate Fisssssh!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kemono": {
        "male": {
          "default": [
            "Give floran big doggie dick!",
            "Floran dominate wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate wolf!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "kitsune": {
        "male": {
          "default": [
            "Give floran big doggie-man dick!",
            "Floran dominate man-fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big man-fox!",
            "Floran dominate man-fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lastree": {
        "male": {
          "default": [
            "No! You will be fucked by floran!",
            "Give floran big demon dick!",
            "Floran dominate demon!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "No! You will be fucked by floran!",
            "Floran dominate demon!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "lombax": {
        "male": {
          "default": [
            "Fuck floran, you big fox-thing!",
            "Give floran big foxie dick!",
            "Floran dominate fox-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox-thing!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "mauskin": {
        "male": {
          "default": [
            "Give floran big rat dick!",
            "Floran dominate moussssie!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate moussssie!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "neko": {
        "male": {
          "default": [
            "Give floran big kitty dick!",
            "Floran dominate man-cat!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate man-cat!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "ningen": {
        "male": {
          "default": [
            "Give floran big human dick!",
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate human!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [
            "Ssssstarman sso warm and bright~!",
            "Ssssstarman sso warm inside floran~!",
            "Floran dominate glow-man!"
          ],
          "climaxing": [
            "Ah, you make Floran's sssap boil~!"
          ],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate glow-man!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [
            "Little bird hassss big cock!",
            "Give floran little bird'sss big cock!",
            "Floran dominate little bird!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate little bird!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "renamon": {
        "male": {
          "default": [
            "Give floran big fox dick!",
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate fox!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "saturn": {
        "male": {
          "default": [
            "Give floran big bug dick!",
            "Floran dominate bug!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Fuck floran, you big bug!",
            "Floran dominate bug!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [
            "Give floran big dark cock!",
            "Floran dominate darknesssss man!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran dominate darknesssss man!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "climaxing": {
      "default": {
        "male": {
          "default": [
            "Floran issssssss cumming!"
          ],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Floran issssssss cumming!"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    },
    "pregnant": {
      "default": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "apex": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avali": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "avian": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "felin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "floran": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [
            "Mate strong. Can get you pregnant too, yessss?"
          ],
          "climaxing": [],
          "pregnant": []
        }
      },
      "glitch": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "human": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "hylotl": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "novakid": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "penguin": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      },
      "shadow": {
        "male": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        },
        "female": {
          "default": [],
          "climaxing": [],
          "pregnant": []
        }
      }
    }
  }
]