{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Like dick. Can mate?",
							"Feel wrong. But good! Keep going!",
							"Weird thing. Feel like dick! L-love this!",
							"Breathing hard. Powerful thrusts. Wet bits!",
							"Weird thing. Fuck good! Want more!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Just cum? So full!",
							"Floating dick, cumming much. So good!",
							"Confused. But happy. Cum more!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Feel good... So close. Thrust more!",
							"About to cum. So good!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing, make Fenerox cum!",
							"Fenerox cums!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums! Floating dick too!",
							"Weird thing, make Fenerox cum!",
							"Floating dick, cumming much. So good!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Want more!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Like dick. Can mate?",
							"Feel wrong. But good! Keep going!",
							"Weird thing. Feel like dick! L-love this!",
							"Breathing hard. Powerful thrusts. Wet bits!",
							"Weird thing. Fuck good! Want more!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Weird thing. Just cum? So full!",
							"Floating dick, cumming much. So good!",
							"Confused. But happy. Cum more!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Feel good... So close. Thrust more!",
							"About to cum. So good!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Weird thing, make Fenerox cum!",
							"Fenerox cums!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cums! Floating dick too!",
							"Weird thing, make Fenerox cum!",
							"Floating dick, cumming much. So good!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Hah... H-hah... Want more!"
						]
					}
				}
			}
		}
	}
}