{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss being in control!",
							"Floran likesss prey, but thisssss thing feels good!",
							"Yesssss, Floran needed thisss!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Ooooh~! Little toy can ssssspray pollen too!",
							"Oh yesssss, fill Floran up you tasssty toy dick!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Mmmmh, Floran isssss about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss new toy. Let'sss go again!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss being in control!",
							"Floran likesss prey, but thisssss thing feels good!",
							"Yesssss, Floran needed thisss!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Ooooh~! Little toy can ssssspray pollen too!",
							"Oh yesssss, fill Floran up you tasssty toy dick!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Mmmmh, Floran isssss about to cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran isssssss cumming!",
							"Good little toy, made Floren cum!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Floran likesssss new toy. Let'sss go again!"
						]
					}
				}
			}
		}
	}
}