{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"toy_in_vagina": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my pussy just right!",
							"Proud. Such a high quality toy!",
							"Boastful. Prime Glitch craftsmanship on this toy!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!",
							"Proud. The wonders of technology are amazing!",
							"Joyful. So full, and I don't even risk getting pregnant! Worried. Right?",
							"Joyful. This thing is great, it filled me up so much it's dripping out already!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Warning. Pleasure overload imminent!",
							"Gluttonus. That's it just a bit more!",
							"Impatient. Ok, time for the final sprint!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!",
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Lecherous. Hah... H-hah... Mmmh, one more time!",
							"Greedy. Quick breather... Here I go again!",
							"Demanding. Too good to stop now",
							"Boastful. It's not like this thing can go limp anyway!"
						]
					}
				}
			}
		},
		"toy_in_ass": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. Not quite the real deal, but I still can't get enough!",
							"Aroused. It's stuffing my pussy just right!",
							"Proud. Such a high quality toy!",
							"Boastful. Prime Glitch craftsmanship on this toy!",
							"Lustful. Wish I had this thing earlier in my life!",
							"Joyful. Mnnnh, it fits my port perfectly!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!",
							"Proud. The wonders of technology are amazing!",
							"Joyful. This thing is great, it filled me up so much it's dripping out already!"
						]
					}
				}
			},
			"prexlimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Warning. Pleasure overload imminent!",
							"Gluttonus. That's it just a bit more!",
							"Impatient. Ok, time for the final sprint!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Extatic. Mnnnnngh yes, I'm cumming!",
							"Dazed. Cumming from a toy... So good!",
							"Climaxing. This toy just made me cum!",
							"Elated. It even has a cum pump module!",
							"Pleasured. It's filling me up so much!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Lecherous. Hah... H-hah... Mmmh, one more time!",
							"Greedy. Quick breather... Here I go again!",
							"Demanding. Too good to stop now",
							"Boastful. It's not like this thing can go limp anyway!"
						]
					}
				}
			}
		}
	}
}