{
  "name" : "doggy_in_bed",

  "base" : "doggy",
  
  "friendlyName" : "Doggy in Bed",

  "animationState" : {
    "states" : {
      "idleState"   : {
        "properties" : {
          "frameName" : "idle_laying",
          "stateName" : "idle_laying",
          "rotateHead": [90, 0]
        }
      }
    }
  }
}