{
  "name": "double_doggy",
  "base": "doggy",
  "friendlyName": "Double Doggy",
  "possiblePregnancy": [ false, false ],
  "possibleImpregnation":[false, false],
  "actorRelation": [0,0],
  "interactionType": ["toy_dick","toy_dick"],
  "minRequiredActors" : 1,
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],

  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/double_doggy/defaultdoubledoggyfull.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/double_doggy/apexdoubledoggy.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/double_doggy/aviandoubledoggy.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/double_doggy/feneroxdoubledoggy.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/double_doggy/florandoubledoggy.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/double_doggy/glitchdoubledoggy.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/double_doggy/humandoubledoggy.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/double_doggy/hylotldoubledoggy.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/double_doggy/novakiddoubledoggy.config"
  },

  "animationState": {
    "properties" : {
      "flipBody"      : [ true, false ],
      "headBangSpeedMultiplier" : [ 10, 10, 0, 0 ],
      "overrideRoles" : [ "actor2", "actor2" ]
    }
  },

  "climaxConfig": [
    {
      "male": {
        "particleName": "climaxdoubledoggymale1",
        "projectileName": "climaxdoubledoggymale1",
        "projectileStartAngle": 0
      },

      "female": {
        "particleName": "climaxdoubledoggyfemale1",
        "projectileName": "climaxdoubledoggyfemale1",
        "projectileStartAngle": 0
      }
    },

    {
      "male": {
        "particleName": "climaxdoubledoggymale2",
        "projectileName": "climaxdoubledoggymale2",
        "projectileStartAngle": 0
      },

      "female": {
        "particleName": "climaxdoubledoggyfemale2",
        "projectileName": "climaxdoubledoggyfemale2",
        "projectileStartAngle": 0
      }
    }
  ]
}
