{
  "name": "double_doggy",
  "base": "doggy",
  "friendlyName": "Double Doggy",
  "possiblePregnancy": [ false, false ],
  "possibleImpregnation":[false, false],
  "actorRelation": [0,0],
  "interactionType": ["direct","direct"],
  "maxAllowedActors"  : 2,
  "requireTraits"     : [null, null, null, null],

  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/double_doggy/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/double_doggy/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/double_doggy/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/double_doggy/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/double_doggy/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/double_doggy/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/double_doggy/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/double_doggy/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/double_doggy/novakid<gender>.config",
    "neki"    : "/dialog/sexbound/<langcode>/positions/double_doggy/default<gender>.config"
  },

  "animationState": {
    "properties" : {
      "flipBody"      : [ true, false ],
      "headBangSpeedMultiplier" : [ 10, 10, 0, 0 ],
      "overrideRoles" : [ "actor2", "actor2" ]
    }
  },

  "climaxConfig": [
    {
      "male": {
        "particleName": "climaxdoubledoggymale1",
        "projectileName": "climaxdoubledoggymale1",
        "projectileStartAngle": 0
      },

      "female": {
        "particleName": "climaxdoubledoggyfemale1",
        "projectileName": "climaxdoubledoggyfemale1",
        "projectileStartAngle": 0
      }
    },

    {
      "male": {
        "particleName": "climaxdoubledoggymale2",
        "projectileName": "climaxdoubledoggymale2",
        "projectileStartAngle": 0
      },

      "female": {
        "particleName": "climaxdoubledoggyfemale2",
        "projectileName": "climaxdoubledoggyfemale2",
        "projectileStartAngle": 0
      }
    }
  ]
}
