{
  "onShowSound" : [
  ],
  "paneLayout" : {
    "background" : {
      "type"       : "background",
      "fileHeader" : "/interface/sexbound/confirmation/header.png",
      "fileBody"   : "/interface/sexbound/confirmation/body.png",
      "fileFooter" : "/interface/sexbound/confirmation/footer.png"
    },
    "bgShine" : {
      "type"     : "image",
      "file"     : "/interface/sexbound/confirmation/shine.png",
      "position" : [0, 20],
      "zlevel"   : -1
    },
    "windowtitle" : {
      "type"     : "title",
      "title"    : "Confirmation",
      "subtitle" : "",
      "position" : [0, 254],
      "icon"     : {
        "type"     : "image",
        "file"     : "",
        "position" : [0, 0],
        "zlevel"   : -1
      }
    },
    "ok" : {
      "type"     : "button",
      "base"     : "/interface/sexbound/confirmation/acceptUp.png",
      "hover"    : "/interface/sexbound/confirmation/acceptOver.png",
      "position" : [135, 38],
      "caption"  : "Okay"
    },
    "cancel" : {
      "type"     : "button",
      "base"     : "/interface/sexbound/confirmation/declineUp.png",
      "hover"    : "/interface/sexbound/confirmation/declineOver.png",
      "position" : [55, 38],
      "caption"  : "Cancel"
    },
    "message" : {
      "type"        : "label",
      "position"    : [60, 119],
      "hAnchor"     : "left",
      "vAnchor"     : "top",
      "wrapWidth"   : 173,
      "lineSpacing" : 1.0,
      "value"       : "",
      "color"       : "white"
    },
    "portrait" : {
      "type"     : "image",
      "position" : [30, 95],
      "scale"    : 0.4,
      "centered" : true
    },
    "name" : {
      "type"      : "label",
      "position"  : [27, 52],
      "hAnchor"   : "mid",
      "vAnchor"   : "bottom",
      "wrapWidth" : 50,
      "value"     : "",
      "color"     : "white"
    },
    "lockKeyboard" : {
      "zlevel" : 1,
      "type"   : "canvas",
      "rect"   : [0, 0, 1, 1],
      "captureKeyboardEvents" : true
    }
  }
}
