{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"oral": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"A blowjob is so underrated~",
							"Deepthroating is the best~",
							"Your throat is the perfect fit~",
							"Yes, keep licking that spot~",
							"So slick and wet~"
						],
						"status": {
							"heat": {
								"text": [
									"Not quite a pussy, but close enough~!",
									"I may not be able to knock you up, but I'll still fill you up!"
								]
							}
						}
					}
				}
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Look at you cumming. Such a nice view~",
							"My dick down your throat feeling this good~?",
							"You making a mess down there is making only more horny~"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Ready? Here it comes~!",
							"I'm about to bust it deep down your throat~!",
							"Can't... hold back... any longer~"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Mmmh, yes make sure to drink every last drop~!",
							"Sex and a free meal? You're so lucky~",
							"Ahhh, such a big load down your throat~",
							"Your mouth-pussy feels so good I'm cumming!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mmmh, yes make sure to drink every last drop~!",
							"Sex and a free meal? You're so lucky~",
							"Ahhh, such a big load down your throat~",
							"Your mouth-pussy feels so good I'm cumming!",
							"Look at you squirting all over the place. So happy to drink my cum~",
							"I see you enjoyed sucking me off too~"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Your throat felt so good, I think I'll just go again!",
							"Still hungry? Sure thing~",
							"Got plenty more where that came from, so start sucking~"
						]
					}
				}
			}
		}
	}
}