{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"oral": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Tight throat. Wet and warm. Feeling good!",
							"Face hump. Make think. Who pray?",
							"Hole is hole. Thrust harder!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Warm breath. Mate moan? Big cum!",
							"Lick best spot. So good!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum soon!",
							"Too good. Close. Cum!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum! Big load! Taste good?",
							"Drink all! Not done!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Fenerox cum! Big load! Taste good?",
							"Drink all! Not done!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"override": true,
					"text": [
						"Good fuck. Throat nice. Go again!"
					]
				}
			}
		}
	}
}