{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"oral": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran lovesssss exploring new holes!",
							"Wet and tight, just how Floran likesssss!",
							"Don't you dare bite Floran!",
							"Hungry? Floran makes sssssure to fill you good!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Don't you dare bite Floran!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Are you ready? Fresh nectar isssss coming!",
							"Prepare for a big load!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Floran hopesssss you like nectar, 'cause there isss alot more coming!",
							"Keep drinking! Floran isssss giving this nectar just for you!",
							"Floran will fill your belly until you're full!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Floran hopesssss you like nectar, 'cause there isss alot more coming!",
							"Keep drinking! Floran isssss giving this nectar just for you!",
							"Floran will fill your belly until you're full!",
							"Just drinking, no biting!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"That wasssss good. Next round!"
							"Keep ssssswallowing, Floran jusssst go again!"
						]
					}
				}
			}
		}
	}
}