{
	"base": "/dialog/sexbound/en/defaultsextalk.config",
	"content": {
		"oral": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Domineering. Your throat makes a good fuckhole!",
							"Arrogant. Hole is hole and made for my cock!",
							"Greedy. Keep licking like you mean it!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Cautious. Cum all you want, but don't you dare bite down!"
						]
					}
				}
			},
			"preclimax": {
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Teasing. Prepare for a big load!",
							"Boastful. I'll fill you up so you'll never go hungry again!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. More where that came from!",
							"Intoxicated. cumming deep down your throat!",
							"Relieved. Can't hold it back anymore!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Pleasured. More where that came from!",
							"Intoxicated. cumming deep down your throat!",
							"Relieved. Can't hold it back anymore!"
						]
					}
				}
			},
			"postclimax": {
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Teasing. Ready for the next round?",
							"Excited. I'm far from done yet!"
						]
					}
				}
			}
		}
	}
}