{
	"base": null,
	"content": {
		"default": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Ah~!",
							"Yes!",
							"Keep going!",
							"Mmmmh~",
							"Oh yes~!"
						]
					}
				},
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Are you getting close?",
							"You're twitching so much!",
							"Ready for the finale?"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mmh yes, cum for me!",
							"Oh that's a big one!",
							"Enjoyed it that much?",
							"Let it all out~",
							"Don't worry, we can keep going~!"
						]
					}
				},
				"postclimax": {
					"default": {
						"override": true,
						"text": []
					}
				}
			},
			"preclimax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Ah~ I'm getting close~!",
							"Almost... there~",
							"Just a bit more~!"
						]
					}
				},
				"preclimax": {
					"default": {
						"override": true,
						"text": [
							"Are you getting close?",
							"You're twitching so much!",
							"Ready for the finale?",
							"Ah~ I'm getting close~!",
							"Almost... there~",
							"Just a bit more~!",
							"Let's cum together!"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"postclimax": {
					"default": {
						"override": true,
						"text": []
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Ahhhh~!",
							"I'm cumming~!",
							"Yeeesss~!",
							"So good~",
							"You really made me cum~!"
						]
					}
				},
				"preclimax": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Cumming together feels the best~!",
							"Don't hold back - I won't either!",
							"This is the best~!",
							"Don't worry, we can keep going~!"
						]
					}
				},
				"postclimax": {
					"default": {
						"override": true,
						"text": []
					}
				}
			},
			"postclimax": {
				"sex": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"preclimax": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": []
					}
				},
				"postclimax": {
					"default": {
						"override": true,
						"text": [
							"Ready for the next round?",
							"Oh, we're just getting started~",
							"Here we go again!"
						]
					}
				}
			}
		}
	}
}