{
  "plugins" : {
    "pregnant" : {
      "birth": {
        "gaveBirth": "Congratulations! You have just given birth to a baby <babygender> named <babyname>!",
        "remoteGaveBirth": "<name> has just given birth to a baby <babygender> named <babyname>!",
        "abortion": "As you swallow the pill, you feel relieved to postpone the responsibilities of being a mother.",
        "stillborn": "You're baby <babygender> <babyname> is a stillborn. My condolences for your loss.",
        "remoteStillborn": "<name> just received a stillborn baby <babygender>..."
      },
      "pregnancy": [
        {
          "pregnant": "You were just impregnanted by <name>, and you will give birth in <daycount> <daystring>!",
          "remotePregnant": "You just impregnated <name>, and they will give birth in <daycount> <daystring>!",
          "tentaclePregnant": "As the tentacle is penetrating your womb, you know it's too late. You are pregnant."
        },
        {
          "pregnant": "You feel hot and bothered deep inside.",
          "remotePregnant": "<name> is happily looking your way. You know what that means.",
          "tentaclePregnant": "As the tentacle is penetrating your womb, you know it's too late."
        }
      ],
      "abortion" : [
        {
          "default": "Maybe mindlessly fucking while pregnant wasn't the best idea... You are no longer pregnant. Cum gives, and cum takes.",
          "novakid": "The steaming hot novakid cum fills your womb, sizzling away any chance for your current pregnancy to conclude.",
          "avali": "The freezing cold avali cum filling your womb successfully sterilized whatever was growing in there.",
          "floran": "The small floran vines penetrate your womb, flailing around while spraying nectar everywhere. Sadly, your pregnancy suffered from that.",
          "argonian": "As a huge lizard egg is forcefully shoved deep into your womb, your current pregnancy had to make way.",
          "glitch": "Whatever shot out of that robot dick deep inside of you, it wasn't good for your current pregnancy."
        },
        {
          "default": "Maybe mindlessly fucking while pregnant wasn't the best idea...",
          "novakid": "The steaming hot novakid cum fills your womb. Actually, too hot... Ouch!",
          "avali": "The freezing cold avali cum filling your womb let's a shudder run down your spine.",
          "floran": "The small floran vines penetrate your womb, flailing around while spraying nectar everywhere.",
          "argonian": "As a huge lizard egg is forcefully shoved deep into your womb, you wonder how that even managed to fit?",
          "glitch": "Whatever shot out of that robot dick deep inside of you, you're pretty sure it wasn't healthy."
        }
      ],
      "remoteAbortion": [
        {
          "default": "Fucking a pregnant woman might be a great feeling, but the baby didn't like your roughplay as much. Time to make a new one.",
          "novakid": "As you unload your hot, steaming load into her womb, your burning lust removes any sign of her pregnancy.",
          "avali": "As you unload your biggest chilly load deep into her womb, her current pregnancy was successfully frozen in time. Permanently.",
          "floran": "As your dick vines, shoved deep into her womb, flail around spraying your nectar everywhere, you're smacking the baby real good.",
          "argonian": "While your attempt to shove your egg into her womb was met with resistance at first, once the old baby was gone it went fully in.",
          "glitch": "Curious. What happens when you combine pregnant womb with glitch oil? Infertilization chance is high."
        },
        {
          "default": "Fucking a pregnant woman might be a great feeling, but was it a good idea?",
          "novakid": "As you unload your hot, steaming load into her womb, you realize that maybe not every species is made to take it.",
          "avali": "As you unload your biggest chilly load deep into her womb, you start to question if that was good for the baby.",
          "floran": "As your dick vines, shoved deep into her womb, flail around spraying your nectar everywhere, you feel them hitting something.",
          "argonian": "While your attempt to shove your egg into her womb was met with resistance at first, you finally made sure it's fully in.",
          "glitch": "Curious. What happens when you combine pregnant womb with glitch oil?"
        }
      ]
    }
  },
  "events": {
    "genderchange": {
      "default": "What's this? It seems your body is rapidly generating new cellular material in your pelvis region.",
      "none": "You've reverted back to your default gender."
    },
    "sterilize": {
      "true": "You have been successfully sterilized. Fertilization is now impossible.",
      "false": "Your sterilization has been successfully reverted. Be mindful about fertilization."
    }
  }
}