{
	"base": "/dialog/sexbound/en/positions/missionary/defaultmissionaryfull.config",
	"add": true,
	"content": {
		"vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"We're not called Apex for nothing!",
							"As you can see... I'M Big Ape!",
							"Rrr... y-you feel so good...",
							"I-I'm going APE! ...sorry.",
							"I'm built to last for days! I hope you're ready for that~"
						]
					},
					"human": {
						"text": [
							"You're so fleshy... I like it!"
						]
					}
				}
			}
		},
		"r_vaginal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Big Ape probably doesn't want to watch this~!",
							"You're brutal~! Look at my hole fidget~!",
							"Mmh... now this is my kinda banana!",
							"Big Ape probably shouldn't watch this...",
							"Oooh~! I think I much prefer this over bananas~!",
							"Don't tantalize me with bananas! Shove yours inside me! Faster~!",
							"Do you like my fur? Would you like it more if your cum coated it~?"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mmh~! Fill my needy primate hole with your worthy seed~!",
							"I s-scientifically endorse this seminal deposit!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"I'm... I'm cumming! T-tear my fur o-out!"
						]
					}
				}
			}
		},
		"anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"We're not called Apex for nothing!",
							"As you can see... I'M Big Ape!",
							"Rrr... y-you feel so good...",
							"I-I'm going APE! ...sorry.",
							"I'm built to last for days! I hope you're ready for that~"
						]
					},
					"human": {
						"text": [
							"You're so fleshy... I like it!"
						]
					}
				}
			}
		},
		"r_anal": {
			"sex": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"Big Ape probably doesn't want to watch this~!",
							"You're brutal~! Look at my hole fidget~!",
							"Mmh... now this is my kinda banana!",
							"Big Ape probably shouldn't watch this...",
							"Oooh~! I think I much prefer this over bananas~!",
							"Don't tantalize me with bananas! Shove yours inside me! Faster~!",
							"Do you like my fur? Would you like it more if your cum coated it~?"
						]
					}
				},
				"climax": {
					"default": {
						"override": true,
						"text": [
							"Mmh~! Fill my needy primate hole with your worthy seed~!",
							"I s-scientifically endorse this seminal deposit!"
						]
					}
				}
			},
			"climax": {
				"sex": {
					"default": {
						"override": true,
						"text": [
							"I'm... I'm cumming! T-tear my fur o-out!"
						]
					}
				}
			}
		}
	}
}